In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import scipy.stats as stats
import seaborn as sns

# Bundesliga Stats

In [2]:
#Stats for 2017-2018
table_1 = pd.read_html('https://fbref.com/en/comps/20/2017-2018/2017-2018-Bundesliga-Stats')
Bundes_Table_1718 = pd.DataFrame(table_1[0])
Bundes_Table_1718["Season"] = "2017-18"

In [3]:
#Stats for 2018-2019
table_1 = pd.read_html('https://fbref.com/en/comps/20/2018-2019/2018-2019-Bundesliga-Stats')
Bundes_Table_1819 = pd.DataFrame(table_1[0])
Bundes_Table_1819["Season"] = "2018-19"

In [4]:
#Stats for 2019-2020
table_1 = pd.read_html('https://fbref.com/en/comps/20/2019-2020/2019-2020-Bundesliga-Stats')
Bundes_Table_1920 = pd.DataFrame(table_1[0])
Bundes_Table_1920["Season"] = "2019-20"

In [5]:
#Stats for 2020-21
table_1 =  pd.read_html('https://fbref.com/en/comps/20/2020-2021/2020-2021-Bundesliga-Stats')
Bundes_Table_2021 = pd.DataFrame(table_1[0])
Bundes_Table_2021["Season"] = "2020-21"

In [6]:
#Stats for 2021-22
table_1 =  pd.read_html('https://fbref.com/en/comps/20/2021-2022/2021-2022-Bundesliga-Stats')
Bundes_Table_2122 = pd.DataFrame(table_1[0])
Bundes_Table_2122["Season"] = "2021-22"

# Bundesliga Team Age

In [7]:
#2017 - 2018 age
table_2 = pd.read_html('https://fbref.com/en/comps/20/2017-2018/2017-2018-Bundesliga-Stats')
Bundes_TeamAge_1718 = pd.DataFrame(table_2[2])

In [8]:
#2018 - 2019 age
table_2 = pd.read_html('https://fbref.com/en/comps/20/2018-2019/2018-2019-Bundesliga-Stats')
Bundes_TeamAge_1819 = pd.DataFrame(table_2[2])

In [9]:
#2019 - 2020 age
table_2 = pd.read_html('https://fbref.com/en/comps/20/2019-2020/2019-2020-Bundesliga-Stats')
Bundes_TeamAge_1920 = pd.DataFrame(table_2[2])

In [10]:
#2020 - 2021 age
table_2 = pd.read_html('https://fbref.com/en/comps/20/2020-2021/2020-2021-Bundesliga-Stats')
Bundes_TeamAge_2021 = pd.DataFrame(table_2[2])

In [11]:
#2021 - 2022 age
table_2 = pd.read_html('https://fbref.com/en/comps/20/2021-2022/2021-2022-Bundesliga-Stats')
Bundes_TeamAge_2122 = pd.DataFrame(table_2[2])

In [12]:
Bundes_TeamAge_1718 = Bundes_TeamAge_1718.droplevel(0,axis = 1) 
Bundes_TeamAge_1819 = Bundes_TeamAge_1819.droplevel(0,axis = 1) 
Bundes_TeamAge_1920 = Bundes_TeamAge_1920.droplevel(0,axis = 1) 
Bundes_TeamAge_2021 = Bundes_TeamAge_2021.droplevel(0,axis = 1) 
Bundes_TeamAge_2122 = Bundes_TeamAge_2122.droplevel(0,axis = 1)

In [13]:
Bundes_TeamAge_1718['Season'] = "2017-18"
Bundes_TeamAge_1819['Season'] = "2018-19"
Bundes_TeamAge_1920['Season'] = "2019-20"
Bundes_TeamAge_2021['Season'] = "2020-21"
Bundes_TeamAge_2122['Season'] = "2021-22"

In [14]:
combined_bunesdliga_age = pd.concat([Bundes_TeamAge_1718,
                                     Bundes_TeamAge_1819,
                                   Bundes_TeamAge_1920,
                                  Bundes_TeamAge_2021,
                                  Bundes_TeamAge_2122   ])
combined_bunesdliga_age.head()

,Squad,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,...,Ast,G+A,G-PK,G+A-PK,xG,xAG,xG+xAG,npxG,npxG+xAG,Season
0,Augsburg,27,26.6,45.7,34,374,3060,34.0,41,30,...,0.88,2.09,1.09,1.97,1.32,0.95,2.27,1.22,2.17,2017-18
1,Bayern Munich,28,27.4,66.1,34,374,3060,34.0,90,72,...,2.12,4.76,2.47,4.59,2.23,1.73,3.96,2.05,3.78,2017-18
2,Dortmund,30,25.9,59.1,34,374,3060,34.0,62,44,...,1.29,3.12,1.74,3.03,1.94,1.44,3.38,1.81,3.24,2017-18
3,Eint Frankfurt,28,26.4,47.9,34,374,3060,34.0,44,34,...,1.00,2.29,1.24,2.24,1.24,0.90,2.14,1.20,2.11,2017-18
4,Freiburg,29,24.8,44.8,34,374,3060,34.0,32,21,...,0.62,1.56,0.76,1.38,1.16,0.74,1.90,0.93,1.67,2017-18

# Bundesliga Match Data

In [15]:
table_3 = pd.read_html('https://fbref.com/en/comps/20/2017-2018/schedule/2017-2018-Bundesliga-Scores-and-Fixtures')
Bundes_Matches1718 = pd.DataFrame(table_3[0])

In [16]:
table_3 = pd.read_html('https://fbref.com/en/comps/20/2018-2019/schedule/2018-2019-Bundesliga-Scores-and-Fixtures')
Bundes_Matches1819 = pd.DataFrame(table_3[0])

In [17]:
table_3 = pd.read_html('https://fbref.com/en/comps/20/2019-2020/schedule/2019-2020-Bundesliga-Scores-and-Fixtures')
Bundes_Matches1920 = pd.DataFrame(table_3[0])

In [18]:
table_3 = pd.read_html('https://fbref.com/en/comps/20/2020-2021/schedule/2020-2021-Bundesliga-Scores-and-Fixtures')
Bundes_Matches2021 = pd.DataFrame(table_3[0])

In [19]:
table_3 = pd.read_html('https://fbref.com/en/comps/20/2021-2022/schedule/2021-2022-Bundesliga-Scores-and-Fixtures')
Bundes_Matches2122 = pd.DataFrame(table_3[0])

In [20]:
Bundes_Matches1718 = Bundes_Matches1718.dropna(how='all')
Bundes_Matches1819 = Bundes_Matches1819.dropna(how='all')
Bundes_Matches1920 = Bundes_Matches1920.dropna(how='all')
Bundes_Matches2021 = Bundes_Matches2021.dropna(how='all')
Bundes_Matches2122 = Bundes_Matches2122.dropna(how='all')

In [21]:
Bundes_Matches1718 = Bundes_Matches1718.drop(['Match Report', 'Notes'], axis=1)
Bundes_Matches1819 = Bundes_Matches1819.drop(['Match Report', 'Notes'], axis=1)
Bundes_Matches1920 = Bundes_Matches1920.drop(['Match Report', 'Notes'], axis=1)
Bundes_Matches2021 = Bundes_Matches2021.drop(['Match Report', 'Notes'], axis=1)
Bundes_Matches2122 = Bundes_Matches2122.drop(['Match Report', 'Notes'], axis=1)

In [22]:
Bundes_Matches1718["Season"] = "2017-18"
Bundes_Matches1819["Season"] = "2018-19"
Bundes_Matches1920["Season"] = "2019-20"
Bundes_Matches2021["Season"] = "2020-21"
Bundes_Matches2122["Season"] = "2021-22"

In [23]:
combined_bundesliga_matches = pd.concat([Bundes_Matches1718,
                                        Bundes_Matches1819,
                                       Bundes_Matches1920,
                                       Bundes_Matches2021,
                                       Bundes_Matches2122 ], axis=0)

In [24]:
combined_bundesliga_matches[['Home Score','Away Score']] = combined_bundesliga_matches['Score'].str.split('–', expand=True)

In [25]:
combined_bundesliga_matches = combined_bundesliga_matches[['Season', 'Wk', 'Date','Time', 'Home', 'Away',
                                                               'Home Score', 'Away Score', 'xG', 'xG.1', 
                                                               'Attendance', 'Venue', 'Referee']]

In [26]:
combined_bundesliga_matches  = combined_bundesliga_matches.rename(columns={ 'xG': 'xG Home', 'xG.1': 'xG Away'})

In [57]:

combined_bundesliga_matches ["xg Diff"] = combined_bundesliga_matches ['xG Home'].astype(float) - combined_bundesliga_matches ['xG Away'].astype(float)
combined_bundesliga_matches ["Actual Diff"] = combined_bundesliga_matches ['Home Score'].astype(float) - combined_bundesliga_matches ['Away Score'].astype(float)
combined_bundesliga_matches['League'] = 'Bundesliga'
combined_bundesliga_matches.head()

,Season,Wk,Date,Time,Home,Away,Home Score,Away Score,xG Home,xG Away,Attendance,Venue,Referee,xg Diff,Actual Diff,League
0,2017-18,1.0,2017-08-18,20:30,Bayern Munich,Leverkusen,3,1,2.6,1.6,75000.0,Allianz Arena,Tobias Stieler,1.0,2.0,Bundesliga
1,2017-18,1.0,2017-08-19,15:30,Hertha BSC,Stuttgart,2,0,0.5,1.0,44751.0,Olympiastadion Berlin,Sascha Stegemann,-0.5,2.0,Bundesliga
2,2017-18,1.0,2017-08-19,15:30,Mainz 05,Hannover 96,0,1,0.7,0.7,28279.0,Opel Arena,Felix Brych,0.0,-1.0,Bundesliga
3,2017-18,1.0,2017-08-19,15:30,Wolfsburg,Dortmund,0,3,0.4,1.0,30000.0,Volkswagen Arena,Robert Hartmann,-0.6,-3.0,Bundesliga
4,2017-18,1.0,2017-08-19,15:30,Hoffenheim,Werder Bremen,1,0,1.0,0.9,30150.0,Dietmar-Hopp-Stadion,Guido Winkmann,0.1,1.0,Bundesliga

# Bundesliga Team Wages

In [28]:
table_4 = pd.read_html('https://fbref.com/en/comps/20/2017-2018/wages/2017-2018-Bundesliga-Wages')
Bundes_Wages1718 = pd.DataFrame(table_4[0])
Bundes_Wages1718["Season"] = "2017-18"

In [29]:
table_4 = pd.read_html('https://fbref.com/en/comps/20/2018-2019/wages/2018-2019-Bundesliga-Wages')
Bundes_Wages1819 = pd.DataFrame(table_4[0])
Bundes_Wages1819["Season"] = "2018-19"

In [30]:
table_4 = pd.read_html('https://fbref.com/en/comps/20/2019-2020/wages/2019-2020-Bundesliga-Wages')
Bundes_Wages1920 = pd.DataFrame(table_4[0])
Bundes_Wages1920["Season"] = "2019-20"

In [31]:
table_4 = pd.read_html('https://fbref.com/en/comps/20/2020-2021/wages/2020-2021-Bundesliga-Wages')
Bundes_Wages2021 = pd.DataFrame(table_4[0])
Bundes_Wages2021["Season"] = "2020-21"

In [32]:
table_4 = pd.read_html('https://fbref.com/en/comps/20/2021-2022/wages/2021-2022-Bundesliga-Wages')
Bundes_Wages2122 = pd.DataFrame(table_4[0])
Bundes_Wages2122["Season"] = "2021-22"

In [33]:
combined_bundesliga_wages = pd.concat([Bundes_Wages1718,
                                      Bundes_Wages1819,
                                      Bundes_Wages1920,
                                      Bundes_Wages2021,
                                      Bundes_Wages2122])
combined_bundesliga_wages.head()

,Rk,Squad,# Pl,Weekly Wages,Annual Wages,% Estimated,Season
0,1,Bayern Munich,38,"€ 3,491,942 (£ 2,928,023, $3,558,679)","€ 181,581,000 (£ 152,257,190, $185,051,324)",100%,2017-18
1,2,Dortmund,33,"€ 1,593,981 (£ 1,336,566, $1,624,444)","€ 82,887,000 (£ 69,501,446, $84,471,113)",100%,2017-18
2,3,Wolfsburg,33,"€ 1,119,346 (£ 938,581, $1,140,739)","€ 58,206,000 (£ 48,806,218, $59,318,416)",100%,2017-18
3,4,Leverkusen,27,"€ 1,093,019 (£ 916,506, $1,113,909)","€ 56,837,000 (£ 47,658,301, $57,923,248)",100%,2017-18
4,5,M'Gladbach,35,"€ 859,173 (£ 720,424, $875,593)","€ 44,677,000 (£ 37,462,041, $45,530,856)",100%,2017-18

In [34]:
Bundes_Merged_1718 = pd.merge(Bundes_Wages1718, Bundes_Table_1718, how='left', on=['Squad'])
Bundes_Merged_1819 = pd.merge(Bundes_Wages1819 , Bundes_Table_1819, how='left', on=['Squad'])
Bundes_Merged_1920 = pd.merge(Bundes_Wages1920, Bundes_Table_1920, how='left', on=['Squad'])
Bundes_Merged_2021 = pd.merge(Bundes_Wages2021, Bundes_Table_2021, how='left', on=['Squad'])
Bundes_Merged_2122 = pd.merge(Bundes_Wages2122, Bundes_Table_2122, how='left', on=['Squad'])

Bundes_Merged_2122.head()

,Rk_x,Squad,# Pl,Weekly Wages,Annual Wages,% Estimated,Season_x,Rk_y,MP,W,...,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes,Season_y
0,1,Bayern Munich,79,"€ 4,588,654 (£ 3,847,625, $4,676,351)","€ 238,610,000 (£ 200,076,486, $243,170,244)",27%,2021-22,1,34,24,...,2.26,89.0,36.3,52.7,1.55,33176,Robert Lewandowski - 35,Manuel Neuer,→ Champions League via league finish,2021-22
1,2,Dortmund,95,"€ 1,735,962 (£ 1,455,618, $1,769,139)","€ 90,270,000 (£ 75,692,148, $91,995,216)",65%,2021-22,2,34,22,...,2.03,64.0,46.3,17.7,0.52,41800,Erling Haaland - 22,Gregor Kobel,→ Champions League via league finish,2021-22
2,3,Wolfsburg,93,"€ 1,183,269 (£ 992,181, $1,205,883)","€ 61,530,000 (£ 51,593,421, $62,705,941)",98%,2021-22,12,34,12,...,1.24,47.7,47.3,0.4,0.01,12018,Lukas Nmecha - 8,Koen Casteels,NaN,2021-22
3,4,RB Leipzig,85,"€ 1,038,846 (£ 871,081, $1,058,700)","€ 54,020,000 (£ 45,296,220, $55,052,414)",59%,2021-22,4,34,17,...,1.71,64.5,40.1,24.5,0.72,22124,Christopher Nkunku - 20,Péter Gulácsi,→ Champions League via league finish,2021-22
4,5,Leverkusen,84,"€ 995,962 (£ 835,122, $1,014,996)","€ 51,790,000 (£ 43,426,351, $52,779,797)",71%,2021-22,3,34,19,...,1.88,62.6,44.0,18.6,0.55,17356,Patrik Schick - 24,Lukáš Hrádecký,→ Champions League via league finish,2021-22

In [35]:
Bundes_1718_df = pd.merge(Bundes_Merged_1718, Bundes_TeamAge_1718, how='left', on=['Squad'])
Bundes_1819_df = pd.merge(Bundes_Merged_1819, Bundes_TeamAge_1819, how='left', on=['Squad'])
Bundes_1920_df = pd.merge(Bundes_Merged_1920, Bundes_TeamAge_1920, how='left', on=['Squad'])
Bundes_2021_df = pd.merge(Bundes_Merged_2021, Bundes_TeamAge_2021, how='left', on=['Squad'])
Bundes_2122_df = pd.merge(Bundes_Merged_2122, Bundes_TeamAge_2122, how='left', on=['Squad'])

Bundes_2122_df.head()

,Rk_x,Squad,# Pl_x,Weekly Wages,Annual Wages,% Estimated,Season_x,Rk_y,MP_x,W,...,Ast,G+A,G-PK,G+A-PK,xG_y,xAG,xG+xAG,npxG,npxG+xAG,Season
0,1,Bayern Munich,79,"€ 4,588,654 (£ 3,847,625, $4,676,351)","€ 238,610,000 (£ 200,076,486, $243,170,244)",27%,2021-22,1,34,24,...,2.06,4.76,2.56,4.62,2.62,1.96,4.58,2.50,4.46,2021-22
1,2,Dortmund,95,"€ 1,735,962 (£ 1,455,618, $1,769,139)","€ 90,270,000 (£ 75,692,148, $91,995,216)",65%,2021-22,2,34,22,...,1.68,4.06,2.06,3.74,1.88,1.32,3.21,1.64,2.97,2021-22
2,3,Wolfsburg,93,"€ 1,183,269 (£ 992,181, $1,205,883)","€ 61,530,000 (£ 51,593,421, $62,705,941)",98%,2021-22,12,34,12,...,0.74,1.97,1.15,1.88,1.40,1.00,2.40,1.32,2.31,2021-22
3,4,RB Leipzig,85,"€ 1,038,846 (£ 871,081, $1,058,700)","€ 54,020,000 (£ 45,296,220, $55,052,414)",59%,2021-22,4,34,17,...,1.56,3.68,1.88,3.44,1.90,1.45,3.34,1.72,3.16,2021-22
4,5,Leverkusen,84,"€ 995,962 (£ 835,122, $1,014,996)","€ 51,790,000 (£ 43,426,351, $52,779,797)",71%,2021-22,3,34,19,...,1.71,3.94,2.18,3.88,1.84,1.36,3.20,1.70,3.06,2021-22

In [36]:
Bundes_2122_df.columns

Index(['Rk_x', 'Squad', '# Pl_x', 'Weekly Wages', 'Annual Wages',
       '% Estimated', 'Season_x', 'Rk_y', 'MP_x', 'W', 'D', 'L', 'GF', 'GA',
       'GD', 'Pts', 'Pts/MP', 'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance',
       'Top Team Scorer', 'Goalkeeper', 'Notes', 'Season_y', '# Pl_y', 'Age',
       'Poss', 'MP_y', 'Starts', 'Min', '90s', 'Gls', 'Ast', 'G+A', 'G-PK',
       'PK', 'PKatt', 'CrdY', 'CrdR', 'xG_y', 'npxG', 'xAG', 'npxG+xAG',
       'PrgC', 'PrgP', 'Gls', 'Ast', 'G+A', 'G-PK', 'G+A-PK', 'xG_y', 'xAG',
       'xG+xAG', 'npxG', 'npxG+xAG', 'Season'],
      dtype='object')

In [37]:
Bundes_sum_1718 = Bundes_1718_df [['Rk_y', 'Squad', '# Pl_x', 'Age', 'Poss', 'Annual Wages', 'MP_x', 'W', 'D', 'L', 'GF',
                                  'GA', 'Pts', 'Pts/MP', 'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]

Bundes_sum_1819 = Bundes_1819_df [['Rk_y', 'Squad', '# Pl_x', 'Age', 'Poss', 'Annual Wages', 'MP_x', 'W', 'D', 'L', 'GF',
                                  'GA', 'Pts', 'Pts/MP', 'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]

Bundes_sum_1920 = Bundes_1920_df[['Rk_y', 'Squad', '# Pl_x', 'Age', 'Poss', 'Annual Wages', 'MP_x', 'W', 'D', 'L', 'GF',
                                  'GA', 'Pts', 'Pts/MP', 'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]

Bundes_sum_2021 = Bundes_2021_df[['Rk_y', 'Squad', '# Pl_x', 'Age', 'Poss', 'Annual Wages', 'MP_x', 'W', 'D', 'L', 'GF',
                                  'GA', 'Pts', 'Pts/MP', 'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]

Bundes_sum_2122 = Bundes_2122_df [['Rk_y', 'Squad', '# Pl_x', 'Age', 'Poss', 'Annual Wages', 'MP_x', 'W', 'D', 'L', 'GF',
                                  'GA', 'Pts', 'Pts/MP', 'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]

Bundes_sum_2122.head()

,Rk_y,Squad,# Pl_x,Age,Poss,Annual Wages,MP_x,W,D,L,GF,GA,Pts,Pts/MP,xG_x,xGA,xGD,xGD/90,Attendance
0,1,Bayern Munich,79,26.8,64.5,"€ 238,610,000 (£ 200,076,486, $243,170,244)",34,24,5,5,97,37,77,2.26,89.0,36.3,52.7,1.55,33176
1,2,Dortmund,95,25.9,59.2,"€ 90,270,000 (£ 75,692,148, $91,995,216)",34,22,3,9,85,52,69,2.03,64.0,46.3,17.7,0.52,41800
2,12,Wolfsburg,93,26.0,50.5,"€ 61,530,000 (£ 51,593,421, $62,705,941)",34,12,6,16,43,54,42,1.24,47.7,47.3,0.4,0.01,12018
3,4,RB Leipzig,85,25.3,56.1,"€ 54,020,000 (£ 45,296,220, $55,052,414)",34,17,7,10,72,37,58,1.71,64.5,40.1,24.5,0.72,22124
4,3,Leverkusen,84,24.4,53.7,"€ 51,790,000 (£ 43,426,351, $52,779,797)",34,19,7,8,80,47,64,1.88,62.6,44.0,18.6,0.55,17356

In [38]:
 Bundes_sum_1718 = Bundes_sum_1718.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                    'Poss': 'Avg Poss', 
                                                                    '# Pl_x': '# of Players', 'MP_x': 'MP', 
                                                                    'xG_x': 'xG'})
Bundes_sum_1819 = Bundes_sum_1819.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                    'Poss': 'Avg Poss', 
                                                                    '# Pl_x': '# of Players', 'MP_x': 'MP', 
                                                                    'xG_x': 'xG'})
Bundes_sum_1920 = Bundes_sum_1920.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                    'Poss': 'Avg Poss', 
                                                                    '# Pl_x': '# of Players', 'MP_x': 'MP', 
                                                                    'xG_x': 'xG'})
 Bundes_sum_2021 = Bundes_sum_2021.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                    'Poss': 'Avg Poss', 
                                                                    '# Pl_x': '# of Players', 'MP_x': 'MP', 
                                                                    'xG_x': 'xG'})

Bundes_sum_2122 = Bundes_sum_2122.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                    'Poss': 'Avg Poss', 
                                                                    '# Pl_x': '# of Players', 'MP_x': 'MP', 
                                                                    'xG_x': 'xG'})
Bundes_sum_2122.head()

,League Rank,Squad,# of Players,Avg Age,Avg Poss,Annual Wages,MP,W,D,L,GF,GA,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance
0,1,Bayern Munich,79,26.8,64.5,"€ 238,610,000 (£ 200,076,486, $243,170,244)",34,24,5,5,97,37,77,2.26,89.0,36.3,52.7,1.55,33176
1,2,Dortmund,95,25.9,59.2,"€ 90,270,000 (£ 75,692,148, $91,995,216)",34,22,3,9,85,52,69,2.03,64.0,46.3,17.7,0.52,41800
2,12,Wolfsburg,93,26.0,50.5,"€ 61,530,000 (£ 51,593,421, $62,705,941)",34,12,6,16,43,54,42,1.24,47.7,47.3,0.4,0.01,12018
3,4,RB Leipzig,85,25.3,56.1,"€ 54,020,000 (£ 45,296,220, $55,052,414)",34,17,7,10,72,37,58,1.71,64.5,40.1,24.5,0.72,22124
4,3,Leverkusen,84,24.4,53.7,"€ 51,790,000 (£ 43,426,351, $52,779,797)",34,19,7,8,80,47,64,1.88,62.6,44.0,18.6,0.55,17356

In [39]:
Bundes_sum_1718[['pounds', 'dollars']] = Bundes_sum_1718['Annual Wages'].str.split('$', expand=True)
Bundes_sum_1819[['pounds', 'dollars']] = Bundes_sum_1819['Annual Wages'].str.split('$', expand=True)
Bundes_sum_1920[['pounds', 'dollars']] = Bundes_sum_1920['Annual Wages'].str.split('$', expand=True)
Bundes_sum_2021[['pounds', 'dollars']] = Bundes_sum_2021['Annual Wages'].str.split('$', expand=True)
Bundes_sum_2122[['pounds', 'dollars']] = Bundes_sum_2122['Annual Wages'].str.split('$', expand=True)

In [40]:
Bundes_sum_1718[['Annual Wages ($)', 'discard']] = Bundes_sum_1718['dollars'].str.split(')', expand=True)
Bundes_sum_1819[['Annual Wages ($)', 'discard']] = Bundes_sum_1819['dollars'].str.split(')', expand=True)
Bundes_sum_1920[['Annual Wages ($)', 'discard']] = Bundes_sum_1920['dollars'].str.split(')', expand=True)
Bundes_sum_2021[['Annual Wages ($)', 'discard']] = Bundes_sum_2021['dollars'].str.split(')', expand=True)
Bundes_sum_2122[['Annual Wages ($)', 'discard']] = Bundes_sum_2122['dollars'].str.split(')', expand=True)

In [41]:
# Drop unwanted columns 
Bundes_sum_1718 = Bundes_sum_1718.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
Bundes_sum_1819 = Bundes_sum_1819.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
Bundes_sum_1920 = Bundes_sum_1920.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
Bundes_sum_2021 = Bundes_sum_2021.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
Bundes_sum_2122 = Bundes_sum_2122.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)

In [42]:
Bundes_sum_1718 = Bundes_sum_1718.sort_values('Pts', ascending=False)
Bundes_sum_1819 = Bundes_sum_1819.sort_values('Pts', ascending=False)
Bundes_sum_1920 = Bundes_sum_1920.sort_values('Pts', ascending=False)
Bundes_sum_2021 = Bundes_sum_2021.sort_values('Pts', ascending=False)
Bundes_sum_2122 = Bundes_sum_2122.sort_values('Pts', ascending=False)

In [43]:
Bundes_sum_1718['Season'] = '2017-2018'
Bundes_sum_1819['Season'] = '2018-2019'
Bundes_sum_1920['Season'] = '2019-2020'
Bundes_sum_2021['Season'] = '2020-2021'
Bundes_sum_2122['Season'] = '2021-2022'

In [49]:
Bundes_seasonsdata_df = pd.concat([Bundes_sum_1718, Bundes_sum_1819, 
                                   Bundes_sum_1920, Bundes_sum_2021, Bundes_sum_2122 ])

In [50]:
Bundes_seasonsdata_df = Bundes_seasonsdata_df[['Season', 'League Rank', 'Squad', '# of Players',
                                              'Avg Age', 'Avg Poss', 'MP', 'W', 'D', 'GF', 'GA',
                                               'Pts', 'Pts/MP', 'xG', 'xGA', 'xGD', 'xGD/90',
                                              'Attendance', 'Annual Wages ($)']]
Bundes_seasonsdata_df = Bundes_seasonsdata_df.reset_index()
Bundes_seasonsdata_df.head()

,index,Season,League Rank,Squad,# of Players,Avg Age,Avg Poss,MP,W,D,GF,GA,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Annual Wages ($)
0,0,2017-2018,1,Bayern Munich,38,27.4,66.1,34,27,3,92,28,84,2.47,75.8,31.7,44.1,1.30,75000,"185,051,324"
1,6,2017-2018,2,Schalke 04,29,26.1,46.6,34,18,9,53,37,63,1.85,46.7,40.2,6.6,0.19,61197,"42,474,540"
2,3,2017-2018,5,Leverkusen,27,24.0,54.6,34,15,10,58,44,55,1.62,57.5,38.9,18.6,0.55,28415,"57,923,248"
3,7,2017-2018,3,Hoffenheim,36,25.0,51.2,34,15,10,66,48,55,1.62,50.5,47.2,3.3,0.10,28716,"39,546,630"
4,1,2017-2018,4,Dortmund,33,25.9,59.1,34,15,10,64,47,55,1.62,66.0,42.2,23.8,0.70,79496,"84,471,113"

In [56]:
Bundes_seasonsdata_df['League'] = 'Bundesliga'
Bundes_seasonsdata_df.head()

,index,Season,League Rank,Squad,# of Players,Avg Age,Avg Poss,MP,W,D,...,GA,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Annual Wages ($),League
0,0,2017-2018,1,Bayern Munich,38,27.4,66.1,34,27,3,...,28,84,2.47,75.8,31.7,44.1,1.30,75000,"185,051,324",Bundesliga
1,6,2017-2018,2,Schalke 04,29,26.1,46.6,34,18,9,...,37,63,1.85,46.7,40.2,6.6,0.19,61197,"42,474,540",Bundesliga
2,3,2017-2018,5,Leverkusen,27,24.0,54.6,34,15,10,...,44,55,1.62,57.5,38.9,18.6,0.55,28415,"57,923,248",Bundesliga
3,7,2017-2018,3,Hoffenheim,36,25.0,51.2,34,15,10,...,48,55,1.62,50.5,47.2,3.3,0.10,28716,"39,546,630",Bundesliga
4,1,2017-2018,4,Dortmund,33,25.9,59.1,34,15,10,...,47,55,1.62,66.0,42.2,23.8,0.70,79496,"84,471,113",Bundesliga

In [55]:
Bundes_seasonsdata_df.to_csv('Bundes_seasonsdata.csv', encoding= 'utf-8')
combined_bundesliga_matches.to_csv('combined_bundesliga_matches.csv', encoding= 'utf-8')