In [8]:
# Import Dependencies
import pandas as pd
import numpy as np

In [11]:
# Get summary tables for each of the last 5 seasons
seasons = ['https://fbref.com/en/comps/13/2017-2018/2017-2018-Ligue-1-Stats',
           'https://fbref.com/en/comps/13/2018-2019/2018-2019-Ligue-1-Stats',
           'https://fbref.com/en/comps/13/2019-2020/2019-2020-Ligue-1-Stats',
           'https://fbref.com/en/comps/13/2020-2021/2020-2021-Ligue-1-Stats',
           'https://fbref.com/en/comps/13/2021-2022/2021-2022-Ligue-1-Stats',
           'https://fbref.com/en/comps/13/2022-2023/2022-2023-Ligue-1-Stats'
          ]
wages = ['https://fbref.com/en/comps/13/2017-2018/wages/2017-2018-Ligue-1-Wages',
         'https://fbref.com/en/comps/13/2018-2019/wages/2018-2019-Ligue-1-Wages',
         'https://fbref.com/en/comps/13/2019-2020/wages/2019-2020-Ligue-1-Wages',
         'https://fbref.com/en/comps/13/2020-2021/wages/2020-2021-Ligue-1-Wages',
         'https://fbref.com/en/comps/13/2021-2022/wages/2021-2022-Ligue-1-Wages',
         'https://fbref.com/en/comps/13/2022-2023/wages/2022-2023-Ligue-1-Wages'
        ]
fixtures = ['https://fbref.com/en/comps/13/2017-2018/schedule/2017-2018-Ligue-1-Scores-and-Fixtures',
            'https://fbref.com/en/comps/13/2018-2019/schedule/2018-2019-Ligue-1-Scores-and-Fixtures',
            'https://fbref.com/en/comps/13/2019-2020/schedule/2019-2020-Ligue-1-Scores-and-Fixtures',
            'https://fbref.com/en/comps/13/2020-2021/schedule/2020-2021-Ligue-1-Scores-and-Fixtures',
            'https://fbref.com/en/comps/13/2021-2022/schedule/2021-2022-Ligue-1-Scores-and-Fixtures',
            'https://fbref.com/en/comps/13/2022-2023/schedule/2022-2023-Ligue-1-Scores-and-Fixtures'
    
    
]
league_name = 'Ligue-1'
#Ligue1_i.to_csv(file_i,sep=",", header=True)
url = seasons[0]
table = pd.read_html(url)
Ligue1_2018_summary_df = pd.DataFrame(table[0])
Ligue1_2018_summary_df.to_csv('C:\Temp\Ligue1_2018_summary.csv',sep=",", header=True)
url = seasons[1]
table = pd.read_html(url)
Ligue1_2019_summary_df = pd.DataFrame(table[0])
Ligue1_2019_summary_df.to_csv('C:\Temp\Ligue1_2019_summary.csv',sep=",", header=True)
url = seasons[2]
table = pd.read_html(url)
Ligue1_2020_summary_df = pd.DataFrame(table[0])
Ligue1_2020_summary_df.to_csv('C:\Temp\Ligue1_2020_summary.csv',sep=",", header=True)
url = seasons[3]
table = pd.read_html(url)
Ligue1_2020_summary_df = pd.DataFrame(table[0])
Ligue1_2020_summary_df.to_csv('C:\Temp\Ligue1_2020_summary.csv',sep=",", header=True)
url = seasons[4]
table = pd.read_html(url)
Ligue1_2021_summary_df = pd.DataFrame(table[0])
Ligue1_2021_summary_df.to_csv('C:\Temp\Ligue1_2021_summary.csv',sep=",", header=True)
url = seasons[5]
table = pd.read_html(url)
Ligue1_2022_summary_df = pd.DataFrame(table[0])
Ligue1_2022_summary_df.to_csv('C:\Temp\Ligue1_2022_summary.csv',sep=",", header=True)
#Ligue1_2018_summary_df
Ligue1_2022_summary_df.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Paris S-G,28,21,3,4,68,28,40,66,2.36,59.7,32.3,27.3,0.98,W W W W L,42929,Kylian Mbappé - 19,Gianluigi Donnarumma,NaN
1,2,Marseille,29,18,6,5,54,29,25,60,2.07,49.0,36.1,12.9,0.44,L W D W D,58650,Alexis Sánchez - 12,Pau López,NaN
2,3,Lens,28,16,9,3,47,21,26,57,2.04,49.9,30.5,19.4,0.69,W D D W W,37531,Loïs Openda - 14,Brice Samba,NaN
3,4,Monaco,28,16,6,6,57,37,20,54,1.93,47.5,37.5,10.0,0.36,W L D L W,7427,Wissam Ben Yedder - 17,Alexander Nübel,NaN
4,5,Rennes,28,15,5,8,47,29,18,50,1.79,43.5,35.1,8.4,0.30,W W L D W,27572,"Amine Gouiri, Martin Terrier - 9",Steve Mandanda,NaN

In [12]:
#data_all = {                                   # Create list of all DataFrames
 #    'data1': data1,
 #    'data2': data2,
 #    'data3': data3
 #}
#for i in range(1, len(data_all) + 1):          # Write each DataFrame to separate CSV
#    data_i = data_all['data' + str(i)]
#    data_i.to_csv('data' + str(i) + '.csv')

In [13]:
# Get 2nd summary table (index[2])for each season
url = seasons[0]
table = pd.read_html(url)
Ligue1_2018_summary2_df = pd.DataFrame(table[2])
Ligue1_2018_summary2_df.to_csv('C:\Temp\Ligue1_2018_summary2.csv',sep=",", header=True)
url = seasons[1]
table = pd.read_html(url)
Ligue1_2019_summary2_df = pd.DataFrame(table[2])
Ligue1_2019_summary2_df.to_csv('C:\Temp\Ligue1_2019_summary2.csv',sep=",", header=True)
url = seasons[2]
table = pd.read_html(url)
Ligue1_2020_summary2_df = pd.DataFrame(table[2])
Ligue1_2020_summary2_df.to_csv('C:\Temp\Ligue1_2020_summary2.csv',sep=",", header=True)
url = seasons[3]
table = pd.read_html(url)
Ligue1_2020_summary2_df = pd.DataFrame(table[2])
Ligue1_2020_summary2_df.to_csv('C:\Temp\Ligue1_2020_summary2.csv',sep=",", header=True)
url = seasons[4]
table = pd.read_html(url)
Ligue1_2021_summary2_df = pd.DataFrame(table[2])
Ligue1_2021_summary2_df.to_csv('C:\Temp\Ligue1_2021_summary2.csv',sep=",", header=True)
url = seasons[5]
table = pd.read_html(url)
Ligue1_2022_summary2_df = pd.DataFrame(table[2])
Ligue1_2022_summary2_df.to_csv('C:\Temp\Ligue1_2022_summary2.csv',sep=",", header=True)
Ligue1_2018_summary2_df.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
               Squad               # Pl                Age               Poss
0             Amiens                 30               27.5               43.3
1             Angers                 27               27.1               45.1
2           Bordeaux                 31               25.1               50.6
3               Caen                 26               27.3               45.5
4              Dijon                 26               26.6               48.4

  Playing Time                    Performance      ... Per 90 Minutes        \
            MP Starts   Min   90s         Gls Ast  ...            Gls   Ast
0           38    418  3420  38.0          36  24  ...           0.95  0.63
1           38    418  3420  38.0          41  30  ...           1.08  0.79
2           38    418  3420  38.0          52  36  ...           1.37  0.95
3           38    418  3420  38.0          25  19  ...           0.66  0.50
4           38    418  3420  38.0          52  36  ...           1.37  0.95


    G+A  G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG
0  1.58  0.87   1.50  0.86  0.56   1.42  0.78     1.35
1  1.87  0.97   1.76  1.25  0.93   2.18  1.17     2.10
2  2.32  1.26   2.21  1.34  0.94   2.29  1.21     2.16
3  1.16  0.53   1.03  1.13  0.78   1.91  0.96     1.74
4  2.32  1.24   2.18  1.09  0.77   1.86  1.00     1.76

[5 rows x 32 columns]

In [14]:
# Remove upper level to allow for merging with other tables
Ligue1_2018_summary2_df = Ligue1_2018_summary2_df.droplevel(0, axis = 1)
Ligue1_2019_summary2_df = Ligue1_2019_summary2_df.droplevel(0, axis = 1)
Ligue1_2020_summary2_df = Ligue1_2020_summary2_df.droplevel(0, axis = 1)
Ligue1_2021_summary2_df = Ligue1_2021_summary2_df.droplevel(0, axis = 1)
Ligue1_2022_summary2_df = Ligue1_2022_summary2_df.droplevel(0, axis = 1)

In [19]:
# Get wages table for each of the last 5 seasons
url = wages[0]
table = pd.read_html(url)
Ligue1_2018_wages_df = pd.DataFrame(table[0])
Ligue1_2018_wages_df.to_csv('C:\Temp\Ligue1_2018_wages.csv',sep=",", header=True)
url = wages[1]
table = pd.read_html(url)
Ligue1_2019_wages_df = pd.DataFrame(table[0])
Ligue1_2019_wages_df.to_csv('C:\Temp\Ligue1_2019_wages.csv',sep=",", header=True)
url = wages[2]
table = pd.read_html(url)
Ligue1_2020_wages_df = pd.DataFrame(table[0])
Ligue1_2020_wages_df.to_csv('C:\Temp\Ligue1_2020_wages.csv',sep=",", header=True)
url = wages[3]
table = pd.read_html(url)
Ligue1_2020_wages_df = pd.DataFrame(table[0])
Ligue1_2020_wages_df.to_csv('C:\Temp\Ligue1_2020_wages.csv',sep=",", header=True)
url = wages[4]
table = pd.read_html(url)
Ligue1_2021_wages_df = pd.DataFrame(table[0])
Ligue1_2021_wages_df.to_csv('C:\Temp\Ligue1_2021_wages.csv',sep=",", header=True)
url = wages[5]
table = pd.read_html(url)
Ligue1_2022_wages_df = pd.DataFrame(table[0])
Ligue1_2022_wages_df.to_csv('C:\Temp\Ligue1_2022_wages.csv',sep=",", header=True)

In [23]:
# Merge wages and season summary for each season
Ligue1_2018_merged_df = pd.merge(Ligue1_2018_wages_df, Ligue1_2018_summary_df, how="left", on=['Squad'])
Ligue1_2018_merged_df.to_csv('C:\Temp\Ligue1_2018_wages_season_summary.csv',sep=",", header=True)
Ligue1_2019_merged_df = pd.merge(Ligue1_2019_wages_df, Ligue1_2019_summary_df, how="left", on=['Squad'])
Ligue1_2019_merged_df.to_csv('C:\Temp\Ligue1_2019_wages_season_summary.csv',sep=",", header=True)
Ligue1_2020_merged_df = pd.merge(Ligue1_2020_wages_df, Ligue1_2020_summary_df, how="left", on=['Squad'])
Ligue1_2020_merged_df.to_csv('C:\Temp\Ligue1_2020_wages_season_summary.csv',sep=",", header=True)
Ligue1_2021_merged_df = pd.merge(Ligue1_2021_wages_df, Ligue1_2021_summary_df, how="left", on=['Squad'])
Ligue1_2021_merged_df.to_csv('C:\Temp\Ligue1_2021_wages_season_summary.csv',sep=",", header=True)
Ligue1_2022_merged_df = pd.merge(Ligue1_2022_wages_df, Ligue1_2022_summary_df, how="left", on=['Squad'])
Ligue1_2022_merged_df.to_csv('C:\Temp\Ligue1_2022_wages_season_summary.csv',sep=",", header=True)
Ligue1_2018_merged_df.head()

,Rk_x,Squad,# Pl,Weekly Wages,Annual Wages,% Estimated,Rk_y,MP,W,D,...,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Paris S-G,35,"€ 3,895,462 (£ 3,266,377, $3,969,910)","€ 202,564,000 (£ 169,851,608, $206,435,344)",100%,1,38,29,6,...,93,2.45,86.1,34.3,51.7,1.36,46930,Edinson Cavani - 28,Alphonse Areola,→ Champions League via league finish
1,2,Monaco,38,"€ 1,314,423 (£ 1,102,155, $1,339,544)","€ 68,350,000 (£ 57,312,046, $69,656,287)",100%,2,38,24,8,...,80,2.11,62.3,48.5,13.8,0.36,9243,Radamel Falcao - 18,Danijel Subašić,→ Champions League via league finish
2,3,Marseille,29,"€ 1,005,423 (£ 843,056, $1,024,638)","€ 52,282,000 (£ 43,838,893, $53,281,198)",100%,4,38,22,11,...,77,2.03,78.1,41.8,36.3,0.96,46616,Florian Thauvin - 22,Steve Mandanda,→ Europa League via league finish
3,4,Lyon,34,"€ 712,942 (£ 597,808, $726,568)","€ 37,073,000 (£ 31,086,023, $37,781,525)",100%,3,38,23,9,...,78,2.05,63.4,40.1,23.3,0.61,44047,Memphis - 19,Anthony Lopes,→ Champions League via league finish
4,5,Lille,32,"€ 520,846 (£ 436,734, $530,800)","€ 27,084,000 (£ 22,710,158, $27,601,617)",100%,17,38,10,8,...,38,1.00,36.4,57.9,-21.5,-0.57,31453,Nicolas Pépé - 13,Mike Maignan,NaN

In [24]:
# Merge in summary table#2 for each season
Ligue1_2018_complete_df = pd.merge(Ligue1_2018_merged_df, Ligue1_2018_summary2_df, how="left", on=['Squad'])
Ligue1_2018_complete_df.to_csv('C:\Temp\Ligue1_2018_complete.csv',sep=",", header=True)
Ligue1_2019_complete_df = pd.merge(Ligue1_2018_merged_df, Ligue1_2018_summary2_df, how="left", on=['Squad'])
Ligue1_2019_complete_df.to_csv('C:\Temp\Ligue1_2019_complete.csv',sep=",", header=True)
Ligue1_2020_complete_df = pd.merge(Ligue1_2018_merged_df, Ligue1_2018_summary2_df, how="left", on=['Squad'])
Ligue1_2020_complete_df.to_csv('C:\Temp\Ligue1_2020_complete.csv',sep=",", header=True)
Ligue1_2021_complete_df = pd.merge(Ligue1_2018_merged_df, Ligue1_2018_summary2_df, how="left", on=['Squad'])
Ligue1_2021_complete_df.to_csv('C:\Temp\Ligue1_2021_complete.csv',sep=",", header=True)
Ligue1_2022_complete_df = pd.merge(Ligue1_2018_merged_df, Ligue1_2018_summary2_df, how="left", on=['Squad'])
Ligue1_2022_complete_df.to_csv('C:\Temp\Ligue1_2022_complete.csv',sep=",", header=True)
Ligue1_2018_complete_df.head()

,Rk_x,Squad,# Pl_x,Weekly Wages,Annual Wages,% Estimated,Rk_y,MP_x,W,D,...,Gls,Ast,G+A,G-PK,G+A-PK,xG_y,xAG,xG+xAG,npxG,npxG+xAG
0,1,Paris S-G,35,"€ 3,895,462 (£ 3,266,377, $3,969,910)","€ 202,564,000 (£ 169,851,608, $206,435,344)",100%,1,38,29,6,...,2.63,1.97,4.61,2.45,4.42,2.26,1.71,3.98,2.09,3.80
1,2,Monaco,38,"€ 1,314,423 (£ 1,102,155, $1,339,544)","€ 68,350,000 (£ 57,312,046, $69,656,287)",100%,2,38,24,8,...,2.18,1.47,3.66,2.00,3.47,1.64,1.13,2.77,1.48,2.61
2,3,Marseille,29,"€ 1,005,423 (£ 843,056, $1,024,638)","€ 52,282,000 (£ 43,838,893, $53,281,198)",100%,4,38,22,11,...,2.08,1.42,3.50,1.95,3.37,2.06,1.47,3.53,1.89,3.36
3,4,Lyon,34,"€ 712,942 (£ 597,808, $726,568)","€ 37,073,000 (£ 31,086,023, $37,781,525)",100%,3,38,23,9,...,2.24,1.63,3.87,2.08,3.71,1.67,1.15,2.82,1.53,2.69
4,5,Lille,32,"€ 520,846 (£ 436,734, $530,800)","€ 27,084,000 (£ 22,710,158, $27,601,617)",100%,17,38,10,8,...,1.08,0.82,1.89,1.03,1.84,0.96,0.78,1.74,0.92,1.70

In [ ]:
#Get columns
Ligue1_2018_complete_df.columns
Ligue1_2019_complete_df.columns
Ligue1_2020_complete_df.columns
Ligue1_2021_complete_df.columns
Ligue1_2022_complete_df.columns

In [25]:
# Select desired columns for final summary table
Ligue1_2018_sum_complete_df = Ligue1_2018_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages','MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 
                                                   'Pts/MP', 'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]
Ligue1_2019_sum_complete_df = Ligue1_2019_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages','MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 
                                                   'Pts/MP', 'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]
Ligue1_2020_sum_complete_df = Ligue1_2020_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages','MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 
                                                   'Pts/MP', 'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]
Ligue1_2021_sum_complete_df = Ligue1_2021_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages','MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 
                                                   'Pts/MP', 'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]
Ligue1_2022_sum_complete_df = Ligue1_2022_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages','MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 
                                                   'Pts/MP', 'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]

Ligue1_2018_sum_complete_df.head()

,Rk_y,Squad,# Pl_x,Age,Poss,Annual Wages,MP_x,W,D,L,GF,GA,GD,Pts,Pts/MP,xG_x,xGA,xGD,xGD/90,Attendance
0,1,Paris S-G,35,26.1,66.3,"€ 202,564,000 (£ 169,851,608, $206,435,344)",38,29,6,3,108,29,79,93,2.45,86.1,34.3,51.7,1.36,46930
1,2,Monaco,38,25.8,50.9,"€ 68,350,000 (£ 57,312,046, $69,656,287)",38,24,8,6,85,45,40,80,2.11,62.3,48.5,13.8,0.36,9243
2,4,Marseille,29,27.2,57.8,"€ 52,282,000 (£ 43,838,893, $53,281,198)",38,22,11,5,80,47,33,77,2.03,78.1,41.8,36.3,0.96,46616
3,3,Lyon,34,24.4,55.6,"€ 37,073,000 (£ 31,086,023, $37,781,525)",38,23,9,6,87,43,44,78,2.05,63.4,40.1,23.3,0.61,44047
4,17,Lille,32,22.6,53.8,"€ 27,084,000 (£ 22,710,158, $27,601,617)",38,10,8,20,41,67,-26,38,1.00,36.4,57.9,-21.5,-0.57,31453

In [26]:
# Rename columns
Ligue1_2018_sum_complete_df = Ligue1_2018_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                    'Poss': 'Avg Poss', 
                                                                    '# Pl_x': '# of Players', 'MP_x': 'MP', 
                                                                    'xG_x': 'xG'})
Ligue1_2019_sum_complete_df = Ligue1_2019_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                    'Poss': 'Avg Poss', 
                                                                    '# Pl_x': '# of Players', 'MP_x': 'MP', 
                                                                    'xG_x': 'xG'})
Ligue1_2020_sum_complete_df = Ligue1_2020_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                    'Poss': 'Avg Poss', 
                                                                    '# Pl_x': '# of Players', 'MP_x': 'MP', 
                                                                    'xG_x': 'xG'})
Ligue1_2021_sum_complete_df = Ligue1_2021_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                    'Poss': 'Avg Poss', 
                                                                    '# Pl_x': '# of Players', 'MP_x': 'MP', 
                                                                    'xG_x': 'xG'})
Ligue1_2022_sum_complete_df = Ligue1_2022_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                    'Poss': 'Avg Poss', 
                                                                    '# Pl_x': '# of Players', 'MP_x': 'MP', 
                                                                    'xG_x': 'xG'})
Ligue1_2018_sum_complete_df.head()

,League Rank,Squad,# of Players,Avg Age,Avg Poss,Annual Wages,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance
0,1,Paris S-G,35,26.1,66.3,"€ 202,564,000 (£ 169,851,608, $206,435,344)",38,29,6,3,108,29,79,93,2.45,86.1,34.3,51.7,1.36,46930
1,2,Monaco,38,25.8,50.9,"€ 68,350,000 (£ 57,312,046, $69,656,287)",38,24,8,6,85,45,40,80,2.11,62.3,48.5,13.8,0.36,9243
2,4,Marseille,29,27.2,57.8,"€ 52,282,000 (£ 43,838,893, $53,281,198)",38,22,11,5,80,47,33,77,2.03,78.1,41.8,36.3,0.96,46616
3,3,Lyon,34,24.4,55.6,"€ 37,073,000 (£ 31,086,023, $37,781,525)",38,23,9,6,87,43,44,78,2.05,63.4,40.1,23.3,0.61,44047
4,17,Lille,32,22.6,53.8,"€ 27,084,000 (£ 22,710,158, $27,601,617)",38,10,8,20,41,67,-26,38,1.00,36.4,57.9,-21.5,-0.57,31453

In [27]:
# Sort by league position
Ligue1_2018_sum_complete_df.sort_values('Pts', ascending=False)
Ligue1_2018_sum_complete_df.to_csv('C:\Temp\Ligue1_2018_sum_complete.csv',sep=",", header=True)
Ligue1_2019_sum_complete_df.sort_values('Pts', ascending=False)
Ligue1_2019_sum_complete_df.to_csv('C:\Temp\Ligue1_2019_sum_complete.csv',sep=",", header=True)
Ligue1_2020_sum_complete_df.sort_values('Pts', ascending=False)
Ligue1_2020_sum_complete_df.to_csv('C:\Temp\Ligue1_2020_sum_complete.csv',sep=",", header=True)
Ligue1_2021_sum_complete_df.sort_values('Pts', ascending=False)
Ligue1_2021_sum_complete_df.to_csv('C:\Temp\Ligue1_2021_sum_complete.csv',sep=",", header=True)
Ligue1_2022_sum_complete_df.sort_values('Pts', ascending=False)
Ligue1_2022_sum_complete_df.to_csv('C:\Temp\Ligue1_2022_sum_complete.csv',sep=",", header=True)

In [29]:
# Get individual matches from each of te last 5 seasons
url = fixtures[0]
table_2018 = pd.read_html(url)
Ligue1_2018_matches_df = pd.DataFrame(table_2018[0])
Ligue1_2018_matches_df.to_csv('C:\Temp\Ligue1_2018_matches.csv',sep=",", header=True)
url = fixtures[1]
table_2019 = pd.read_html(url)
Ligue1_2019_matches_df = pd.DataFrame(table_2019[0])
Ligue1_2019_matches_df.to_csv('C:\Temp\Ligue1_2019_matches.csv',sep=",", header=True)
url = fixtures[2]
table_2020 = pd.read_html(url)
Ligue1_2020_matches_df = pd.DataFrame(table_2020[0])
Ligue1_2020_matches_df.to_csv('C:\Temp\Ligue1_2020_matches.csv',sep=",", header=True)
url = fixtures[3]
table_2021 = pd.read_html(url)
Ligue1_2021_matches_df = pd.DataFrame(table_2021[0])
Ligue1_2021_matches_df.to_csv('C:\Temp\Ligue1_2021_matches.csv',sep=",", header=True)
url = fixtures[4]
table_2022 = pd.read_html(url)
Ligue1_2022_matches_df = pd.DataFrame(table_2022[0])
Ligue1_2022_matches_df.to_csv('C:\Temp\Ligue1_2022_matches.csv',sep=",", header=True)
Ligue1_all_matches_df = pd.concat([Ligue1_2018_matches_df,Ligue1_2019_matches_df, Ligue1_2020_matches_df,
                                Ligue1_2021_matches_df, Ligue1_2022_matches_df], axis=0)
Ligue1_all_matches_df.to_csv('C:\Temp\Ligue1_all_matches.csv',sep=",", header=True)
Ligue1_matches_reduced_df = Ligue1_all_matches_df[['Wk', 'Date', 'Time', 'Home', 'Away', 'Score', 'xG', 'xG.1', 
                                             'Attendance', 'Venue', 'Referee']]
Ligue1_matches_reduced_df.to_csv('C:\Temp\Ligue1_matches_reduced.csv',sep=",", header=True)

In [30]:
# Get list of columns
Ligue1_all_matches_df.columns

Index(['Round', 'Wk', 'Day', 'Date', 'Time', 'Home', 'xG', 'Score', 'xG.1',
       'Away', 'Attendance', 'Venue', 'Referee', 'Match Report', 'Notes'],
      dtype='object')

In [31]:
# Select desired columns
Ligue1_matches_reduced_df = Ligue1_all_matches_df[['Wk', 'Date', 'Time', 'Home', 'Away', 'Score', 'xG', 'xG.1', 
                                             'Attendance', 'Venue', 'Referee']]
Ligue1_matches_reduced_df.head()

,Wk,Date,Time,Home,Away,Score,xG,xG.1,Attendance,Venue,Referee
0,1.0,2017-08-04,20:45,Monaco,Toulouse,3–2,2.0,0.3,13572.0,Stade Louis II.,Clément Turpin
1,1.0,2017-08-05,17:15,Paris S-G,Amiens,2–0,2.6,0.3,46898.0,Parc des Princes,Mikael Lesage
2,1.0,2017-08-05,20:00,Lyon,Strasbourg,4–0,1.8,0.5,1979.0,Groupama Stadium,Ruddy Buquet
3,1.0,2017-08-05,20:00,Saint-Étienne,Nice,1–0,0.9,0.5,25879.0,Stade Geoffroy-Guichard,François Letexier
4,1.0,2017-08-05,20:00,Metz,Guingamp,1–3,0.6,1.9,14595.0,Stade Saint-Symphorien,Jérôme Miguelgorry

In [52]:
# Split 'Score' column into 'Home Score' & 'Away Score'
# Take the first character of the string Score
Ligue1_matches_reduced_df['Home Score'] = Ligue1_matches_reduced_df['Score'].str[:1]
# Take the last character of the String Score
Ligue1_matches_reduced_df['Away Score'] = Ligue1_matches_reduced_df['Score'].str[-1:]
Ligue1_matches_reduced_df.to_csv('C:\Temp\Ligue1_matches_reduced_final.csv',sep=",", header=True)

C:\Users\DoranRainford\AppData\Local\Temp\ipykernel_3032\2836680763.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Ligue1_matches_reduced_df['Home Score'] = Ligue1_matches_reduced_df['Score'].str[:1]
C:\Users\DoranRainford\AppData\Local\Temp\ipykernel_3032\2836680763.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Ligue1_matches_reduced_df['Away Score'] = Ligue1_matches_reduced_df['Score'].str[-1:]

###