In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

In [3]:
# Get urls for all seasons, wages and fixtures
seasons = ['https://fbref.com/en/comps/13/2017-2018/2017-2018-Ligue-1-Stats',
           'https://fbref.com/en/comps/13/2018-2019/2018-2019-Ligue-1-Stats',
           'https://fbref.com/en/comps/13/2019-2020/2019-2020-Ligue-1-Stats',
           'https://fbref.com/en/comps/13/2020-2021/2020-2021-Ligue-1-Stats',
           'https://fbref.com/en/comps/13/2021-2022/2021-2022-Ligue-1-Stats',
           'https://fbref.com/en/comps/13/2022-2023/2022-2023-Ligue-1-Stats'
          ]
wages = ['https://fbref.com/en/comps/13/2017-2018/wages/2017-2018-Ligue-1-Wages',
         'https://fbref.com/en/comps/13/2018-2019/wages/2018-2019-Ligue-1-Wages',
         'https://fbref.com/en/comps/13/2019-2020/wages/2019-2020-Ligue-1-Wages',
         'https://fbref.com/en/comps/13/2020-2021/wages/2020-2021-Ligue-1-Wages',
         'https://fbref.com/en/comps/13/2021-2022/wages/2021-2022-Ligue-1-Wages',
         'https://fbref.com/en/comps/13/2022-2023/wages/2022-2023-Ligue-1-Wages'
        ]
fixtures = ['https://fbref.com/en/comps/13/2017-2018/schedule/2017-2018-Ligue-1-Scores-and-Fixtures',
            'https://fbref.com/en/comps/13/2018-2019/schedule/2018-2019-Ligue-1-Scores-and-Fixtures',
            'https://fbref.com/en/comps/13/2019-2020/schedule/2019-2020-Ligue-1-Scores-and-Fixtures',
            'https://fbref.com/en/comps/13/2020-2021/schedule/2020-2021-Ligue-1-Scores-and-Fixtures',
            'https://fbref.com/en/comps/13/2021-2022/schedule/2021-2022-Ligue-1-Scores-and-Fixtures',
            'https://fbref.com/en/comps/13/2022-2023/schedule/2022-2023-Ligue-1-Scores-and-Fixtures'
    
    
]

url = seasons[0]
table = pd.read_html(url)
Ligue1_2018_summary_df = pd.DataFrame(table[0])
url = seasons[1]
table = pd.read_html(url)
Ligue1_2019_summary_df = pd.DataFrame(table[0])
url = seasons[2]
table = pd.read_html(url)
Ligue1_2020_summary_df = pd.DataFrame(table[0])
url = seasons[3]
table = pd.read_html(url)
Ligue1_2020_summary_df = pd.DataFrame(table[0])
url = seasons[4]
table = pd.read_html(url)
Ligue1_2021_summary_df = pd.DataFrame(table[0])
url = seasons[5]
table = pd.read_html(url)
Ligue1_2022_summary_df = pd.DataFrame(table[0])

Ligue1_2018_summary_df.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Paris S-G,38,29,6,3,108,29,79,93,2.45,86.1,34.3,51.7,1.36,46930,Edinson Cavani - 28,Alphonse Areola,→ Champions League via league finish
1,2,Monaco,38,24,8,6,85,45,40,80,2.11,62.3,48.5,13.8,0.36,9243,Radamel Falcao - 18,Danijel Subašić,→ Champions League via league finish
2,3,Lyon,38,23,9,6,87,43,44,78,2.05,63.4,40.1,23.3,0.61,44047,Memphis - 19,Anthony Lopes,→ Champions League via league finish
3,4,Marseille,38,22,11,5,80,47,33,77,2.03,78.1,41.8,36.3,0.96,46616,Florian Thauvin - 22,Steve Mandanda,→ Europa League via league finish
4,5,Rennes,38,16,10,12,50,44,6,58,1.53,49.8,49.3,0.5,0.01,23111,Benjamin Bourigeaud - 10,Tomáš Koubek,→ Europa League via league finish 1

In [5]:
# Get 2nd summary table (index[2])for each season
url = seasons[0]
table = pd.read_html(url)
Ligue1_2018_summary2_df = pd.DataFrame(table[2])
url = seasons[1]
table = pd.read_html(url)
Ligue1_2019_summary2_df = pd.DataFrame(table[2])
url = seasons[2]
table = pd.read_html(url)
Ligue1_2020_summary2_df = pd.DataFrame(table[2])
url = seasons[3]
table = pd.read_html(url)
Ligue1_2020_summary2_df = pd.DataFrame(table[2])
url = seasons[4]
table = pd.read_html(url)
Ligue1_2021_summary2_df = pd.DataFrame(table[2])
url = seasons[5]
table = pd.read_html(url)
Ligue1_2022_summary2_df = pd.DataFrame(table[2])
Ligue1_2022_summary2_df

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                Squad               # Pl                Age
0             Ajaccio                 33               30.0
1              Angers                 33               26.7
2             Auxerre                 30               28.2
3               Brest                 29               27.3
4       Clermont Foot                 27               27.8
5                Lens                 28               27.0
6               Lille                 25               26.7
7             Lorient                 28               25.9
8                Lyon                 28               26.3
9           Marseille                 29               27.9
10             Monaco                 27               25.4
11        Montpellier                 29               26.5
12             Nantes                 29               27.4
13               Nice                 32               27.4
14          Paris S-G                 25               27.5
15              Reims                 30               25.6
16             Rennes                 32               25.9
17         Strasbourg                 28               28.3
18           Toulouse                 29               25.9
19             Troyes                 30               26.6

   Unnamed: 3_level_0 Playing Time                    Performance      ...  \
                 Poss           MP Starts   Min   90s         Gls Ast  ...
0                44.9           29    319  2610  29.0          20  11  ...
1                47.0           29    319  2610  29.0          20  12  ...
2                44.1           29    319  2610  29.0          22  15  ...
3                44.0           29    319  2610  29.0          32  21  ...
4                48.5           29    319  2610  29.0          28  16  ...
5                56.6           29    319  2610  29.0          46  35  ...
6                59.3           29    319  2610  29.0          54  34  ...
7                45.5           29    319  2610  29.0          39  26  ...
8                57.9           29    319  2610  29.0          44  31  ...
9                55.4           29    319  2610  29.0          49  30  ...
10               49.0           29    319  2610  29.0          60  41  ...
11               46.6           29    319  2610  29.0          44  29  ...
12               45.9           29    319  2610  29.0          28  21  ...
13               51.4           29    319  2610  29.0          38  28  ...
14               60.5           29    319  2610  29.0          66  50  ...
15               46.6           29    319  2610  29.0          39  28  ...
16               55.2           29    319  2610  29.0          45  31  ...
17               46.7           29    319  2610  29.0          34  19  ...
18               51.0           29    319  2610  29.0          43  29  ...
19               43.8           29    319  2610  29.0          36  22  ...

   Per 90 Minutes
              Gls   Ast   G+A  G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG
0            0.69  0.38  1.07  0.48   0.86  1.12  0.68   1.81  0.89     1.58
1            0.69  0.41  1.10  0.59   1.00  1.13  0.78   1.92  1.05     1.83
2            0.76  0.52  1.28  0.59   1.10  1.06  0.70   1.76  0.87     1.57
3            1.10  0.72  1.83  0.93   1.66  1.12  0.76   1.88  0.96     1.72
4            0.97  0.55  1.52  0.83   1.38  1.14  0.65   1.79  0.98     1.63
5            1.59  1.21  2.79  1.48   2.69  1.77  1.25   3.02  1.61     2.86
6            1.86  1.17  3.03  1.62   2.79  1.84  1.24   3.09  1.63     2.87
7            1.34  0.90  2.24  1.24   2.14  1.21  0.83   2.04  1.10     1.93
8            1.52  1.07  2.59  1.38   2.45  1.55  1.15   2.70  1.41     2.56
9            1.69  1.03  2.72  1.52   2.55  1.69  1.19   2.88  1.53     2.73
10           2.07  1.41  3.48  1.93   3.34  1.69  1.11   2.79  1.49     2.60
11           1.52  1.00  2.52  1.34   2.34  1.29  0.84   2.12  1.15     1.99
12           0.97  0.72  1.69  0.86   1.59  1.15  0.85   2.00  1.02     1.87
13           1.31  0.97  2.28  1.10   2.07  1.39  0.94   2.33  1.20     2.14
14           2.28  1.72  4.00  2.14   3.86  2.10  1.57   3.66  1.93     3.50
15           1.34  0.97  2.31  1.17   2.14  1.65  1.15   2.80  1.48     2.63
16           1.55  1.07  2.62  1.48   2.55  1.54  1.12   2.65  1.48     2.60
17           1.17  0.66  1.83  1.10   1.76  1.24  0.85   2.09  1.13     1.98
18           1.48  1.00  2.48  1.34   2.34  1.39  0.98   2.37  1.28     2.26
19           1.24  0.76  2.00  1.10   1.86  1.15  0.82   1.97  1.05     1.88

[20 rows x 32 columns]

In [6]:
# Remove upper level to allow for merging with other tables
Ligue1_2018_summary2_df = Ligue1_2018_summary2_df.droplevel(0, axis = 1)
Ligue1_2019_summary2_df = Ligue1_2019_summary2_df.droplevel(0, axis = 1)
Ligue1_2020_summary2_df = Ligue1_2020_summary2_df.droplevel(0, axis = 1)
Ligue1_2021_summary2_df = Ligue1_2021_summary2_df.droplevel(0, axis = 1)
Ligue1_2022_summary2_df = Ligue1_2022_summary2_df.droplevel(0, axis = 1)

In [7]:
# Get wages table for each of the last 5 seasons
url = wages[0]
table = pd.read_html(url)
Ligue1_2018_wages_df = pd.DataFrame(table[0])
url = wages[1]
table = pd.read_html(url)
Ligue1_2019_wages_df = pd.DataFrame(table[0])
url = wages[2]
table = pd.read_html(url)
Ligue1_2020_wages_df = pd.DataFrame(table[0])
url = wages[3]
table = pd.read_html(url)
Ligue1_2020_wages_df = pd.DataFrame(table[0])

url = wages[4]
table = pd.read_html(url)
Ligue1_2021_wages_df = pd.DataFrame(table[0])

url = wages[5]
table = pd.read_html(url)
Ligue1_2022_wages_df = pd.DataFrame(table[0])
Ligue1_2022_wages_df

,Rk,Squad,# Pl,Weekly Wages,Annual Wages,% Estimated
0,1,Paris S-G,32,"€ 7,439,231 (£ 6,694,970, $7,158,330)","€ 386,840,000 (£ 348,138,457, $372,233,147)",34%
1,2,Marseille,28,"€ 994,808 (£ 895,282, $957,244)","€ 51,730,000 (£ 46,554,653, $49,776,705)",58%
2,3,Monaco,28,"€ 884,615 (£ 796,114, $851,213)","€ 46,000,000 (£ 41,397,917, $44,263,068)",72%
3,4,Lyon,27,"€ 747,308 (£ 672,543, $719,090)","€ 38,860,000 (£ 34,972,236, $37,392,668)",73%
4,5,Nice,27,"€ 570,192 (£ 513,147, $548,662)","€ 29,650,000 (£ 26,683,656, $28,530,433)",79%
5,6,Lille,25,"€ 337,115 (£ 303,389, $324,386)","€ 17,530,000 (£ 15,776,205, $16,868,075)",82%
6,7,Rennes,28,"€ 311,923 (£ 280,717, $300,145)","€ 16,220,000 (£ 14,597,266, $15,607,541)",76%
7,8,Nantes,27,"€ 267,885 (£ 241,084, $257,769)","€ 13,930,000 (£ 12,536,367, $13,404,013)",50%
8,9,Strasbourg,26,"€ 224,615 (£ 202,144, $216,134)","€ 11,680,000 (£ 10,511,471, $11,238,970)",73%
9,10,Reims,27,"€ 174,615 (£ 157,146, $168,022)","€ 9,080,000 (£ 8,171,586, $8,737,143)",80%
10,11,Montpellier,27,"€ 169,615 (£ 152,646, $163,211)","€ 8,820,000 (£ 7,937,599, $8,486,961)",92%
11,12,Angers,34,"€ 152,692 (£ 137,416, $146,927)","€ 7,940,000 (£ 7,145,641, $7,640,191)",93%
12,13,Lens,25,"€ 140,385 (£ 126,340, $135,084)","€ 7,300,000 (£ 6,569,670, $7,024,357)",100%
13,14,Brest,25,"€ 125,385 (£ 112,840, $120,650)","€ 6,520,000 (£ 5,867,704, $6,273,807)",61%
14,15,Toulouse,26,"€ 109,423 (£ 98,476, $105,291)","€ 5,690,000 (£ 5,120,743, $5,475,148)",100%
15,16,Lorient,25,"€ 103,654 (£ 93,284, $99,740)","€ 5,390,000 (£ 4,850,756, $5,186,477)",96%
16,17,Troyes,28,"€ 97,115 (£ 87,399, $93,448)","€ 5,050,000 (£ 4,544,770, $4,859,314)",68%
17,18,Auxerre,33,"€ 80,192 (£ 72,169, $77,164)","€ 4,170,000 (£ 3,752,810, $4,012,543)",96%
18,19,Clermont Foot,26,"€ 47,885 (£ 43,094, $46,077)","€ 2,490,000 (£ 2,240,887, $2,395,978)",100%
19,20,Ajaccio,31,"€ 46,154 (£ 41,536, $44,411)","€ 2,400,000 (£ 2,159,891, $2,309,378)",100%

In [8]:
# Merge wages and season summary for each season
Ligue1_2018_merged_df = pd.merge(Ligue1_2018_summary_df, Ligue1_2018_wages_df, how="left", on=['Squad'])
Ligue1_2019_merged_df = pd.merge(Ligue1_2019_summary_df, Ligue1_2019_wages_df, how="left", on=['Squad'])
Ligue1_2020_merged_df = pd.merge(Ligue1_2020_summary_df, Ligue1_2020_wages_df, how="left", on=['Squad'])
Ligue1_2021_merged_df = pd.merge(Ligue1_2021_summary_df, Ligue1_2021_wages_df, how="left", on=['Squad'])
Ligue1_2022_merged_df = pd.merge(Ligue1_2022_summary_df, Ligue1_2022_wages_df, how="left", on=['Squad'])
Ligue1_all_wages_df = pd.concat([Ligue1_2018_merged_df,Ligue1_2019_merged_df, Ligue1_2020_merged_df,
                                Ligue1_2021_merged_df, Ligue1_2022_merged_df], axis=0)

Ligue1_all_wages_df

,Rk_x,Squad,MP,W,D,L,GF,GA,GD,Pts,...,Attendance,Top Team Scorer,Goalkeeper,Notes,Rk_y,# Pl,Weekly Wages,Annual Wages,% Estimated,Last 5
0,1,Paris S-G,38,29,6,3,108,29,79,93,...,46930.0,Edinson Cavani - 28,Alphonse Areola,→ Champions League via league finish,1,35,"€ 3,895,462 (£ 3,266,377, $3,969,910)","€ 202,564,000 (£ 169,851,608, $206,435,344)",100%,NaN
1,2,Monaco,38,24,8,6,85,45,40,80,...,9243.0,Radamel Falcao - 18,Danijel Subašić,→ Champions League via league finish,2,38,"€ 1,314,423 (£ 1,102,155, $1,339,544)","€ 68,350,000 (£ 57,312,046, $69,656,287)",100%,NaN
2,3,Lyon,38,23,9,6,87,43,44,78,...,44047.0,Memphis - 19,Anthony Lopes,→ Champions League via league finish,4,34,"€ 712,942 (£ 597,808, $726,568)","€ 37,073,000 (£ 31,086,023, $37,781,525)",100%,NaN
3,4,Marseille,38,22,11,5,80,47,33,77,...,46616.0,Florian Thauvin - 22,Steve Mandanda,→ Europa League via league finish,3,29,"€ 1,005,423 (£ 843,056, $1,024,638)","€ 52,282,000 (£ 43,838,893, $53,281,198)",100%,NaN
4,5,Rennes,38,16,10,12,50,44,6,58,...,23111.0,Benjamin Bourigeaud - 10,Tomáš Koubek,→ Europa League via league finish 1,11,35,"€ 272,212 (£ 228,252, $277,414)","€ 14,155,000 (£ 11,869,086, $14,425,526)",100%,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,16,Strasbourg,29,5,11,13,37,50,-13,26,...,23553.0,Habib Diallo - 15,Matz Sels,NaN,9,26,"€ 224,615 (£ 202,144, $216,134)","€ 11,680,000 (£ 10,511,471, $11,238,970)",73%,D L D W L
16,17,Auxerre,29,6,8,15,24,51,-27,26,...,14090.0,M'Baye Niang - 4,Benoît Costil,NaN,18,33,"€ 80,192 (£ 72,169, $77,164)","€ 4,170,000 (£ 3,752,810, $4,012,543)",96%,W D D L W
17,18,Troyes,29,4,9,16,38,62,-24,21,...,8941.0,Mama Samba Baldé - 10,Gauthier Gallon,NaN,17,28,"€ 97,115 (£ 87,399, $93,448)","€ 5,050,000 (£ 4,544,770, $4,859,314)",68%,L D L D L
18,19,Ajaccio,29,6,3,20,21,52,-31,21,...,6880.0,"Youcef Belaïli, Mounaim El Idrissy - 6",Benjamin Leroy,NaN,20,31,"€ 46,154 (£ 41,536, $44,411)","€ 2,400,000 (£ 2,159,891, $2,309,378)",100%,W L L L L
19,20,Angers,29,2,5,22,22,64,-42,11,...,9019.0,Sofiane Boufal - 4,Paul Bernardoni,NaN,12,34,"€ 152,692 (£ 137,416, $146,927)","€ 7,940,000 (£ 7,145,641, $7,640,191)",93%,L L L L D

In [9]:
# Merge in summary table#2 for each season
Ligue1_2018_complete_df = pd.merge(Ligue1_2018_merged_df, Ligue1_2018_summary2_df, how="left", on=['Squad'])
Ligue1_2019_complete_df = pd.merge(Ligue1_2018_merged_df, Ligue1_2018_summary2_df, how="left", on=['Squad'])
Ligue1_2020_complete_df = pd.merge(Ligue1_2018_merged_df, Ligue1_2018_summary2_df, how="left", on=['Squad'])
Ligue1_2021_complete_df = pd.merge(Ligue1_2018_merged_df, Ligue1_2018_summary2_df, how="left", on=['Squad'])
Ligue1_2022_complete_df = pd.merge(Ligue1_2018_merged_df, Ligue1_2018_summary2_df, how="left", on=['Squad'])
Ligue1_2018_complete_df.head()

,Rk_x,Squad,MP_x,W,D,L,GF,GA,GD,Pts,...,Gls,Ast,G+A,G-PK,G+A-PK,xG_y,xAG,xG+xAG,npxG,npxG+xAG
0,1,Paris S-G,38,29,6,3,108,29,79,93,...,2.63,1.97,4.61,2.45,4.42,2.26,1.71,3.98,2.09,3.80
1,2,Monaco,38,24,8,6,85,45,40,80,...,2.18,1.47,3.66,2.00,3.47,1.64,1.13,2.77,1.48,2.61
2,3,Lyon,38,23,9,6,87,43,44,78,...,2.24,1.63,3.87,2.08,3.71,1.67,1.15,2.82,1.53,2.69
3,4,Marseille,38,22,11,5,80,47,33,77,...,2.08,1.42,3.50,1.95,3.37,2.06,1.47,3.53,1.89,3.36
4,5,Rennes,38,16,10,12,50,44,6,58,...,1.26,0.84,2.11,1.11,1.95,1.31,0.87,2.18,1.15,2.01

In [10]:
#Get columns
Ligue1_2018_complete_df.columns
Ligue1_2019_complete_df.columns
Ligue1_2020_complete_df.columns
Ligue1_2021_complete_df.columns
Ligue1_2022_complete_df.columns

Index(['Rk_x', 'Squad', 'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts',
       'Pts/MP', 'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance',
       'Top Team Scorer', 'Goalkeeper', 'Notes', 'Rk_y', '# Pl_x',
       'Weekly Wages', 'Annual Wages', '% Estimated', '# Pl_y', 'Age', 'Poss',
       'MP_y', 'Starts', 'Min', '90s', 'Gls', 'Ast', 'G+A', 'G-PK', 'PK',
       'PKatt', 'CrdY', 'CrdR', 'xG_y', 'npxG', 'xAG', 'npxG+xAG', 'PrgC',
       'PrgP', 'Gls', 'Ast', 'G+A', 'G-PK', 'G+A-PK', 'xG_y', 'xAG', 'xG+xAG',
       'npxG', 'npxG+xAG'],
      dtype='object')

In [11]:
# Select desired columns for final summary table
Ligue1_2018_sum_complete_df = Ligue1_2018_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages','MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 
                                                   'Pts/MP', 'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]
Ligue1_2019_sum_complete_df = Ligue1_2019_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages','MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 
                                                   'Pts/MP', 'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]
Ligue1_2020_sum_complete_df = Ligue1_2020_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages','MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 
                                                   'Pts/MP', 'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]
Ligue1_2021_sum_complete_df = Ligue1_2021_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages','MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 
                                                   'Pts/MP', 'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]
Ligue1_2022_sum_complete_df = Ligue1_2022_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages','MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 
                                                   'Pts/MP', 'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]

Ligue1_2018_sum_complete_df.head()

,Rk_y,Squad,# Pl_x,Age,Poss,Annual Wages,MP_x,W,D,L,GF,GA,GD,Pts,Pts/MP,xG_x,xGA,xGD,xGD/90,Attendance
0,1,Paris S-G,35,26.1,66.3,"€ 202,564,000 (£ 169,851,608, $206,435,344)",38,29,6,3,108,29,79,93,2.45,86.1,34.3,51.7,1.36,46930
1,2,Monaco,38,25.8,50.9,"€ 68,350,000 (£ 57,312,046, $69,656,287)",38,24,8,6,85,45,40,80,2.11,62.3,48.5,13.8,0.36,9243
2,4,Lyon,34,24.4,55.6,"€ 37,073,000 (£ 31,086,023, $37,781,525)",38,23,9,6,87,43,44,78,2.05,63.4,40.1,23.3,0.61,44047
3,3,Marseille,29,27.2,57.8,"€ 52,282,000 (£ 43,838,893, $53,281,198)",38,22,11,5,80,47,33,77,2.03,78.1,41.8,36.3,0.96,46616
4,11,Rennes,35,24.2,49.9,"€ 14,155,000 (£ 11,869,086, $14,425,526)",38,16,10,12,50,44,6,58,1.53,49.8,49.3,0.5,0.01,23111

In [12]:
# Rename columns
Ligue1_2018_sum_complete_df = Ligue1_2018_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                    'Poss': 'Avg Poss', 
                                                                    '# Pl_x': '# of Players', 'MP_x': 'MP', 
                                                                    'xG_x': 'xG'})
Ligue1_2019_sum_complete_df = Ligue1_2019_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                    'Poss': 'Avg Poss', 
                                                                    '# Pl_x': '# of Players', 'MP_x': 'MP', 
                                                                    'xG_x': 'xG'})
Ligue1_2020_sum_complete_df = Ligue1_2020_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                    'Poss': 'Avg Poss', 
                                                                    '# Pl_x': '# of Players', 'MP_x': 'MP', 
                                                                    'xG_x': 'xG'})
Ligue1_2021_sum_complete_df = Ligue1_2021_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                    'Poss': 'Avg Poss', 
                                                                    '# Pl_x': '# of Players', 'MP_x': 'MP', 
                                                                    'xG_x': 'xG'})
Ligue1_2022_sum_complete_df = Ligue1_2022_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                    'Poss': 'Avg Poss', 
                                                                    '# Pl_x': '# of Players', 'MP_x': 'MP', 
                                                                    'xG_x': 'xG'})
Ligue1_2022_sum_complete_df.tail()

,League Rank,Squad,# of Players,Avg Age,Avg Poss,Annual Wages,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance
15,17,Caen,33,27.3,45.5,"€ 10,459,000 (£ 8,769,954, $10,658,893)",38,10,8,20,27,52,-25,38,1.00,42.8,48.0,-5.2,-0.14,17187
16,5,Lille,32,22.6,53.8,"€ 27,084,000 (£ 22,710,158, $27,601,617)",38,10,8,20,41,67,-26,38,1.00,36.4,57.9,-21.5,-0.57,31453
17,9,Toulouse,28,23.9,45.7,"€ 18,743,000 (£ 15,716,163, $19,101,212)",38,9,10,19,38,54,-16,37,0.97,45.5,52.1,-6.6,-0.17,16929
18,20,Troyes,30,26.7,42.6,"€ 6,870,000 (£ 5,760,548, $7,001,300)",38,9,6,23,32,59,-27,33,0.87,38.0,52.0,-14.0,-0.37,11723
19,12,Metz,44,27.4,45.5,"€ 13,202,000 (£ 11,069,988, $13,454,314)",38,6,8,24,34,76,-42,26,0.68,40.3,71.3,-31.0,-0.81,14844

In [13]:
# Convert 'Annual Wages' column into single column with only dollar value
Ligue1_2018_sum_complete_df[['pounds', 'dollars']] = Ligue1_2018_sum_complete_df['Annual Wages'].str.split('$', expand=True)
Ligue1_2019_sum_complete_df[['pounds', 'dollars']] = Ligue1_2019_sum_complete_df['Annual Wages'].str.split('$', expand=True)
Ligue1_2020_sum_complete_df[['pounds', 'dollars']] = Ligue1_2020_sum_complete_df['Annual Wages'].str.split('$', expand=True)
Ligue1_2021_sum_complete_df[['pounds', 'dollars']] = Ligue1_2021_sum_complete_df['Annual Wages'].str.split('$', expand=True)
Ligue1_2022_sum_complete_df[['pounds', 'dollars']] = Ligue1_2022_sum_complete_df['Annual Wages'].str.split('$', expand=True)
Ligue1_2022_sum_complete_df.columns

Index(['League Rank', 'Squad', '# of Players', 'Avg Age', 'Avg Poss',
       'Annual Wages', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Pts/MP',
       'xG', 'xGA', 'xGD', 'xGD/90', 'Attendance', 'pounds', 'dollars'],
      dtype='object')

In [14]:
# Convert 'Annual Wages' column into single column with only dollar value
Ligue1_2018_sum_complete_df[['Annual Wages ($)', 'discard']] = Ligue1_2018_sum_complete_df['dollars'].str.split(')', expand=True)
Ligue1_2019_sum_complete_df[['Annual Wages ($)', 'discard']] = Ligue1_2019_sum_complete_df['dollars'].str.split(')', expand=True)
Ligue1_2020_sum_complete_df[['Annual Wages ($)', 'discard']] = Ligue1_2020_sum_complete_df['dollars'].str.split(')', expand=True)
Ligue1_2021_sum_complete_df[['Annual Wages ($)', 'discard']] = Ligue1_2021_sum_complete_df['dollars'].str.split(')', expand=True)
Ligue1_2022_sum_complete_df[['Annual Wages ($)', 'discard']] = Ligue1_2022_sum_complete_df['dollars'].str.split(')', expand=True)
Ligue1_2022_sum_complete_df.head()

,League Rank,Squad,# of Players,Avg Age,Avg Poss,Annual Wages,MP,W,D,L,...,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,pounds,dollars,Annual Wages ($),discard
0,1,Paris S-G,35,26.1,66.3,"€ 202,564,000 (£ 169,851,608, $206,435,344)",38,29,6,3,...,2.45,86.1,34.3,51.7,1.36,46930,"€ 202,564,000 (£ 169,851,608,","206,435,344)","206,435,344",
1,2,Monaco,38,25.8,50.9,"€ 68,350,000 (£ 57,312,046, $69,656,287)",38,24,8,6,...,2.11,62.3,48.5,13.8,0.36,9243,"€ 68,350,000 (£ 57,312,046,","69,656,287)","69,656,287",
2,4,Lyon,34,24.4,55.6,"€ 37,073,000 (£ 31,086,023, $37,781,525)",38,23,9,6,...,2.05,63.4,40.1,23.3,0.61,44047,"€ 37,073,000 (£ 31,086,023,","37,781,525)","37,781,525",
3,3,Marseille,29,27.2,57.8,"€ 52,282,000 (£ 43,838,893, $53,281,198)",38,22,11,5,...,2.03,78.1,41.8,36.3,0.96,46616,"€ 52,282,000 (£ 43,838,893,","53,281,198)","53,281,198",
4,11,Rennes,35,24.2,49.9,"€ 14,155,000 (£ 11,869,086, $14,425,526)",38,16,10,12,...,1.53,49.8,49.3,0.5,0.01,23111,"€ 14,155,000 (£ 11,869,086,","14,425,526)","14,425,526",

In [15]:
# Drop unwanted columns 
Ligue1_2018_sum_clean_df = Ligue1_2018_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
Ligue1_2019_sum_clean_df = Ligue1_2019_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
Ligue1_2020_sum_clean_df = Ligue1_2020_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
Ligue1_2021_sum_clean_df = Ligue1_2021_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
Ligue1_2022_sum_clean_df = Ligue1_2022_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
Ligue1_2022_sum_clean_df.head()

,League Rank,Squad,# of Players,Avg Age,Avg Poss,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Annual Wages ($)
0,1,Paris S-G,35,26.1,66.3,38,29,6,3,108,29,79,93,2.45,86.1,34.3,51.7,1.36,46930,"206,435,344"
1,2,Monaco,38,25.8,50.9,38,24,8,6,85,45,40,80,2.11,62.3,48.5,13.8,0.36,9243,"69,656,287"
2,4,Lyon,34,24.4,55.6,38,23,9,6,87,43,44,78,2.05,63.4,40.1,23.3,0.61,44047,"37,781,525"
3,3,Marseille,29,27.2,57.8,38,22,11,5,80,47,33,77,2.03,78.1,41.8,36.3,0.96,46616,"53,281,198"
4,11,Rennes,35,24.2,49.9,38,16,10,12,50,44,6,58,1.53,49.8,49.3,0.5,0.01,23111,"14,425,526"

In [16]:
# Sort by league position
Ligue1_2018_sum_complete_df.sort_values('Pts', ascending=False)
Ligue1_2019_sum_complete_df.sort_values('Pts', ascending=False)
Ligue1_2020_sum_complete_df.sort_values('Pts', ascending=False)
Ligue1_2021_sum_complete_df.sort_values('Pts', ascending=False)
Ligue1_2022_sum_complete_df.sort_values('Pts', ascending=False)

Ligue1_2022_sum_complete_df

,League Rank,Squad,# of Players,Avg Age,Avg Poss,Annual Wages,MP,W,D,L,...,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,pounds,dollars,Annual Wages ($),discard
0,1,Paris S-G,35,26.1,66.3,"€ 202,564,000 (£ 169,851,608, $206,435,344)",38,29,6,3,...,2.45,86.1,34.3,51.7,1.36,46930,"€ 202,564,000 (£ 169,851,608,","206,435,344)","206,435,344",
1,2,Monaco,38,25.8,50.9,"€ 68,350,000 (£ 57,312,046, $69,656,287)",38,24,8,6,...,2.11,62.3,48.5,13.8,0.36,9243,"€ 68,350,000 (£ 57,312,046,","69,656,287)","69,656,287",
2,4,Lyon,34,24.4,55.6,"€ 37,073,000 (£ 31,086,023, $37,781,525)",38,23,9,6,...,2.05,63.4,40.1,23.3,0.61,44047,"€ 37,073,000 (£ 31,086,023,","37,781,525)","37,781,525",
3,3,Marseille,29,27.2,57.8,"€ 52,282,000 (£ 43,838,893, $53,281,198)",38,22,11,5,...,2.03,78.1,41.8,36.3,0.96,46616,"€ 52,282,000 (£ 43,838,893,","53,281,198)","53,281,198",
4,11,Rennes,35,24.2,49.9,"€ 14,155,000 (£ 11,869,086, $14,425,526)",38,16,10,12,...,1.53,49.8,49.3,0.5,0.01,23111,"€ 14,155,000 (£ 11,869,086,","14,425,526)","14,425,526",
5,8,Bordeaux,37,25.1,50.6,"€ 19,603,000 (£ 16,437,274, $19,977,645)",38,16,7,15,...,1.45,51.0,43.6,7.5,0.20,26048,"€ 19,603,000 (£ 16,437,274,","19,977,645)","19,977,645",
6,7,Saint-Étienne,40,26.6,51.3,"€ 20,480,000 (£ 17,172,650, $20,871,408)",38,15,10,13,...,1.45,51.0,54.1,-3.1,-0.08,27563,"€ 20,480,000 (£ 17,172,650,","20,871,408)","20,871,408",
7,6,Nice,39,25.0,58.1,"€ 21,810,000 (£ 18,287,868, $22,226,825)",38,15,9,14,...,1.42,49.2,49.5,-0.3,-0.01,22876,"€ 21,810,000 (£ 18,287,868,","22,226,825)","22,226,825",
8,10,Nantes,36,25.6,43.7,"€ 14,781,000 (£ 12,393,992, $15,063,490)",38,14,10,14,...,1.37,41.8,38.1,3.7,0.10,24559,"€ 14,781,000 (£ 12,393,992,","15,063,490)","15,063,490",
9,14,Montpellier,30,26.4,47.0,"€ 12,006,000 (£ 10,067,131, $12,235,453)",38,11,18,9,...,1.34,42.6,39.0,3.6,0.10,13458,"€ 12,006,000 (£ 10,067,131,","12,235,453)","12,235,453",
10,15,Dijon,35,26.6,48.4,"€ 11,005,000 (£ 9,227,786, $11,215,324)",38,13,9,16,...,1.26,41.6,63.8,-22.2,-0.58,12228,"€ 11,005,000 (£ 9,227,786,","11,215,324)","11,215,324",
11,19,Guingamp,30,27.2,49.7,"€ 9,212,000 (£ 7,724,338, $9,388,060)",38,12,11,15,...,1.24,45.5,49.0,-3.5,-0.09,14502,"€ 9,212,000 (£ 7,724,338,","9,388,060)","9,388,060",
12,13,Amiens,34,27.5,43.3,"€ 12,330,000 (£ 10,338,805, $12,565,645)",38,12,9,17,...,1.18,32.8,54.9,-22.1,-0.58,9521,"€ 12,330,000 (£ 10,338,805,","12,565,645)","12,565,645",
13,18,Angers,33,27.1,45.1,"€ 10,130,000 (£ 8,494,086, $10,323,602)",38,9,14,15,...,1.08,47.6,45.8,1.8,0.05,11065,"€ 10,130,000 (£ 8,494,086,","10,323,602)","10,323,602",
14,16,Strasbourg,31,27.2,49.1,"€ 10,804,000 (£ 9,059,242, $11,010,479)",38,9,11,18,...,1.00,45.5,58.4,-12.9,-0.34,24064,"€ 10,804,000 (£ 9,059,242,","11,010,479)","11,010,479",
15,17,Caen,33,27.3,45.5,"€ 10,459,000 (£ 8,769,954, $10,658,893)",38,10,8,20,...,1.00,42.8,48.0,-5.2,-0.14,17187,"€ 10,459,000 (£ 8,769,954,","10,658,893)","10,658,893",
16,5,Lille,32,22.6,53.8,"€ 27,084,000 (£ 22,710,158, $27,601,617)",38,10,8,20,...,1.00,36.4,57.9,-21.5,-0.57,31453,"€ 27,084,000 (£ 22,710,158,","27,601,617)","27,601,617",
17,9,Toulouse,28,23.9,45.7,"€ 18,743,000 (£ 15,716,163, $19,101,212)",38,9,10,19,...,0.97,45.5,52.1,-6.6,-0.17,16929,"€ 18,743,000 (£ 15,716,163,","19,101,212)","19,101,212",
18,20,Troyes,30,26.7,42.6,"€ 6,870,000 (£ 5,760,548, $7,001,300)",38,9,6,23,...,0.87,38.0,52.0,-14.0,-0.37,11723,"€ 6,870,000 (£ 5,760,548,","7,001,300)","7,001,300",
19,12,Metz,44,27.4,45.5,"€ 13,202,000 (£ 11,069,988, $13,454,314)",38,6,8,24,...,0.68,40.3,71.3,-31.0,-0.81,14844,"€ 13,202,000 (£ 11,069,988,","13,454,314)","13,454,314",

In [17]:
#Add Season Column to each dataframe
Ligue1_2018_sum_clean_df['Season'] = '2017-2018'
Ligue1_2019_sum_clean_df['Season'] = '2018-2019'
Ligue1_2020_sum_clean_df['Season'] = '2019-2020'
Ligue1_2021_sum_clean_df['Season'] = '2020-2021'
Ligue1_2022_sum_clean_df['Season'] = '2021-2022'
Ligue1_2022_sum_clean_df.tail()

,League Rank,Squad,# of Players,Avg Age,Avg Poss,MP,W,D,L,GF,...,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Annual Wages ($),Season
15,17,Caen,33,27.3,45.5,38,10,8,20,27,...,-25,38,1.00,42.8,48.0,-5.2,-0.14,17187,"10,658,893",2021-2022
16,5,Lille,32,22.6,53.8,38,10,8,20,41,...,-26,38,1.00,36.4,57.9,-21.5,-0.57,31453,"27,601,617",2021-2022
17,9,Toulouse,28,23.9,45.7,38,9,10,19,38,...,-16,37,0.97,45.5,52.1,-6.6,-0.17,16929,"19,101,212",2021-2022
18,20,Troyes,30,26.7,42.6,38,9,6,23,32,...,-27,33,0.87,38.0,52.0,-14.0,-0.37,11723,"7,001,300",2021-2022
19,12,Metz,44,27.4,45.5,38,6,8,24,34,...,-42,26,0.68,40.3,71.3,-31.0,-0.81,14844,"13,454,314",2021-2022

In [18]:
# Concatenate all seasons into one dataframe
Ligue1_all_seasons_sum_df = pd.concat([Ligue1_2018_sum_clean_df, Ligue1_2019_sum_clean_df, Ligue1_2020_sum_clean_df,
                                Ligue1_2021_sum_clean_df, Ligue1_2022_sum_clean_df], axis=0)
Ligue1_all_seasons_sum_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 19
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   League Rank       100 non-null    int64
 1   Squad             100 non-null    object
 2   # of Players      100 non-null    int64
 3   Avg Age           100 non-null    float64
 4   Avg Poss          100 non-null    float64
 5   MP                100 non-null    int64
 6   W                 100 non-null    int64
 7   D                 100 non-null    int64
 8   L                 100 non-null    int64
 9   GF                100 non-null    int64
 10  GA                100 non-null    int64
 11  GD                100 non-null    int64
 12  Pts               100 non-null    int64
 13  Pts/MP            100 non-null    float64
 14  xG                100 non-null    float64
 15  xGA               100 non-null    float64
 16  xGD               100 non-null    float64
 17  xGD/90            100 non-null    float64
 18  Attendance        100 non-null    int64
 19  Annual Wages ($)  100 non-null    object
 20  Season            100 non-null    object
dtypes: float64(7), int64(11), object(3)
memory usage: 17.2+ KB

In [19]:
# Get individual matches from each of te last 5 seasons
url = fixtures[0]
table_2018 = pd.read_html(url)
Ligue1_2018_matches_df = pd.DataFrame(table_2018[0])
url = fixtures[1]
table_2019 = pd.read_html(url)
Ligue1_2019_matches_df = pd.DataFrame(table_2019[0])
url = fixtures[2]
table_2020 = pd.read_html(url)
Ligue1_2020_matches_df = pd.DataFrame(table_2020[0])
url = fixtures[3]
table_2021 = pd.read_html(url)
Ligue1_2021_matches_df = pd.DataFrame(table_2021[0])
url = fixtures[4]
table_2022 = pd.read_html(url)
Ligue1_2022_matches_df = pd.DataFrame(table_2022[0])

In [18]:
# Drop empty rows
# Ligue1_all_matches_df.dropna(how='all')
Ligue1_2018_matches_df = Ligue1_2018_matches_df.dropna(how='all')
Ligue1_2019_matches_df = Ligue1_2019_matches_df.dropna(how='all')
Ligue1_2020_matches_df = Ligue1_2020_matches_df.dropna(how='all')
Ligue1_2021_matches_df = Ligue1_2021_matches_df.dropna(how='all')
Ligue1_2022_matches_df = Ligue1_2022_matches_df.dropna(how='all')
Ligue1_2022_matches_df.head()

,Round,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
0,Regular season,1.0,Fri,2021-08-06,21:00,Monaco,1.5,1–1,0.2,Nantes,7500.0,Stade Louis II.,Antony Gautier,Match Report,NaN
1,Regular season,1.0,Sat,2021-08-07,17:00,Lyon,1.4,1–1,0.8,Brest,29018.0,Groupama Stadium,Mikael Lesage,Match Report,NaN
2,Regular season,1.0,Sat,2021-08-07,21:00,Troyes,0.9,1–2,1.2,Paris S-G,15248.0,Stade de l'Aube,Amaury Delerue,Match Report,NaN
3,Regular season,1.0,Sun,2021-08-08,13:00,Rennes,0.7,1–1,2.1,Lens,22567.0,Roazhon Park,Bastien Dechepy,Match Report,NaN
4,Regular season,1.0,Sun,2021-08-08,15:00,Bordeaux,0.7,0–2,3.1,Clermont Foot,18748.0,Stade Matmut-Atlantique,Florent Batta,Match Report,NaN

In [20]:
# Add seasons column
Ligue1_2018_matches_df['Season'] = '2017-2018'
Ligue1_2019_matches_df['Season'] = '2018-2019'
Ligue1_2020_matches_df['Season'] = '2019-2020'
Ligue1_2021_matches_df['Season'] = '2020-2021'
Ligue1_2022_matches_df['Season'] = '2021-2022'
Ligue1_2022_matches_df.tail()

,Round,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes,Season
420,Regular season,38.0,Sat,2022-05-21,21:00,Marseille,2.3,4–0,1.1,Strasbourg,63873.0,Orange Vélodrome,Stéphanie Frappart,Match Report,NaN,2021-2022
421,Regular season,38.0,Sat,2022-05-21,21:00,Lens,1.6,2–2,1.4,Monaco,37764.0,Stade Bollaert-Delelis,Benoît Bastien,Match Report,NaN,2021-2022
422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-2022
423,French 1/2 Relegation/Promotion Playoff,NaN,Thu,2022-05-26,19:00,Auxerre,NaN,1–1,NaN,Saint-Étienne,17479.0,Stade de l'Abbé Deschamps,NaN,Match Report,Leg 1 of 2,2021-2022
424,French 1/2 Relegation/Promotion Playoff,NaN,Sun,2022-05-29,19:00,Saint-Étienne,NaN,(4) 1–1 (5),NaN,Auxerre,24489.0,Stade Geoffroy-Guichard,NaN,Match Report,Leg 2 of 2; Auxerre won; Auxerre won on penalt...,2021-2022

In [21]:

Ligue1_2022_matches_df.tail()

,Round,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes,Season
420,Regular season,38.0,Sat,2022-05-21,21:00,Marseille,2.3,4–0,1.1,Strasbourg,63873.0,Orange Vélodrome,Stéphanie Frappart,Match Report,NaN,2021-2022
421,Regular season,38.0,Sat,2022-05-21,21:00,Lens,1.6,2–2,1.4,Monaco,37764.0,Stade Bollaert-Delelis,Benoît Bastien,Match Report,NaN,2021-2022
422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-2022
423,French 1/2 Relegation/Promotion Playoff,NaN,Thu,2022-05-26,19:00,Auxerre,NaN,1–1,NaN,Saint-Étienne,17479.0,Stade de l'Abbé Deschamps,NaN,Match Report,Leg 1 of 2,2021-2022
424,French 1/2 Relegation/Promotion Playoff,NaN,Sun,2022-05-29,19:00,Saint-Étienne,NaN,(4) 1–1 (5),NaN,Auxerre,24489.0,Stade Geoffroy-Guichard,NaN,Match Report,Leg 2 of 2; Auxerre won; Auxerre won on penalt...,2021-2022

In [22]:
# Concatenate matches into one dataframe
Ligue1_all_matches_df = pd.concat([Ligue1_2018_matches_df,Ligue1_2019_matches_df, Ligue1_2020_matches_df,
                                Ligue1_2021_matches_df, Ligue1_2022_matches_df], axis=0)
#drop unwanted rows for French 1/2 Relegation
df_filtered = Ligue1_all_matches_df[Ligue1_all_matches_df['Round'] =='French 1/2 Relegation/Promotion Playoff'].index
Ligue1_all_matches_df.drop(df_filtered , inplace=True)
Ligue1_all_matches_df.tail()

,Round,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes,Season
418,Regular season,38.0,Sat,2022-05-21,21:00,Paris S-G,5.4,5–0,0.7,Metz,45000.0,Parc des Princes,Antony Gautier,Match Report,NaN,2021-2022
419,Regular season,38.0,Sat,2022-05-21,21:00,Reims,0.7,2–3,1.8,Nice,12589.0,Stade Auguste-Delaune II,Eric Wattellier,Match Report,NaN,2021-2022
420,Regular season,38.0,Sat,2022-05-21,21:00,Marseille,2.3,4–0,1.1,Strasbourg,63873.0,Orange Vélodrome,Stéphanie Frappart,Match Report,NaN,2021-2022
421,Regular season,38.0,Sat,2022-05-21,21:00,Lens,1.6,2–2,1.4,Monaco,37764.0,Stade Bollaert-Delelis,Benoît Bastien,Match Report,NaN,2021-2022
422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-2022

In [23]:
# Split 'Score' column into 'Home Score' & 'Away Score'
Ligue1_all_matches_df[['Home Score','Away Score']] = Ligue1_all_matches_df['Score'].str.split('–', expand=True)
Ligue1_all_matches_df.tail()

,Round,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes,Season,Home Score,Away Score
418,Regular season,38.0,Sat,2022-05-21,21:00,Paris S-G,5.4,5–0,0.7,Metz,45000.0,Parc des Princes,Antony Gautier,Match Report,NaN,2021-2022,5,0
419,Regular season,38.0,Sat,2022-05-21,21:00,Reims,0.7,2–3,1.8,Nice,12589.0,Stade Auguste-Delaune II,Eric Wattellier,Match Report,NaN,2021-2022,2,3
420,Regular season,38.0,Sat,2022-05-21,21:00,Marseille,2.3,4–0,1.1,Strasbourg,63873.0,Orange Vélodrome,Stéphanie Frappart,Match Report,NaN,2021-2022,4,0
421,Regular season,38.0,Sat,2022-05-21,21:00,Lens,1.6,2–2,1.4,Monaco,37764.0,Stade Bollaert-Delelis,Benoît Bastien,Match Report,NaN,2021-2022,2,2
422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-2022,NaN,NaN

In [24]:
# Get list of columns
#Ligue1_matches_reduced_df = Ligue1_all_matches_df[['Wk', 'Date', 'Time', 'Home', 'Away', 'Score', 'xG', 'xG.1', 
#                                           'Attendance', 'Venue', 'Referee']]
Ligue1_all_matches_df.columns

Index(['Round', 'Wk', 'Day', 'Date', 'Time', 'Home', 'xG', 'Score', 'xG.1',
       'Away', 'Attendance', 'Venue', 'Referee', 'Match Report', 'Notes',
       'Season', 'Home Score', 'Away Score'],
      dtype='object')

In [25]:
# Select desired columns
Ligue1_all_seasons_matches_df = Ligue1_all_matches_df[['Season', 'Wk', 'Date','Time', 'Home', 'Away', 'Home Score', 'Away Score', 'xG', 'xG.1',
                                       'Attendance', 'Venue', 'Referee']]
Ligue1_all_seasons_matches_df

,Season,Wk,Date,Time,Home,Away,Home Score,Away Score,xG,xG.1,Attendance,Venue,Referee
0,2017-2018,1.0,2017-08-04,20:45,Monaco,Toulouse,3,2,2.0,0.3,13572.0,Stade Louis II.,Clément Turpin
1,2017-2018,1.0,2017-08-05,17:15,Paris S-G,Amiens,2,0,2.6,0.3,46898.0,Parc des Princes,Mikael Lesage
2,2017-2018,1.0,2017-08-05,20:00,Lyon,Strasbourg,4,0,1.8,0.5,1979.0,Groupama Stadium,Ruddy Buquet
3,2017-2018,1.0,2017-08-05,20:00,Saint-Étienne,Nice,1,0,0.9,0.5,25879.0,Stade Geoffroy-Guichard,François Letexier
4,2017-2018,1.0,2017-08-05,20:00,Metz,Guingamp,1,3,0.6,1.9,14595.0,Stade Saint-Symphorien,Jérôme Miguelgorry
...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,2021-2022,38.0,2022-05-21,21:00,Paris S-G,Metz,5,0,5.4,0.7,45000.0,Parc des Princes,Antony Gautier
419,2021-2022,38.0,2022-05-21,21:00,Reims,Nice,2,3,0.7,1.8,12589.0,Stade Auguste-Delaune II,Eric Wattellier
420,2021-2022,38.0,2022-05-21,21:00,Marseille,Strasbourg,4,0,2.3,1.1,63873.0,Orange Vélodrome,Stéphanie Frappart
421,2021-2022,38.0,2022-05-21,21:00,Lens,Monaco,2,2,1.6,1.4,37764.0,Stade Bollaert-Delelis,Benoît Bastien
422,2021-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
# Rename Columns
Ligue1_all_seasons_matches_df = Ligue1_all_seasons_matches_df.rename(columns={ 'xG': 'xG Home', 'xG.1': 'xG Away'}) 
Ligue1_all_seasons_matches_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2118 entries, 0 to 422
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Season      2118 non-null   object
 1   Wk          1895 non-null   float64
 2   Date        1898 non-null   object
 3   Time        1825 non-null   object
 4   Home        1898 non-null   object
 5   Away        1898 non-null   object
 6   Home Score  1797 non-null   object
 7   Away Score  1797 non-null   object
 8   xG Home     1794 non-null   float64
 9   xG Away     1794 non-null   float64
 10  Attendance  1406 non-null   float64
 11  Venue       1898 non-null   object
 12  Referee     1794 non-null   object
dtypes: float64(4), object(9)
memory usage: 231.7+ KB

In [27]:
#Create Calculated Columns
Ligue1_all_seasons_matches_df['xG Diff'] = Ligue1_all_seasons_matches_df['xG Home'] - Ligue1_all_seasons_matches_df['xG Away']
#Ligue1_all_seasons_matches_df["Home Score"].value_counts()
#Ligue1_all_seasons_matches_df["Away Score"].value_counts()

Ligue1_all_seasons_matches_df.tail(20)

,Season,Wk,Date,Time,Home,Away,Home Score,Away Score,xG Home,xG Away,Attendance,Venue,Referee,xG Diff
403,2021-2022,37.0,2022-05-14,21:00,Montpellier,Paris S-G,0,4,0.7,2.7,19586.0,Stade de la Mosson,Jeremy Stinat,-2.0
404,2021-2022,37.0,2022-05-14,21:00,Rennes,Marseille,2,0,1.6,0.4,28811.0,Roazhon Park,Benoît Bastien,1.2
405,2021-2022,37.0,2022-05-14,21:00,Monaco,Brest,4,2,3.1,1.9,6000.0,Stade Louis II.,Jérôme Brisard,1.2
406,2021-2022,37.0,2022-05-14,21:00,Troyes,Lens,1,3,0.3,0.8,19000.0,Stade de l'Aube,François Letexier,-0.5
407,2021-2022,37.0,2022-05-14,21:00,Strasbourg,Clermont Foot,1,0,0.9,0.7,25231.0,Stade de la Meinau,Benoît Millot,0.2
408,2021-2022,37.0,2022-05-14,21:00,Metz,Angers,1,0,0.4,0.7,17213.0,Stade Saint-Symphorien,Jérémie Pignard,-0.3
409,2021-2022,37.0,2022-05-14,21:00,Lyon,Nantes,3,2,2.2,2.0,54404.0,Groupama Stadium,Florent Batta,0.2
410,2021-2022,37.0,2022-05-14,21:00,Saint-Étienne,Reims,1,2,1.6,2.0,NaN,Stade Geoffroy-Guichard,Clément Turpin,-0.4
411,2021-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
412,2021-2022,38.0,2022-05-21,21:00,Lille,Rennes,2,2,1.8,1.2,40116.0,Stade Pierre-Mauroy,Amaury Delerue,0.6
413,2021-2022,38.0,2022-05-21,21:00,Brest,Bordeaux,2,4,0.9,2.8,14484.0,Stade Francis-Le Blé,Hakim Ben El Hadj Salem,-1.9
414,2021-2022,38.0,2022-05-21,21:00,Nantes,Saint-Étienne,1,1,2.0,1.6,28636.0,Stade de la Beaujoire - Louis Fonteneau,François Letexier,0.4
415,2021-2022,38.0,2022-05-21,21:00,Clermont Foot,Lyon,1,2,2.3,2.0,12000.0,Stade Gabriel Montpied,Mikael Lesage,0.3
416,2021-2022,38.0,2022-05-21,21:00,Angers,Montpellier,2,0,2.5,1.6,11249.0,Stade Raymond Kopa,Romain Lissorgue,0.9
417,2021-2022,38.0,2022-05-21,21:00,Lorient,Troyes,1,1,1.2,0.4,15131.0,Stade Yves Allainmat - Le Moustoir,Johan Hamel,0.8
418,2021-2022,38.0,2022-05-21,21:00,Paris S-G,Metz,5,0,5.4,0.7,45000.0,Parc des Princes,Antony Gautier,4.7
419,2021-2022,38.0,2022-05-21,21:00,Reims,Nice,2,3,0.7,1.8,12589.0,Stade Auguste-Delaune II,Eric Wattellier,-1.1
420,2021-2022,38.0,2022-05-21,21:00,Marseille,Strasbourg,4,0,2.3,1.1,63873.0,Orange Vélodrome,Stéphanie Frappart,1.2
421,2021-2022,38.0,2022-05-21,21:00,Lens,Monaco,2,2,1.6,1.4,37764.0,Stade Bollaert-Delelis,Benoît Bastien,0.2
422,2021-2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
Ligue1_all_seasons_matches_df['Actual Diff'] = Ligue1_all_seasons_matches_df['Home Score'].astype(float) - Ligue1_all_seasons_matches_df['Away Score'].astype(float)

In [29]:
#Select desired columns
Ligue1_all_seasons_sum_df = Ligue1_all_seasons_sum_df[['Season', 'League Rank', 'Squad', '# of Players', 'Avg Age', 'Avg Poss', 'MP',
       'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Pts/MP', 'xG', 'xGA', 'xGD',
       'xGD/90', 'Attendance', 'Annual Wages ($)']]
Ligue1_all_seasons_sum_df = Ligue1_all_seasons_sum_df.reset_index(drop=True)
Ligue1_all_seasons_sum_df.sample(20)

,Season,League Rank,Squad,# of Players,Avg Age,Avg Poss,MP,W,D,L,...,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Annual Wages ($)
50,2019-2020,15,Dijon,35,26.6,48.4,38,13,9,16,...,73,-18,48,1.26,41.6,63.8,-22.2,-0.58,12228,"11,215,324"
37,2018-2019,9,Toulouse,28,23.9,45.7,38,9,10,19,...,54,-16,37,0.97,45.5,52.1,-6.6,-0.17,16929,"19,101,212"
93,2021-2022,18,Angers,33,27.1,45.1,38,9,14,15,...,52,-10,41,1.08,47.6,45.8,1.8,0.05,11065,"10,323,602"
56,2019-2020,5,Lille,32,22.6,53.8,38,10,8,20,...,67,-26,38,1.00,36.4,57.9,-21.5,-0.57,31453,"27,601,617"
23,2018-2019,3,Marseille,29,27.2,57.8,38,22,11,5,...,47,33,77,2.03,78.1,41.8,36.3,0.96,46616,"53,281,198"
70,2020-2021,15,Dijon,35,26.6,48.4,38,13,9,16,...,73,-18,48,1.26,41.6,63.8,-22.2,-0.58,12228,"11,215,324"
11,2017-2018,19,Guingamp,30,27.2,49.7,38,12,11,15,...,59,-11,47,1.24,45.5,49.0,-3.5,-0.09,14502,"9,388,060"
83,2021-2022,3,Marseille,29,27.2,57.8,38,22,11,5,...,47,33,77,2.03,78.1,41.8,36.3,0.96,46616,"53,281,198"
18,2017-2018,20,Troyes,30,26.7,42.6,38,9,6,23,...,59,-27,33,0.87,38.0,52.0,-14.0,-0.37,11723,"7,001,300"
99,2021-2022,12,Metz,44,27.4,45.5,38,6,8,24,...,76,-42,26,0.68,40.3,71.3,-31.0,-0.81,14844,"13,454,314"
36,2018-2019,5,Lille,32,22.6,53.8,38,10,8,20,...,67,-26,38,1.00,36.4,57.9,-21.5,-0.57,31453,"27,601,617"
12,2017-2018,13,Amiens,34,27.5,43.3,38,12,9,17,...,42,-5,45,1.18,32.8,54.9,-22.1,-0.58,9521,"12,565,645"
34,2018-2019,16,Strasbourg,31,27.2,49.1,38,9,11,18,...,67,-23,38,1.00,45.5,58.4,-12.9,-0.34,24064,"11,010,479"
29,2018-2019,14,Montpellier,30,26.4,47.0,38,11,18,9,...,33,3,51,1.34,42.6,39.0,3.6,0.10,13458,"12,235,453"
45,2019-2020,8,Bordeaux,37,25.1,50.6,38,16,7,15,...,48,5,55,1.45,51.0,43.6,7.5,0.20,26048,"19,977,645"
46,2019-2020,7,Saint-Étienne,40,26.6,51.3,38,15,10,13,...,50,-3,55,1.45,51.0,54.1,-3.1,-0.08,27563,"20,871,408"
44,2019-2020,11,Rennes,35,24.2,49.9,38,16,10,12,...,44,6,58,1.53,49.8,49.3,0.5,0.01,23111,"14,425,526"
7,2017-2018,6,Nice,39,25.0,58.1,38,15,9,14,...,52,1,54,1.42,49.2,49.5,-0.3,-0.01,22876,"22,226,825"
62,2020-2021,4,Lyon,34,24.4,55.6,38,23,9,6,...,43,44,78,2.05,63.4,40.1,23.3,0.61,44047,"37,781,525"
16,2017-2018,5,Lille,32,22.6,53.8,38,10,8,20,...,67,-26,38,1.00,36.4,57.9,-21.5,-0.57,31453,"27,601,617"

In [30]:
# Remove comma from wages column to allow for conversion to float
#Ligue1_all_seasons_sum_df['Annual Wages ($)'] = Ligue1_all_seasons_sum_df['Annual Wages ($)'].map(lambda x: x.replace(',', ''))
Ligue1_all_seasons_sum_df.sample(20)
# Convert wages column to float
#Ligue1_all_seasons_sum_df['Annual Wages ($)'] = Ligue1_all_seasons_sum_df['Annual Wages ($)'].astype(float)

,Season,League Rank,Squad,# of Players,Avg Age,Avg Poss,MP,W,D,L,...,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Annual Wages ($)
29,2018-2019,14,Montpellier,30,26.4,47.0,38,11,18,9,...,33,3,51,1.34,42.6,39.0,3.6,0.10,13458,"12,235,453"
90,2021-2022,15,Dijon,35,26.6,48.4,38,13,9,16,...,73,-18,48,1.26,41.6,63.8,-22.2,-0.58,12228,"11,215,324"
96,2021-2022,5,Lille,32,22.6,53.8,38,10,8,20,...,67,-26,38,1.00,36.4,57.9,-21.5,-0.57,31453,"27,601,617"
75,2020-2021,17,Caen,33,27.3,45.5,38,10,8,20,...,52,-25,38,1.00,42.8,48.0,-5.2,-0.14,17187,"10,658,893"
14,2017-2018,16,Strasbourg,31,27.2,49.1,38,9,11,18,...,67,-23,38,1.00,45.5,58.4,-12.9,-0.34,24064,"11,010,479"
20,2018-2019,1,Paris S-G,35,26.1,66.3,38,29,6,3,...,29,79,93,2.45,86.1,34.3,51.7,1.36,46930,"206,435,344"
85,2021-2022,8,Bordeaux,37,25.1,50.6,38,16,7,15,...,48,5,55,1.45,51.0,43.6,7.5,0.20,26048,"19,977,645"
27,2018-2019,6,Nice,39,25.0,58.1,38,15,9,14,...,52,1,54,1.42,49.2,49.5,-0.3,-0.01,22876,"22,226,825"
84,2021-2022,11,Rennes,35,24.2,49.9,38,16,10,12,...,44,6,58,1.53,49.8,49.3,0.5,0.01,23111,"14,425,526"
52,2019-2020,13,Amiens,34,27.5,43.3,38,12,9,17,...,42,-5,45,1.18,32.8,54.9,-22.1,-0.58,9521,"12,565,645"
54,2019-2020,16,Strasbourg,31,27.2,49.1,38,9,11,18,...,67,-23,38,1.00,45.5,58.4,-12.9,-0.34,24064,"11,010,479"
9,2017-2018,14,Montpellier,30,26.4,47.0,38,11,18,9,...,33,3,51,1.34,42.6,39.0,3.6,0.10,13458,"12,235,453"
35,2018-2019,17,Caen,33,27.3,45.5,38,10,8,20,...,52,-25,38,1.00,42.8,48.0,-5.2,-0.14,17187,"10,658,893"
40,2019-2020,1,Paris S-G,35,26.1,66.3,38,29,6,3,...,29,79,93,2.45,86.1,34.3,51.7,1.36,46930,"206,435,344"
15,2017-2018,17,Caen,33,27.3,45.5,38,10,8,20,...,52,-25,38,1.00,42.8,48.0,-5.2,-0.14,17187,"10,658,893"
22,2018-2019,4,Lyon,34,24.4,55.6,38,23,9,6,...,43,44,78,2.05,63.4,40.1,23.3,0.61,44047,"37,781,525"
23,2018-2019,3,Marseille,29,27.2,57.8,38,22,11,5,...,47,33,77,2.03,78.1,41.8,36.3,0.96,46616,"53,281,198"
69,2020-2021,14,Montpellier,30,26.4,47.0,38,11,18,9,...,33,3,51,1.34,42.6,39.0,3.6,0.10,13458,"12,235,453"
78,2020-2021,20,Troyes,30,26.7,42.6,38,9,6,23,...,59,-27,33,0.87,38.0,52.0,-14.0,-0.37,11723,"7,001,300"
92,2021-2022,13,Amiens,34,27.5,43.3,38,12,9,17,...,42,-5,45,1.18,32.8,54.9,-22.1,-0.58,9521,"12,565,645"

In [36]:

#Ligue1_all_seasons_matches_df
# Export cleaned data to csv files
Ligue1_all_seasons_sum_df['League']='Ligue1'
Ligue1_all_seasons_matches_df['League'] = 'Ligue1'
Ligue1_all_seasons_matches_df = Ligue1_all_seasons_matches_df.reset_index(drop=True)
Ligue1_all_seasons_matches_df = Ligue1_all_seasons_matches_df.dropna(subset=['Wk','Date'], how='all')
#Ligue1_all_seasons_matches_df
Ligue1_all_seasons_sum_df.to_csv('Ligue1_all_seasons_sum.csv', encoding= 'utf-8')
Ligue1_all_seasons_matches_df.to_csv('Ligue1_all_seasons_matches.csv', encoding= 'utf-8')