In [1]:
import pandas as pd
import numpy as np

In [2]:
# File to Load 
filepath = "Data/spi_matches_latest.csv"
# Read in csv file
df = pd.read_csv(filepath)

In [3]:
#Get column names
df.columns

Index(['index', 'season', 'date', 'league_id', 'league', 'team1', 'team2',
       'spi1', 'spi2', 'prob1', 'prob2', 'probtie', 'proj_score1',
       'proj_score2', 'importance1', 'importance2', 'score1', 'score2', 'xg1',
       'xg2', 'nsxg1', 'nsxg2', 'adj_score1', 'adj_score2'],
      dtype='object')

In [4]:
#Create new DataFrame with desired columns
df2 = df[['season', 'date', 'league_id', 'league', 'team1', 'team2', 'score1', 'score2', 'xg1','xg2']]

#Display DataFrame
df2.sample(20)

,season,date,league_id,league,team1,team2,score1,score2,xg1,xg2
4151,2022,2022-09-17,4582,National Women's Soccer League,Chicago Red Stars,Houston Dash,0.0,1.0,NaN,NaN
7945,2022,2023-01-29,1854,Italy Serie A,Juventus,Monza,NaN,NaN,NaN,NaN
3189,2022,2022-08-30,2411,Barclays Premier League,Fulham,Brighton and Hove Albion,2.0,1.0,0.87,1.74
3257,2022,2022-08-31,1951,Major League Soccer,Orlando City SC,Seattle Sounders FC,3.0,2.0,2.85,1.15
10433,2022,2023-04-22,2414,English League Two,Leyton Orient,Crewe Alexandra,NaN,NaN,NaN,NaN
9226,2022,2023-03-11,1856,Italy Serie B,Bari,Frosinone,NaN,NaN,NaN,NaN
3770,2022,2022-09-10,2160,United Soccer League,Arizona United,Oakland Roots,0.0,2.0,NaN,NaN
10614,2022,2023-04-29,2414,English League Two,AFC Wimbledon,Tranmere Rovers,NaN,NaN,NaN,NaN
6762,2022,2022-12-03,2414,English League Two,Mansfield Town,Colchester United,2.0,1.0,NaN,NaN
9829,2022,2023-04-02,1846,German 2. Bundesliga,Hannover 96,SV Sandhausen,NaN,NaN,NaN,NaN
8593,2022,2023-02-18,1882,Turkish Turkcell Super Lig,Istanbul Basaksehir,Besiktas,NaN,NaN,NaN,NaN
9742,2022,2023-04-01,2412,English League Championship,Burnley,Sunderland,NaN,NaN,NaN,NaN
9840,2022,2023-04-02,1843,French Ligue 1,Angers,Nice,NaN,NaN,NaN,NaN
2191,2022,2022-08-07,1843,French Ligue 1,Stade Rennes,Lorient,0.0,1.0,1.49,0.83
5081,2022,2022-10-12,1871,Spanish Segunda Division,Tenerife,FC Cartagena,0.0,0.0,1.62,0.71
4568,2022,2022-10-02,2412,English League Championship,Stoke City,Watford,0.0,4.0,0.98,3.86
6155,2022,2022-11-03,1871,Spanish Segunda Division,FC Cartagena,MÃ¡laga,2.0,1.0,1.71,0.32
3089,2022,2022-08-28,1879,Swiss Raiffeisen Super League,FC Lugano,St Gallen,2.0,3.0,NaN,NaN
528,2022,2022-04-10,2105,Brasileiro SÃ©rie A,AvaÃ­,AmÃ©rica Mineiro,1.0,0.0,0.68,0.47
10794,2022,2023-05-03,1854,Italy Serie A,Monza,AS Roma,NaN,NaN,NaN,NaN

In [5]:
# Create DataFrame which shows only EPL matches
EPL_df = df2.loc[df2['league'] == 'Barclays Premier League']
EPL_df

,season,date,league_id,league,team1,team2,score1,score2,xg1,xg2
2008,2022,2022-08-05,2411,Barclays Premier League,Crystal Palace,Arsenal,0.0,2.0,1.30,1.36
2025,2022,2022-08-06,2411,Barclays Premier League,Fulham,Liverpool,2.0,2.0,1.25,2.57
2070,2022,2022-08-06,2411,Barclays Premier League,Newcastle,Nottingham Forest,2.0,0.0,1.82,0.26
2071,2022,2022-08-06,2411,Barclays Premier League,AFC Bournemouth,Aston Villa,2.0,0.0,0.49,0.68
2073,2022,2022-08-06,2411,Barclays Premier League,Tottenham Hotspur,Southampton,4.0,1.0,1.91,0.54
...,...,...,...,...,...,...,...,...,...,...
11341,2022,2023-05-28,2411,Barclays Premier League,Aston Villa,Brighton and Hove Albion,NaN,NaN,NaN,NaN
11342,2022,2023-05-28,2411,Barclays Premier League,Leeds United,Tottenham Hotspur,NaN,NaN,NaN,NaN
11343,2022,2023-05-28,2411,Barclays Premier League,Southampton,Liverpool,NaN,NaN,NaN,NaN
11344,2022,2023-05-28,2411,Barclays Premier League,Arsenal,Wolverhampton,NaN,NaN,NaN,NaN
11345,2022,2023-05-28,2411,Barclays Premier League,Leicester City,West Ham United,NaN,NaN,NaN,NaN

In [6]:
# Create DataFrame which shows only LaLiga matches
LaLiga_df = df2.loc[df2['league'] == 'Spanish Primera Division']
LaLiga_df

,season,date,league_id,league,team1,team2,score1,score2,xg1,xg2
2273,2022,2022-08-12,1869,Spanish Primera Division,Osasuna,Sevilla FC,2.0,1.0,1.44,1.09
2352,2022,2022-08-13,1869,Spanish Primera Division,Celta Vigo,Espanyol,2.0,2.0,0.40,1.12
2365,2022,2022-08-13,1869,Spanish Primera Division,Real Valladolid,Villarreal,0.0,3.0,0.91,1.60
2395,2022,2022-08-13,1869,Spanish Primera Division,Barcelona,Rayo Vallecano,0.0,0.0,1.47,0.81
2474,2022,2022-08-14,1869,Spanish Primera Division,Cadiz,Real Sociedad,0.0,1.0,0.27,2.09
...,...,...,...,...,...,...,...,...,...,...
11438,2022,2023-06-04,1869,Spanish Primera Division,Villarreal,Atletico Madrid,NaN,NaN,NaN,NaN
11439,2022,2023-06-04,1869,Spanish Primera Division,Real Sociedad,Sevilla FC,NaN,NaN,NaN,NaN
11440,2022,2023-06-04,1869,Spanish Primera Division,Real Valladolid,Getafe,NaN,NaN,NaN,NaN
11441,2022,2023-06-04,1869,Spanish Primera Division,Real Betis,Valencia,NaN,NaN,NaN,NaN
11442,2022,2023-06-04,1869,Spanish Primera Division,Espanyol,Almeria,NaN,NaN,NaN,NaN

In [7]:
#Rename Columns
EPL_cleaned_df = EPL_df.rename(columns={ 'team1': 'Home Team', 'team2': 'Away Team', 'score1': 'Home Score', 
                            'score2': 'Away Score', 'xg1': 'xGoals Home', 'xg2': 'xGoals Away'})
EPL_cleaned_df.head()

,season,date,league_id,league,Home Team,Away Team,Home Score,Away Score,xGoals Home,xGoals Away
2008,2022,2022-08-05,2411,Barclays Premier League,Crystal Palace,Arsenal,0.0,2.0,1.30,1.36
2025,2022,2022-08-06,2411,Barclays Premier League,Fulham,Liverpool,2.0,2.0,1.25,2.57
2070,2022,2022-08-06,2411,Barclays Premier League,Newcastle,Nottingham Forest,2.0,0.0,1.82,0.26
2071,2022,2022-08-06,2411,Barclays Premier League,AFC Bournemouth,Aston Villa,2.0,0.0,0.49,0.68
2073,2022,2022-08-06,2411,Barclays Premier League,Tottenham Hotspur,Southampton,4.0,1.0,1.91,0.54

In [9]:
#Drop all rows without xg data
EPL_cleaned_df.dropna(subset = ['xGoals Home'], inplace = True)
EPL_cleaned_df.dropna(subset = ['xGoals Away'], inplace = True)
EPL_cleaned_df

,season,date,league_id,league,Home Team,Away Team,Home Score,Away Score,xGoals Home,xGoals Away
2008,2022,2022-08-05,2411,Barclays Premier League,Crystal Palace,Arsenal,0.0,2.0,1.30,1.36
2025,2022,2022-08-06,2411,Barclays Premier League,Fulham,Liverpool,2.0,2.0,1.25,2.57
2070,2022,2022-08-06,2411,Barclays Premier League,Newcastle,Nottingham Forest,2.0,0.0,1.82,0.26
2071,2022,2022-08-06,2411,Barclays Premier League,AFC Bournemouth,Aston Villa,2.0,0.0,0.49,0.68
2073,2022,2022-08-06,2411,Barclays Premier League,Tottenham Hotspur,Southampton,4.0,1.0,1.91,0.54
...,...,...,...,...,...,...,...,...,...,...
7245,2022,2023-01-04,2411,Barclays Premier League,Leeds United,West Ham United,2.0,2.0,1.43,1.35
7247,2022,2023-01-04,2411,Barclays Premier League,Aston Villa,Wolverhampton,1.0,1.0,1.08,0.68
7248,2022,2023-01-04,2411,Barclays Premier League,Crystal Palace,Tottenham Hotspur,0.0,4.0,0.89,1.78
7252,2022,2023-01-05,2411,Barclays Premier League,Chelsea,Manchester City,0.0,1.0,0.53,1.82
7392,2022,2023-01-12,2411,Barclays Premier League,Fulham,Chelsea,2.0,1.0,0.78,2.65

In [10]:
#Rename Columns
LaLiga_cleaned_df = LaLiga_df.rename(columns={ 'team1': 'Home Team', 'team2': 'Away Team', 'score1': 'Home Score', 
                            'score2': 'Away Score', 'xg1': 'xGoals Home', 'xg2': 'xGoals Away'})
LaLiga_cleaned_df.head()

,season,date,league_id,league,Home Team,Away Team,Home Score,Away Score,xGoals Home,xGoals Away
2273,2022,2022-08-12,1869,Spanish Primera Division,Osasuna,Sevilla FC,2.0,1.0,1.44,1.09
2352,2022,2022-08-13,1869,Spanish Primera Division,Celta Vigo,Espanyol,2.0,2.0,0.40,1.12
2365,2022,2022-08-13,1869,Spanish Primera Division,Real Valladolid,Villarreal,0.0,3.0,0.91,1.60
2395,2022,2022-08-13,1869,Spanish Primera Division,Barcelona,Rayo Vallecano,0.0,0.0,1.47,0.81
2474,2022,2022-08-14,1869,Spanish Primera Division,Cadiz,Real Sociedad,0.0,1.0,0.27,2.09

In [11]:
#Drop all rows without xG data
LaLiga_cleaned_df.dropna(subset = ['xGoals Home'], inplace = True)
LaLiga_cleaned_df.dropna(subset = ['xGoals Away'], inplace = True)
LaLiga_cleaned_df

,season,date,league_id,league,Home Team,Away Team,Home Score,Away Score,xGoals Home,xGoals Away
2273,2022,2022-08-12,1869,Spanish Primera Division,Osasuna,Sevilla FC,2.0,1.0,1.44,1.09
2352,2022,2022-08-13,1869,Spanish Primera Division,Celta Vigo,Espanyol,2.0,2.0,0.40,1.12
2365,2022,2022-08-13,1869,Spanish Primera Division,Real Valladolid,Villarreal,0.0,3.0,0.91,1.60
2395,2022,2022-08-13,1869,Spanish Primera Division,Barcelona,Rayo Vallecano,0.0,0.0,1.47,0.81
2474,2022,2022-08-14,1869,Spanish Primera Division,Cadiz,Real Sociedad,0.0,1.0,0.27,2.09
...,...,...,...,...,...,...,...,...,...,...
7327,2022,2023-01-08,1869,Spanish Primera Division,Almeria,Real Sociedad,0.0,2.0,0.49,1.86
7338,2022,2023-01-08,1869,Spanish Primera Division,Rayo Vallecano,Real Betis,1.0,2.0,1.50,0.78
7348,2022,2023-01-08,1869,Spanish Primera Division,Sevilla FC,Getafe,2.0,1.0,1.14,0.75
7355,2022,2023-01-08,1869,Spanish Primera Division,Atletico Madrid,Barcelona,0.0,1.0,2.19,1.17
7365,2022,2023-01-09,1869,Spanish Primera Division,Athletic Bilbao,Osasuna,0.0,0.0,1.23,0.42