In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import scipy.stats as stats
import seaborn as sns

# Serie A Summary Stats

In [60]:
#url for Summary Stats seasons 2017_2019 to 2021_2022
url_1718_summary = "https://fbref.com/en/comps/11/2017-2018/2017-2018-Serie-A-Stats"
url_1819_summary = "https://fbref.com/en/comps/11/2018-2019/2018-2019-Serie-A-Stats"
url_1920_summary = "https://fbref.com/en/comps/11/2019-2020/2019-2020-Serie-A-Stats"
url_2021_summary = "https://fbref.com/en/comps/11/2020-2021/2020-2021-Serie-A-Stats"
url_2122_summary = "https://fbref.com/en/comps/11/2021-2022/2021-2022-Serie-A-Stats"  

#  Read the url
table_1718 = pd.read_html(url_1718_summary)
table_1819 = pd.read_html(url_1819_summary)
table_1920 = pd.read_html(url_1920_summary)
table_2021 = pd.read_html(url_2021_summary)
table_2122 = pd.read_html(url_2122_summary)


#  Create the DataFrames
serie_a_summary_1718_df = pd.DataFrame(table_1718[0])
serie_a_summary_1819_df = pd.DataFrame(table_1819[0])
serie_a_summary_1920_df = pd.DataFrame(table_1920[0])
serie_a_summary_2021_df = pd.DataFrame(table_2021[0])
serie_a_summary_2122_df = pd.DataFrame(table_2122[0])

In [61]:
# Get Team age (index[2])
#  Read the url
table_1718 = pd.read_html(url_1718_summary)
table_1819 = pd.read_html(url_1819_summary)
table_1920 = pd.read_html(url_1920_summary)
table_2021 = pd.read_html(url_2021_summary)
table_2122 = pd.read_html(url_2122_summary)


#  Create the DataFrames
serie_a_team_age_1718_df = pd.DataFrame(table_1718[2])
serie_a_team_age_1819_df = pd.DataFrame(table_1819[2])
serie_a_team_age_1920_df = pd.DataFrame(table_1920[2])
serie_a_team_age_2021_df = pd.DataFrame(table_2021[2])
serie_a_team_age_2122_df = pd.DataFrame(table_2122[2])

In [62]:
# Remove upper level to allow for merging with other tables
serie_a_team_age_1718_df = serie_a_team_age_1718_df.droplevel(0, axis = 1)
serie_a_team_age_1819_df = serie_a_team_age_1819_df.droplevel(0, axis = 1)
serie_a_team_age_1920_df = serie_a_team_age_1920_df.droplevel(0, axis = 1)
serie_a_team_age_2021_df = serie_a_team_age_2021_df.droplevel(0, axis = 1)
serie_a_team_age_2122_df = serie_a_team_age_2122_df.droplevel(0, axis = 1)

In [63]:
#url for Team Wages seasons 2017_2019 to 2021_2022
url_1718_wages = "https://fbref.com/en/comps/11/2017-2018/wages/2017-2018-Serie-A-Wages"
url_1819_wages = "https://fbref.com/en/comps/11/2017-2018/wages/2017-2018-Serie-A-Wages"
url_1920_wages = "https://fbref.com/en/comps/11/2017-2018/wages/2017-2018-Serie-A-Wages"
url_2021_wages = "https://fbref.com/en/comps/11/2017-2018/wages/2017-2018-Serie-A-Wages"
url_2122_wages = "https://fbref.com/en/comps/11/2017-2018/wages/2017-2018-Serie-A-Wages" 

#  Read the url
table_1718 = pd.read_html(url_1718_wages)
table_1819 = pd.read_html(url_1819_wages)
table_1920 = pd.read_html(url_1920_wages)
table_2021 = pd.read_html(url_2021_wages)
table_2122 = pd.read_html(url_2122_wages)


#  Create the DataFrames
serie_a_wages_1718_df = pd.DataFrame(table_1718[0])
serie_a_wages_1819_df = pd.DataFrame(table_1819[0])
serie_a_wages_1920_df = pd.DataFrame(table_1920[0])
serie_a_wages_2021_df = pd.DataFrame(table_2021[0])
serie_a_wages_2122_df = pd.DataFrame(table_2122[0])

In [64]:
# Merge wages and season summary for each season
serie_a_1718_merged_df = pd.merge(serie_a_summary_1718_df, serie_a_wages_1718_df,  how="left", on=['Squad'])
serie_a_1819_merged_df = pd.merge(serie_a_summary_1819_df, serie_a_wages_1819_df,  how="left", on=['Squad'])
serie_a_1920_merged_df = pd.merge(serie_a_summary_1920_df, serie_a_wages_1920_df,  how="left", on=['Squad'])
serie_a_2021_merged_df = pd.merge(serie_a_summary_2021_df, serie_a_wages_2021_df,  how="left", on=['Squad'])
serie_a_2122_merged_df = pd.merge(serie_a_summary_2122_df, serie_a_wages_2122_df,  how="left", on=['Squad'])
serie_a_2122_merged_df

,Rk_x,Squad,MP,W,D,L,GF,GA,GD,Pts,...,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes,Rk_y,# Pl,Weekly Wages,Annual Wages,% Estimated
0,1,Milan,38,26,8,4,69,31,38,86,...,0.63,44015,"Olivier Giroud, Rafael Leão - 11",Mike Maignan,→ Champions League via league finish,2.0,42.0,"€ 2,035,731 (£ 1,706,977, $2,074,637)","€ 105,858,000 (£ 88,762,823, $107,881,122)",100%
1,2,Inter,38,25,9,4,84,32,52,84,...,1.12,44473,Lautaro Martínez - 21,Samir Handanović,→ Champions League via league finish,4.0,34.0,"€ 1,488,923 (£ 1,248,475, $1,517,379)","€ 77,424,000 (£ 64,920,676, $78,903,702)",100%
2,3,Napoli,38,24,7,7,74,31,43,79,...,0.67,28119,Victor Osimhen - 14,David Ospina,→ Champions League via league finish,3.0,40.0,"€ 1,495,019 (£ 1,253,586, $1,523,592)","€ 77,741,000 (£ 65,186,483, $79,226,760)",100%
3,4,Juventus,38,20,10,8,57,37,20,70,...,0.35,22621,Paulo Dybala - 10,Wojciech Szczęsny,→ Champions League via league finish,1.0,33.0,"€ 2,717,212 (£ 2,278,405, $2,769,142)","€ 141,295,000 (£ 118,477,041, $143,995,386)",100%
4,5,Lazio,38,18,10,10,77,58,19,64,...,0.20,23263,Ciro Immobile - 27,Thomas Strakosha,→ Europa League via league finish,6.0,44.0,"€ 1,122,635 (£ 941,339, $1,144,090)","€ 58,377,000 (£ 48,949,604, $59,492,678)",100%
5,6,Roma,38,18,9,11,59,43,16,63,...,0.70,41929,Tammy Abraham - 17,Rui Patrício,→ Europa League via league finish,5.0,47.0,"€ 1,413,231 (£ 1,185,006, $1,440,240)","€ 73,488,000 (£ 61,620,307, $74,892,476)",100%
6,7,Fiorentina,38,19,5,14,59,51,8,62,...,0.51,21107,Dušan Vlahović - 17,Pietro Terracciano,→ Europa Conference League via league finish,8.0,41.0,"€ 607,923 (£ 509,749, $619,541)","€ 31,612,000 (£ 26,506,931, $32,216,154)",100%
7,8,Atalanta,38,16,11,11,65,48,17,59,...,0.45,10447,Mario Pašalić - 13,Juan Musso,NaN,14.0,37.0,"€ 437,731 (£ 367,041, $446,096)","€ 22,762,000 (£ 19,086,131, $23,197,016)",100%
8,9,Hellas Verona,38,14,11,13,65,59,6,53,...,0.04,13894,Giovanni Simeone - 17,Lorenzo Montipò,NaN,16.0,41.0,"€ 343,173 (£ 287,754, $349,732)","€ 17,845,000 (£ 14,963,185, $18,186,047)",100%
9,10,Torino,38,13,11,14,46,41,5,50,...,0.26,9846,Andrea Belotti - 8,Vanja Milinković-Savić,NaN,11.0,51.0,"€ 532,154 (£ 446,216, $542,324)","€ 27,672,000 (£ 23,203,209, $28,200,854)",100%
10,11,Sassuolo,38,13,11,14,64,66,-2,50,...,-0.28,8362,Gianluca Scamacca - 16,Andrea Consigli,NaN,10.0,39.0,"€ 591,462 (£ 495,946, $602,765)","€ 30,756,000 (£ 25,789,166, $31,343,797)",100%
11,12,Udinese,38,11,14,13,61,58,3,47,...,-0.03,12144,Gerard Deulofeu - 13,Marco Silvestri,NaN,18.0,46.0,"€ 332,615 (£ 278,901, $338,972)","€ 17,296,000 (£ 14,502,844, $17,626,553)",100%
12,13,Bologna,38,12,10,16,44,55,-11,46,...,-0.20,14158,Marko Arnautović - 14,Łukasz Skorupski,NaN,12.0,41.0,"€ 453,904 (£ 380,602, $462,579)","€ 23,603,000 (£ 19,791,316, $24,054,088)",100%
13,14,Empoli,38,10,11,17,50,70,-20,41,...,-0.56,6356,Andrea Pinamonti - 13,Guglielmo Vicario,NaN,NaN,NaN,NaN,NaN,NaN
14,15,Sampdoria,38,10,6,22,46,63,-17,36,...,-0.51,9417,Francesco Caputo - 11,Emil Audero,NaN,7.0,39.0,"€ 673,923 (£ 565,090, $686,803)","€ 35,044,000 (£ 29,384,691, $35,713,748)",100%
15,16,Spezia,38,10,6,22,41,71,-30,36,...,-0.64,6709,Daniele Verde - 8,Ivan Provedel,NaN,NaN,NaN,NaN,NaN,NaN
16,17,Salernitana,38,7,10,21,33,78,-45,31,...,-0.76,15073,Federico Bonazzoli - 10,Vid Belec,NaN,NaN,NaN,NaN,NaN,NaN
17,18,Cagliari,38,6,12,20,34,68,-34,30,...,-0.58,9718,João Pedro - 13,Alessio Cragno,Relegated,13.0,41.0,"€ 448,250 (£ 375,861, $456,817)","€ 23,309,000 (£ 19,544,792, $23,754,471)",100%
18,19,Genoa,38,4,16,18,27,60,-33,28,...,-0.44,12326,Mattia Destro - 9,Salvatore Sirigu,Relegated,9.0,44.0,"€ 599,154 (£ 502,396, $610,605)","€ 31,156,000 (£ 26,124,570, $31,751,443)",100%
19,20,Venezia,38,6,9,23,34,69,-35,27,...,-0.93,6648,Thomas Henry - 9,Niki Mäenpää,Relegated,NaN,NaN,NaN,NaN,NaN

In [65]:
#  Merge the Age tables for each season
serie_a_1718_complete_df = pd.merge(serie_a_1718_merged_df, serie_a_team_age_1718_df, how="left", on=["Squad"])
serie_a_1819_complete_df = pd.merge(serie_a_1819_merged_df, serie_a_team_age_1819_df, how="left", on=["Squad"])
serie_a_1920_complete_df = pd.merge(serie_a_1920_merged_df, serie_a_team_age_1920_df, how="left", on=["Squad"])
serie_a_2021_complete_df = pd.merge(serie_a_2021_merged_df, serie_a_team_age_2021_df, how="left", on=["Squad"])
serie_a_2122_complete_df = pd.merge(serie_a_2122_merged_df, serie_a_team_age_2122_df, how="left", on=["Squad"])
serie_a_2122_complete_df

,Rk_x,Squad,MP_x,W,D,L,GF,GA,GD,Pts,...,Gls,Ast,G+A,G-PK,G+A-PK,xG_y,xAG,xG+xAG,npxG,npxG+xAG
0,1,Milan,38,26,8,4,69,31,38,86,...,1.74,1.03,2.76,1.61,2.63,1.57,1.13,2.70,1.42,2.55
1,2,Inter,38,25,9,4,84,32,52,84,...,2.18,1.50,3.68,2.00,3.50,2.15,1.51,3.66,1.94,3.45
2,3,Napoli,38,24,7,7,74,31,43,79,...,1.95,1.21,3.16,1.68,2.89,1.52,0.98,2.50,1.23,2.20
3,4,Juventus,38,20,10,8,57,37,20,70,...,1.47,0.97,2.45,1.34,2.32,1.35,0.96,2.31,1.23,2.18
4,5,Lazio,38,18,10,10,77,58,19,64,...,1.95,1.26,3.21,1.76,3.03,1.46,1.02,2.48,1.27,2.29
5,6,Roma,38,18,9,11,59,43,16,63,...,1.53,0.82,2.34,1.34,2.16,1.71,1.22,2.93,1.53,2.75
6,7,Fiorentina,38,19,5,14,59,51,8,62,...,1.55,0.87,2.42,1.32,2.18,1.58,1.03,2.61,1.34,2.37
7,8,Atalanta,38,16,11,11,65,48,17,59,...,1.63,1.26,2.89,1.50,2.76,1.64,1.28,2.92,1.53,2.81
8,9,Hellas Verona,38,14,11,13,65,59,6,53,...,1.66,1.16,2.82,1.47,2.63,1.33,0.90,2.23,1.16,2.06
9,10,Torino,38,13,11,14,46,41,5,50,...,1.13,0.71,1.84,0.97,1.68,1.28,0.96,2.24,1.16,2.12
10,11,Sassuolo,38,13,11,14,64,66,-2,50,...,1.58,1.03,2.61,1.39,2.42,1.46,1.03,2.49,1.32,2.35
11,12,Udinese,38,11,14,13,61,58,3,47,...,1.53,0.95,2.47,1.45,2.39,1.35,0.96,2.31,1.27,2.23
12,13,Bologna,38,12,10,16,44,55,-11,46,...,1.13,0.89,2.03,1.03,1.92,1.18,0.88,2.06,1.08,1.96
13,14,Empoli,38,10,11,17,50,70,-20,41,...,1.24,0.71,1.95,1.05,1.76,1.18,0.76,1.94,1.04,1.80
14,15,Sampdoria,38,10,6,22,46,63,-17,36,...,1.11,0.76,1.87,1.05,1.82,0.97,0.69,1.66,0.88,1.57
15,16,Spezia,38,10,6,22,41,71,-30,36,...,1.00,0.66,1.66,0.92,1.58,1.05,0.73,1.79,0.95,1.69
16,17,Salernitana,38,7,10,21,33,78,-45,31,...,0.84,0.50,1.34,0.74,1.24,0.96,0.65,1.61,0.87,1.52
17,18,Cagliari,38,6,12,20,34,68,-34,30,...,0.89,0.68,1.58,0.82,1.50,1.03,0.78,1.81,0.96,1.74
18,19,Genoa,38,4,16,18,27,60,-33,28,...,0.68,0.50,1.18,0.53,1.03,0.98,0.69,1.67,0.84,1.53
19,20,Venezia,38,6,9,23,34,69,-35,27,...,0.89,0.61,1.50,0.82,1.42,0.96,0.69,1.66,0.85,1.55

In [66]:
# Select desired columns for final summary table
serie_a_1718_sum_complete_df = serie_a_1718_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                         'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]
serie_a_1819_sum_complete_df = serie_a_1819_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                         'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]
serie_a_1920_sum_complete_df = serie_a_1920_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                         'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]
serie_a_2021_sum_complete_df = serie_a_2021_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                         'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]
serie_a_2122_sum_complete_df = serie_a_2122_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                         'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]

In [67]:
# Rename columns
serie_a_1718_sum_complete_df = serie_a_1718_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players', 
                                                                             'MP_x': 'MP', 'xG_x': 'xG'})
serie_a_1819_sum_complete_df = serie_a_1819_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players', 
                                                                             'MP_x': 'MP', 'xG_x': 'xG'})
serie_a_1920_sum_complete_df = serie_a_1920_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players', 
                                                                             'MP_x': 'MP', 'xG_x': 'xG'})
serie_a_2021_sum_complete_df = serie_a_2021_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players', 
                                                                             'MP_x': 'MP', 'xG_x': 'xG'})
serie_a_2122_sum_complete_df = serie_a_2122_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players', 
                                                                             'MP_x': 'MP', 'xG_x': 'xG'})

In [68]:
# Convert 'Annual Wages' column into single column with only dollar value
serie_a_1718_sum_complete_df[['pounds', 'dollars']] = serie_a_1718_sum_complete_df['Annual Wages'].str.split('$', expand=True)
serie_a_1819_sum_complete_df[['pounds', 'dollars']] = serie_a_1718_sum_complete_df['Annual Wages'].str.split('$', expand=True)
serie_a_1920_sum_complete_df[['pounds', 'dollars']] = serie_a_1718_sum_complete_df['Annual Wages'].str.split('$', expand=True)
serie_a_2021_sum_complete_df[['pounds', 'dollars']] = serie_a_1718_sum_complete_df['Annual Wages'].str.split('$', expand=True)
serie_a_2122_sum_complete_df[['pounds', 'dollars']] = serie_a_1718_sum_complete_df['Annual Wages'].str.split('$', expand=True)

In [69]:
# Convert 'Annual Wages' column into single column with only dollar value

serie_a_1718_sum_complete_df[['Annual Wages ($)', 'discard']] = serie_a_1718_sum_complete_df['dollars'].str.split(')', expand=True)
serie_a_1819_sum_complete_df[['Annual Wages ($)', 'discard']] = serie_a_1819_sum_complete_df['dollars'].str.split(')', expand=True)
serie_a_1920_sum_complete_df[['Annual Wages ($)', 'discard']] = serie_a_1920_sum_complete_df['dollars'].str.split(')', expand=True)
serie_a_2021_sum_complete_df[['Annual Wages ($)', 'discard']] = serie_a_2021_sum_complete_df['dollars'].str.split(')', expand=True)
serie_a_2122_sum_complete_df[['Annual Wages ($)', 'discard']] = serie_a_2122_sum_complete_df['dollars'].str.split(')', expand=True)

In [70]:
# Drop unwanted columns 
serie_a_1718_sum_cleaned_df = serie_a_1718_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
serie_a_1819_sum_cleaned_df = serie_a_1819_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
serie_a_1920_sum_cleaned_df = serie_a_1920_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
serie_a_2021_sum_cleaned_df = serie_a_2021_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
serie_a_2122_sum_cleaned_df = serie_a_2122_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)

In [71]:
# Sort by league position
serie_a_1718_sum_clean_sorted_df = serie_a_1718_sum_cleaned_df.sort_values('Pts', ascending=False)
serie_a_1819_sum_clean_sorted_df = serie_a_1819_sum_cleaned_df.sort_values('Pts', ascending=False)
serie_a_1920_sum_clean_sorted_df = serie_a_1920_sum_cleaned_df.sort_values('Pts', ascending=False)
serie_a_2021_sum_clean_sorted_df = serie_a_2021_sum_cleaned_df.sort_values('Pts', ascending=False)
serie_a_2122_sum_clean_sorted_df = serie_a_2122_sum_cleaned_df.sort_values('Pts', ascending=False)

In [72]:
serie_a_1718_sum_clean_sorted_df['Season'] = '2017-2018'
serie_a_1819_sum_clean_sorted_df['Season'] = '2018-2019'
serie_a_1920_sum_clean_sorted_df['Season'] = '2019-2020'
serie_a_2021_sum_clean_sorted_df['Season'] = '2020-2021'
serie_a_2122_sum_clean_sorted_df['Season'] = '2021-2022'

In [73]:
# Create a single DataFrame for Seasons Summary
serie_a_seasons_sum_df = pd.concat([serie_a_1718_sum_clean_sorted_df, serie_a_1819_sum_clean_sorted_df,
                                    serie_a_1920_sum_clean_sorted_df,serie_a_2021_sum_clean_sorted_df,
                                    serie_a_2122_sum_clean_sorted_df])

In [74]:
#  Rearrange Columns and reset index
serie_a_seasons_sum_df = serie_a_seasons_sum_df[['Season', 'League Rank', 'Squad', '# of Players', 'Avg Age', 
                                                 'Avg Poss', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Pts/MP',
                                                 'xG', 'xGA', 'xGD', 'xGD/90', 'Attendance', 'Annual Wages ($)']]

# serie_a_seasons_sum_df['Annual Wages ($)'] = serie_a_seasons_sum_df['Annual Wages ($)'].map(lambda x: x.replace(',', ''))


serie_a_seasons_sum_df["League"] = "Serie A"
serie_a_seasons_sum_df = serie_a_seasons_sum_df.reset_index()

# Serie A Match Stats

In [75]:
#url for Match Stats seasons 2017_2019 to 2021_2022
url_1718_matches = "https://fbref.com/en/comps/11/2017-2018/schedule/2017-2018-Serie-A-Scores-and-Fixtures"
url_1819_matches = "https://fbref.com/en/comps/11/2018-2019/schedule/2018-2019-Serie-A-Scores-and-Fixtures"
url_1920_matches = "https://fbref.com/en/comps/11/2019-2020/schedule/2019-2020-Serie-A-Scores-and-Fixtures"
url_2021_matches = "https://fbref.com/en/comps/11/2020-2021/schedule/2020-2021-Serie-A-Scores-and-Fixtures"
url_2122_matches = "https://fbref.com/en/comps/11/2021-2022/schedule/2021-2022-Serie-A-Scores-and-Fixtures"

In [76]:
# Read url
matches_1718 = pd.read_html(url_1718_matches)
matches_1819 = pd.read_html(url_1819_matches)
matches_1920 = pd.read_html(url_1920_matches)
matches_2021 = pd.read_html(url_2021_matches)
matches_2122 = pd.read_html(url_2122_matches)

In [77]:
# Match Seasions 2017-2018 to 2021-2022 season

serie_a_matches_1718_df = pd.DataFrame(matches_1718[0])
serie_a_matches_1819_df = pd.DataFrame(matches_1819[0])
serie_a_matches_1920_df = pd.DataFrame(matches_1920[0])
serie_a_matches_2021_df = pd.DataFrame(matches_2021[0])
serie_a_matches_2122_df = pd.DataFrame(matches_2122[0])

In [78]:
#  Drop the empty rows
serie_a_matches_1718_df = serie_a_matches_1718_df.dropna(how="all")
serie_a_matches_1819_df = serie_a_matches_1819_df.dropna(how="all")
serie_a_matches_1920_df = serie_a_matches_1920_df.dropna(how="all")
serie_a_matches_2021_df = serie_a_matches_2021_df.dropna(how="all")
serie_a_matches_2122_df = serie_a_matches_2122_df.dropna(how="all")

In [79]:
#  Drop Match Reports and Notes column
serie_a_matches_1718_df = serie_a_matches_1718_df.drop(["Match Report", "Notes"], axis=1)
serie_a_matches_1819_df = serie_a_matches_1819_df.drop(["Match Report", "Notes"], axis=1)
serie_a_matches_1920_df = serie_a_matches_1920_df.drop(["Match Report", "Notes"], axis=1)
serie_a_matches_2021_df = serie_a_matches_2021_df.drop(["Match Report", "Notes"], axis=1)
serie_a_matches_2122_df = serie_a_matches_2122_df.drop(["Match Report", "Notes"], axis=1)

In [80]:
# Add the seasons to the dataframe
serie_a_matches_1718_df["Season"] = "2017-2018"
serie_a_matches_1819_df["Season"] = "2018-2019"
serie_a_matches_1920_df["Season"] = "2019-2020"
serie_a_matches_2021_df["Season"] = "2020-2021"
serie_a_matches_2122_df["Season"] = "2021-2022"

In [81]:
serie_a_all_seasons_matches_df = pd.concat([serie_a_matches_1718_df,serie_a_matches_1819_df,
                                        serie_a_matches_1920_df, serie_a_matches_2021_df,
                                        serie_a_matches_2122_df], axis=0)

In [82]:
# Split the Score into Home Score and Away Score
serie_a_all_seasons_matches_df[['Home Score','Away Score']] = serie_a_all_seasons_matches_df['Score'].str.split('–', expand=True)

In [83]:
#  Sort columns 

serie_a_all_seasons_matches_df = serie_a_all_seasons_matches_df[['Season', 'Wk', 'Date','Time', 'Home', 'Away',
                                                               'Home Score', 'Away Score', 'xG', 'xG.1', 
                                                               'Attendance', 'Venue', 'Referee']]

In [84]:
# Rename xG and xG.1 columns

serie_a_all_seasons_matches_df = serie_a_all_seasons_matches_df.rename(columns={ 'xG': 'xG Home', 'xG.1': 'xG Away'})

In [85]:
#  Covert Columns to floats and add column for 

serie_a_all_seasons_matches_df["xG Diff"] = serie_a_all_seasons_matches_df['xG Home'].astype(float) - serie_a_all_seasons_matches_df['xG Away'].astype(float)
serie_a_all_seasons_matches_df["Actual Diff"] = serie_a_all_seasons_matches_df['Home Score'].astype(float) - serie_a_all_seasons_matches_df['Away Score'].astype(float)
serie_a_all_seasons_matches_df["League"] = "Serie A"
serie_a_all_seasons_matches_df.head()

,Season,Wk,Date,Time,Home,Away,Home Score,Away Score,xG Home,xG Away,Attendance,Venue,Referee,xG Diff,Actual Diff,League
0,2017-2018,1.0,2017-08-19,18:00,Juventus,Cagliari,3,0,1.1,1.4,39226.0,Allianz Stadium,Fabio Maresca,-0.3,3.0,Serie A
1,2017-2018,1.0,2017-08-19,20:45,Hellas Verona,Napoli,1,3,1.3,2.1,15215.0,Stadio Marc'Antonio Bentegodi,Michael Fabbri,-0.8,-2.0,Serie A
2,2017-2018,1.0,2017-08-20,18:00,Atalanta,Roma,0,1,1.5,0.4,19108.0,Stadio Atleti Azzurri d'Italia,Piero Giacomelli,1.1,-1.0,Serie A
3,2017-2018,1.0,2017-08-20,20:45,Udinese,Chievo,1,2,0.8,0.5,13000.0,Dacia Arena,Claudio Gavillucci,0.3,-1.0,Serie A
4,2017-2018,1.0,2017-08-20,20:45,Inter,Fiorentina,3,0,2.3,0.6,51752.0,Stadio Giuseppe Meazza,Paolo Tagliavento,1.7,3.0,Serie A

In [86]:
# Final DataFrames Serie A
# Final Seasons Summary DataFrame 5 Seasons 2017-2018 to 2021-2022
serie_a_seasons_sum_df.sample(10)
# Final Match DataFrame 5 Seasons 2017-2018 to 2021-2022
serie_a_all_seasons_matches_df.sample(10)

,Season,Wk,Date,Time,Home,Away,Home Score,Away Score,xG Home,xG Away,Attendance,Venue,Referee,xG Diff,Actual Diff,League
187,2017-2018,18.0,2017-12-23,12:30,Lazio,Crotone,4,0,3.6,0.5,25000.0,Stadio Olimpico,Giampaolo Calvarese,3.1,4.0,Serie A
343,2021-2022,32.0,2022-04-10,18:00,Roma,Salernitana,2,1,2.0,0.4,64266.0,Stadio Olimpico,Manuel Volpi,1.6,1.0,Serie A
342,2017-2018,31.0,2018-04-08,18:00,Udinese,Lazio,1,2,0.7,1.1,21676.0,Dacia Arena,Gianluca Rocchi,-0.4,-1.0,Serie A
318,2017-2018,30.0,2018-03-31,15:00,Genoa,SPAL,1,1,2.7,0.3,19853.0,Stadio Comunale Luigi Ferraris,Piero Giacomelli,2.4,0.0,Serie A
206,2021-2022,19.0,2021-12-22,20:45,Napoli,Spezia,0,1,1.9,0.6,25000.0,Stadio Diego Armando Maradona,Luca Massimi,1.3,-1.0,Serie A
131,2018-2019,12.0,2018-11-11,18:00,Sassuolo,Lazio,1,1,0.7,1.6,11317.0,Stadio Città del Tricolore,Giampaolo Calvarese,-0.9,0.0,Serie A
151,2018-2019,14.0,2018-12-02,15:00,Frosinone,Cagliari,1,1,1.9,1.9,12377.0,Stadio Benito Stirpe,Marco Serra,0.0,0.0,Serie A
145,2017-2018,14.0,2017-11-26,15:00,Udinese,Napoli,0,1,0.4,1.5,19743.0,Dacia Arena,Marco Di Bello,-1.1,-1.0,Serie A
140,2019-2020,13.0,2019-11-25,20:45,SPAL,Genoa,1,1,2.5,1.5,12423.0,Stadio Paolo Mazza,Piero Giacomelli,1.0,0.0,Serie A
135,2020-2021,13.0,2020-12-20,12:30,Torino,Bologna,1,1,1.2,1.9,NaN,Stadio Olimpico di Torino,Fabrizio Pasqua,-0.7,0.0,Serie A

In [87]:
# Export cleaned data to csv files
serie_a_seasons_sum_df.to_csv('data/serie_a_seasons_sum.csv', encoding= 'utf-8')
serie_a_all_seasons_matches_df.to_csv('data/serie_a_all_seasons_matches.csv', encoding= 'utf-8')