In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import scipy.stats as stats
import seaborn as sns

# Serie A Summary Stats

In [2]:
#url for Summary Stats seasons 2017_2019 to 2021_2022
url_1718_summary = "https://fbref.com/en/comps/11/2017-2018/2017-2018-Serie-A-Stats"
url_1819_summary = "https://fbref.com/en/comps/11/2018-2019/2018-2019-Serie-A-Stats"
url_1920_summary = "https://fbref.com/en/comps/11/2019-2020/2019-2020-Serie-A-Stats"
url_2021_summary = "https://fbref.com/en/comps/11/2020-2021/2020-2021-Serie-A-Stats"
url_2122_summary = "https://fbref.com/en/comps/11/2021-2022/2021-2022-Serie-A-Stats"  

#  Read the url
table_1718 = pd.read_html(url_1718_summary)
table_1819 = pd.read_html(url_1819_summary)
table_1920 = pd.read_html(url_1920_summary)
table_2021 = pd.read_html(url_2021_summary)
table_2122 = pd.read_html(url_2122_summary)


#  Create the DataFrames
serie_a_summary_1718_df = pd.DataFrame(table_1718[0])
serie_a_summary_1819_df = pd.DataFrame(table_1819[0])
serie_a_summary_1920_df = pd.DataFrame(table_1920[0])
serie_a_summary_2021_df = pd.DataFrame(table_2021[0])
serie_a_summary_2122_df = pd.DataFrame(table_2122[0])

In [3]:
# Get Team age (index[2])
#  Read the url
table_1718 = pd.read_html(url_1718_summary)
table_1819 = pd.read_html(url_1819_summary)
table_1920 = pd.read_html(url_1920_summary)
table_2021 = pd.read_html(url_2021_summary)
table_2122 = pd.read_html(url_2122_summary)


#  Create the DataFrames
serie_a_team_age_1718_df = pd.DataFrame(table_1718[2])
serie_a_team_age_1819_df = pd.DataFrame(table_1819[2])
serie_a_team_age_1920_df = pd.DataFrame(table_1920[2])
serie_a_team_age_2021_df = pd.DataFrame(table_2021[2])
serie_a_team_age_2122_df = pd.DataFrame(table_2122[2])

In [4]:
# Remove upper level to allow for merging with other tables
serie_a_team_age_1718_df = serie_a_team_age_1718_df.droplevel(0, axis = 1)
serie_a_team_age_1819_df = serie_a_team_age_1819_df.droplevel(0, axis = 1)
serie_a_team_age_1920_df = serie_a_team_age_1920_df.droplevel(0, axis = 1)
serie_a_team_age_2021_df = serie_a_team_age_2021_df.droplevel(0, axis = 1)
serie_a_team_age_2122_df = serie_a_team_age_2122_df.droplevel(0, axis = 1)

In [5]:
#url for Team Wages seasons 2017_2019 to 2021_2022
url_1718_wages = "https://fbref.com/en/comps/11/2017-2018/wages/2017-2018-Serie-A-Wages"
url_1819_wages = "https://fbref.com/en/comps/11/2017-2018/wages/2017-2018-Serie-A-Wages"
url_1920_wages = "https://fbref.com/en/comps/11/2017-2018/wages/2017-2018-Serie-A-Wages"
url_2021_wages = "https://fbref.com/en/comps/11/2017-2018/wages/2017-2018-Serie-A-Wages"
url_2122_wages = "https://fbref.com/en/comps/11/2017-2018/wages/2017-2018-Serie-A-Wages" 

#  Read the url
table_1718 = pd.read_html(url_1718_wages)
table_1819 = pd.read_html(url_1819_wages)
table_1920 = pd.read_html(url_1920_wages)
table_2021 = pd.read_html(url_2021_wages)
table_2122 = pd.read_html(url_2122_wages)


#  Create the DataFrames
serie_a_wages_1718_df = pd.DataFrame(table_1718[0])
serie_a_wages_1819_df = pd.DataFrame(table_1819[0])
serie_a_wages_1920_df = pd.DataFrame(table_1920[0])
serie_a_wages_2021_df = pd.DataFrame(table_2021[0])
serie_a_wages_2122_df = pd.DataFrame(table_2122[0])

In [6]:
# Merge wages and season summary for each season
serie_a_1718_merged_df = pd.merge(serie_a_wages_1718_df, serie_a_summary_1718_df, how="left", on=['Squad'])
serie_a_1819_merged_df = pd.merge(serie_a_wages_1819_df, serie_a_summary_1819_df, how="left", on=['Squad'])
serie_a_1920_merged_df = pd.merge(serie_a_wages_1920_df, serie_a_summary_1920_df, how="left", on=['Squad'])
serie_a_2021_merged_df = pd.merge(serie_a_wages_2021_df, serie_a_summary_2021_df, how="left", on=['Squad'])
serie_a_2122_merged_df = pd.merge(serie_a_wages_2122_df, serie_a_summary_2122_df, how="left", on=['Squad'])

In [7]:
#  Merge the Age tables for each season
serie_a_1718_complete_df = pd.merge(serie_a_1718_merged_df, serie_a_team_age_1718_df, how="left", on=["Squad"])
serie_a_1819_complete_df = pd.merge(serie_a_1819_merged_df, serie_a_team_age_1819_df, how="left", on=["Squad"])
serie_a_1920_complete_df = pd.merge(serie_a_1920_merged_df, serie_a_team_age_1920_df, how="left", on=["Squad"])
serie_a_2021_complete_df = pd.merge(serie_a_2021_merged_df, serie_a_team_age_2021_df, how="left", on=["Squad"])
serie_a_2122_complete_df = pd.merge(serie_a_2122_merged_df, serie_a_team_age_2122_df, how="left", on=["Squad"])

In [8]:
# Select desired columns for final summary table
serie_a_1718_sum_complete_df = serie_a_1718_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                         'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]
serie_a_1819_sum_complete_df = serie_a_1819_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                         'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]
serie_a_1920_sum_complete_df = serie_a_1920_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                         'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]
serie_a_2021_sum_complete_df = serie_a_2021_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                         'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]
serie_a_2122_sum_complete_df = serie_a_2122_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                         'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]

In [9]:
# Rename columns
serie_a_1718_sum_complete_df = serie_a_1718_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players', 
                                                                             'MP_x': 'MP', 'xG_x': 'xG'})
serie_a_1819_sum_complete_df = serie_a_1819_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players', 
                                                                             'MP_x': 'MP', 'xG_x': 'xG'})
serie_a_1920_sum_complete_df = serie_a_1920_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players', 
                                                                             'MP_x': 'MP', 'xG_x': 'xG'})
serie_a_2021_sum_complete_df = serie_a_2021_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players', 
                                                                             'MP_x': 'MP', 'xG_x': 'xG'})
serie_a_2122_sum_complete_df = serie_a_2122_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players', 
                                                                             'MP_x': 'MP', 'xG_x': 'xG'})

In [10]:
# Convert 'Annual Wages' column into single column with only dollar value
serie_a_1718_sum_complete_df[['pounds', 'dollars']] = serie_a_1718_sum_complete_df['Annual Wages'].str.split('$', expand=True)
serie_a_1819_sum_complete_df[['pounds', 'dollars']] = serie_a_1718_sum_complete_df['Annual Wages'].str.split('$', expand=True)
serie_a_1920_sum_complete_df[['pounds', 'dollars']] = serie_a_1718_sum_complete_df['Annual Wages'].str.split('$', expand=True)
serie_a_2021_sum_complete_df[['pounds', 'dollars']] = serie_a_1718_sum_complete_df['Annual Wages'].str.split('$', expand=True)
serie_a_2122_sum_complete_df[['pounds', 'dollars']] = serie_a_1718_sum_complete_df['Annual Wages'].str.split('$', expand=True)

In [11]:
# Convert 'Annual Wages' column into single column with only dollar value

serie_a_1718_sum_complete_df[['Annual Wages ($)', 'discard']] = serie_a_1718_sum_complete_df['dollars'].str.split(')', expand=True)
serie_a_1819_sum_complete_df[['Annual Wages ($)', 'discard']] = serie_a_1819_sum_complete_df['dollars'].str.split(')', expand=True)
serie_a_1920_sum_complete_df[['Annual Wages ($)', 'discard']] = serie_a_1920_sum_complete_df['dollars'].str.split(')', expand=True)
serie_a_2021_sum_complete_df[['Annual Wages ($)', 'discard']] = serie_a_2021_sum_complete_df['dollars'].str.split(')', expand=True)
serie_a_2122_sum_complete_df[['Annual Wages ($)', 'discard']] = serie_a_2122_sum_complete_df['dollars'].str.split(')', expand=True)

In [12]:
# Drop unwanted columns 
serie_a_1718_sum_cleaned_df = serie_a_1718_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
serie_a_1819_sum_cleaned_df = serie_a_1819_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
serie_a_1920_sum_cleaned_df = serie_a_1920_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
serie_a_2021_sum_cleaned_df = serie_a_2021_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
serie_a_2122_sum_cleaned_df = serie_a_2122_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)

In [13]:
# Sort by league position
serie_a_1718_sum_clean_sorted_df = serie_a_1718_sum_cleaned_df.sort_values('Pts', ascending=False)
serie_a_1819_sum_clean_sorted_df = serie_a_1819_sum_cleaned_df.sort_values('Pts', ascending=False)
serie_a_1920_sum_clean_sorted_df = serie_a_1920_sum_cleaned_df.sort_values('Pts', ascending=False)
serie_a_2021_sum_clean_sorted_df = serie_a_2021_sum_cleaned_df.sort_values('Pts', ascending=False)
serie_a_2122_sum_clean_sorted_df = serie_a_2122_sum_cleaned_df.sort_values('Pts', ascending=False)

In [14]:
serie_a_1718_sum_clean_sorted_df['Season'] = '2017-2018'
serie_a_1819_sum_clean_sorted_df['Season'] = '2018-2019'
serie_a_1920_sum_clean_sorted_df['Season'] = '2019-2020'
serie_a_2021_sum_clean_sorted_df['Season'] = '2020-2021'
serie_a_2122_sum_clean_sorted_df['Season'] = '2021-2022'

In [18]:
# Create a single DataFrame for Seasons Summary
serie_a_seasons_sum_df = pd.concat([serie_a_1718_sum_clean_sorted_df, serie_a_1819_sum_clean_sorted_df,
                                    serie_a_1920_sum_clean_sorted_df,serie_a_2021_sum_clean_sorted_df,
                                    serie_a_2122_sum_clean_sorted_df])

In [20]:
#  Rearrange Columns and reset index
serie_a_seasons_sum_df = serie_a_seasons_sum_df[['Season', 'League Rank', 'Squad', '# of Players', 'Avg Age', 
                                                 'Avg Poss', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Pts/MP',
                                                 'xG', 'xGA', 'xGD', 'xGD/90', 'Attendance', 'Annual Wages ($)']]
serie_a_seasons_sum_df = serie_a_seasons_sum_df.reset_index()
serie_a_seasons_sum_df.head()

,index,Season,League Rank,Squad,# of Players,Avg Age,Avg Poss,MP,W,D,...,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Annual Wages ($)
0,0,2017-2018,1.0,Juventus,33,29.2,57.2,38.0,30.0,5.0,...,24.0,62.0,95.0,2.50,55.3,27.4,27.9,0.73,39316.0,"143,995,386"
1,2,2017-2018,2.0,Napoli,40,28.0,63.4,38.0,28.0,7.0,...,29.0,48.0,91.0,2.39,67.1,27.1,40.1,1.05,43050.0,"79,226,760"
2,4,2017-2018,3.0,Roma,47,27.4,58.0,38.0,23.0,8.0,...,28.0,33.0,77.0,2.03,63.4,37.2,26.2,0.69,37450.0,"74,892,476"
3,3,2017-2018,4.0,Inter,34,27.6,57.1,38.0,20.0,12.0,...,30.0,36.0,72.0,1.89,56.7,37.2,19.6,0.52,57529.0,"78,903,702"
4,5,2017-2018,5.0,Lazio,44,26.5,51.1,38.0,21.0,9.0,...,49.0,40.0,72.0,1.89,63.7,43.9,19.9,0.52,30990.0,"59,492,678"

# Serie A Match Stats

In [21]:
#url for Match Stats seasons 2017_2019 to 2021_2022
url_1718_matches = "https://fbref.com/en/comps/11/2017-2018/schedule/2017-2018-Serie-A-Scores-and-Fixtures"
url_1819_matches = "https://fbref.com/en/comps/11/2018-2019/schedule/2018-2019-Serie-A-Scores-and-Fixtures"
url_1920_matches = "https://fbref.com/en/comps/11/2019-2020/schedule/2019-2020-Serie-A-Scores-and-Fixtures"
url_2021_matches = "https://fbref.com/en/comps/11/2020-2021/schedule/2020-2021-Serie-A-Scores-and-Fixtures"
url_2122_matches = "https://fbref.com/en/comps/11/2021-2022/schedule/2021-2022-Serie-A-Scores-and-Fixtures"

In [22]:
# Read url
matches_1718 = pd.read_html(url_1718_matches)
matches_1819 = pd.read_html(url_1819_matches)
matches_1920 = pd.read_html(url_1920_matches)
matches_2021 = pd.read_html(url_2021_matches)
matches_2122 = pd.read_html(url_2122_matches)

In [23]:
# Match Seasions 2017-2018 to 2021-2022 season

serie_a_matches_1718_df = pd.DataFrame(matches_1718[0])
serie_a_matches_1819_df = pd.DataFrame(matches_1819[0])
serie_a_matches_1920_df = pd.DataFrame(matches_1920[0])
serie_a_matches_2021_df = pd.DataFrame(matches_2021[0])
serie_a_matches_2122_df = pd.DataFrame(matches_2122[0])

In [24]:
#  Drop the empty rows
serie_a_matches_1718_df = serie_a_matches_1718_df.dropna(how="all")
serie_a_matches_1819_df = serie_a_matches_1819_df.dropna(how="all")
serie_a_matches_1920_df = serie_a_matches_1920_df.dropna(how="all")
serie_a_matches_2021_df = serie_a_matches_2021_df.dropna(how="all")
serie_a_matches_2122_df = serie_a_matches_2122_df.dropna(how="all")

In [25]:
#  Drop Match Reports and Notes column
serie_a_matches_1718_df = serie_a_matches_1718_df.drop(["Match Report", "Notes"], axis=1)
serie_a_matches_1819_df = serie_a_matches_1819_df.drop(["Match Report", "Notes"], axis=1)
serie_a_matches_1920_df = serie_a_matches_1920_df.drop(["Match Report", "Notes"], axis=1)
serie_a_matches_2021_df = serie_a_matches_2021_df.drop(["Match Report", "Notes"], axis=1)
serie_a_matches_2122_df = serie_a_matches_2122_df.drop(["Match Report", "Notes"], axis=1)

In [26]:
# Add the seasons to the dataframe
serie_a_matches_1718_df["Season"] = "2017-2018"
serie_a_matches_1819_df["Season"] = "2018-2019"
serie_a_matches_1920_df["Season"] = "2019-2020"
serie_a_matches_2021_df["Season"] = "2020-2021"
serie_a_matches_2122_df["Season"] = "2021-2022"

In [27]:
serie_a_all_seasons_matches_df = pd.concat([serie_a_matches_1718_df,serie_a_matches_1819_df,
                                        serie_a_matches_1920_df, serie_a_matches_2021_df,
                                        serie_a_matches_2122_df], axis=0)

In [28]:
# Split the Score into Home Score and Away Score
serie_a_all_seasons_matches_df[['Home Score','Away Score']] = serie_a_all_seasons_matches_df['Score'].str.split('–', expand=True)

In [29]:
#  Sort columns 

serie_a_all_seasons_matches_df = serie_a_all_seasons_matches_df[['Season', 'Wk', 'Date','Time', 'Home', 'Away',
                                                               'Home Score', 'Away Score', 'xG', 'xG.1', 
                                                               'Attendance', 'Venue', 'Referee']]

In [30]:
# Rename xG and xG.1 columns

serie_a_all_seasons_matches_df = serie_a_all_seasons_matches_df.rename(columns={ 'xG': 'xG Home', 'xG.1': 'xG Away'})

In [31]:
#  Covert Columns to floats

serie_a_all_seasons_matches_df["xg Diff"] = serie_a_all_seasons_matches_df['xG Home'].astype(float) - serie_a_all_seasons_matches_df['xG Away'].astype(float)
serie_a_all_seasons_matches_df["Actual Diff"] = serie_a_all_seasons_matches_df['Home Score'].astype(float) - serie_a_all_seasons_matches_df['Away Score'].astype(float)
serie_a_all_seasons_matches_df.head()

,Season,Wk,Date,Time,Home,Away,Home Score,Away Score,xG Home,xG Away,Attendance,Venue,Referee,xg Diff,Actual Diff
0,2017-2018,1.0,2017-08-19,18:00,Juventus,Cagliari,3,0,1.1,1.4,39226.0,Allianz Stadium,Fabio Maresca,-0.3,3.0
1,2017-2018,1.0,2017-08-19,20:45,Hellas Verona,Napoli,1,3,1.3,2.1,15215.0,Stadio Marc'Antonio Bentegodi,Michael Fabbri,-0.8,-2.0
2,2017-2018,1.0,2017-08-20,18:00,Atalanta,Roma,0,1,1.5,0.4,19108.0,Stadio Atleti Azzurri d'Italia,Piero Giacomelli,1.1,-1.0
3,2017-2018,1.0,2017-08-20,20:45,Udinese,Chievo,1,2,0.8,0.5,13000.0,Dacia Arena,Claudio Gavillucci,0.3,-1.0
4,2017-2018,1.0,2017-08-20,20:45,Inter,Fiorentina,3,0,2.3,0.6,51752.0,Stadio Giuseppe Meazza,Paolo Tagliavento,1.7,3.0