In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import scipy.stats as stats
import seaborn as sns

# Serie A Summary Stats - Matches

In [4]:
#url for Summary Stats seasons 2017_2019 to 2021_2022
url_1718_summary = "https://fbref.com/en/comps/11/2017-2018/2017-2018-Serie-A-Stats"
url_1819_summary = "https://fbref.com/en/comps/11/2018-2019/2018-2019-Serie-A-Stats"
url_1920_summary = "https://fbref.com/en/comps/11/2019-2020/2019-2020-Serie-A-Stats"
url_2021_summary = "https://fbref.com/en/comps/11/2020-2021/2020-2021-Serie-A-Stats"
url_2122_summary = "https://fbref.com/en/comps/11/2021-2022/2021-2022-Serie-A-Stats"

In [5]:
#2017 - 2018 Season 
table_1 = pd.read_html(url_1718_summary)
serie_a_summary_1718_df = pd.DataFrame(table_1[0])
serie_a_summary_1718_df.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Juventus,38,30,5,3,86,24,62,95,2.50,55.3,27.4,27.9,0.73,39316,Paulo Dybala - 22,Gianluigi Buffon,→ Champions League via league finish
1,2,Napoli,38,28,7,3,77,29,48,91,2.39,67.1,27.1,40.1,1.05,43050,Dries Mertens - 18,Pepe Reina,→ Champions League via league finish
2,3,Roma,38,23,8,7,61,28,33,77,2.03,63.4,37.2,26.2,0.69,37450,Edin Džeko - 16,Alisson,→ Champions League via league finish
3,4,Inter,38,20,12,6,66,30,36,72,1.89,56.7,37.2,19.6,0.52,57529,Mauro Icardi - 29,Samir Handanović,→ Champions League via league finish
4,5,Lazio,38,21,9,8,89,49,40,72,1.89,63.7,43.9,19.9,0.52,30990,Ciro Immobile - 29,Thomas Strakosha,→ Europa League via league finish

In [ ]:
#2018 - 2019 Season
table_1 = pd.read_html(url_1920_summary)
serie_a_summary_1920_df = pd.DataFrame(table_1[0])
serie_a_summary_1920_df.head()

In [ ]:
#2020 - 2021 Season
table_1 = pd.read_html(url_2021_summary)
serie_a_summary_2021_df = pd.DataFrame(table_1[0])
serie_a_summary_2021_df.head()

In [ ]:
#2021 - 2022 Season
table_1 = pd.read_html(url_2122_summary)
serie_a_summary_2122_df = pd.DataFrame(table_1[0])
serie_a_summary_2122_df.head()

In [ ]:
#2017_2018 Season
table_1 = pd.read_html(url_1718_summary)
serie_a_summary_1718_df = pd.DataFrame(table_1[0])
serie_a_summary_1718_df.head()

# Serie A Summary Team Age

In [6]:
#2017 - 2018 Team Age
table_1 = pd.read_html(url_1718_summary)
serie_a_team_age_1718_df = pd.DataFrame(table_1[2])
serie_a_team_age_1718_df.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
               Squad               # Pl                Age               Poss
0           Atalanta                 25               25.7               55.4
1          Benevento                 41               26.0               47.5
2            Bologna                 30               26.8               46.8
3           Cagliari                 29               27.1               45.3
4             Chievo                 25               30.3               44.4

  Playing Time                    Performance      ... Per 90 Minutes        \
            MP Starts   Min   90s         Gls Ast  ...            Gls   Ast
0           38    418  3420  38.0          57  38  ...           1.50  1.00
1           38    418  3420  38.0          32  23  ...           0.84  0.61
2           38    418  3420  38.0          37  18  ...           0.97  0.47
3           38    418  3420  38.0          33  21  ...           0.87  0.55
4           38    418  3420  38.0          36  20  ...           0.95  0.53


    G+A  G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG
0  2.50  1.37   2.37  1.69  1.18   2.86  1.50     2.68
1  1.45  0.79   1.39  1.01  0.76   1.77  0.95     1.70
2  1.45  0.92   1.39  0.96  0.64   1.60  0.90     1.54
3  1.42  0.76   1.32  1.04  0.72   1.77  0.90     1.62
4  1.47  0.92   1.45  0.90  0.66   1.56  0.85     1.52

[5 rows x 32 columns]

In [7]:
#2018 - 2019 Team Age
table_1 = pd.read_html(url_1819_summary)
serie_a_team_age_1819_df = pd.DataFrame(table_1[2])
serie_a_team_age_1819_df.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
               Squad               # Pl                Age               Poss
0           Atalanta                 27               26.5               57.3
1            Bologna                 29               27.0               44.9
2           Cagliari                 30               27.9               49.8
3             Chievo                 36               28.3               43.3
4             Empoli                 29               26.4               47.9

  Playing Time                    Performance      ... Per 90 Minutes        \
            MP Starts   Min   90s         Gls Ast  ...            Gls   Ast
0           38    418  3420  38.0          75  60  ...           1.97  1.58
1           38    418  3420  38.0          45  35  ...           1.18  0.92
2           38    418  3420  38.0          35  27  ...           0.92  0.71
3           38    418  3420  38.0          25  17  ...           0.66  0.45
4           38    418  3420  38.0          48  36  ...           1.26  0.95


    G+A  G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG
0  3.55  1.92   3.50  1.90  1.47   3.37  1.82     3.28
1  2.11  1.05   1.97  1.23  0.81   2.04  1.13     1.94
2  1.63  0.87   1.58  1.11  0.81   1.91  1.05     1.85
3  1.11  0.55   1.00  0.95  0.67   1.62  0.83     1.51
4  2.21  1.16   2.11  1.38  0.99   2.36  1.23     2.22

[5 rows x 32 columns]

In [ ]:
#2019- 2020 Team Age
table_1 = pd.read_html(url_1920_summary)
serie_a_team_age_1920_df = pd.DataFrame(table_1[2])
serie_a_team_age_1920_df.head()

In [ ]:
#2020 - 2021 Team Age
table_1 = pd.read_html(url_2021_summary)
serie_a_team_age_2021_df = pd.DataFrame(table_1[2])
serie_a_team_age_2021_df.head()

In [ ]:
#2021 - 2022 Team Age
table_1 = pd.read_html(url_2122_summary)
serie_a_team_age_2122_df = pd.DataFrame(table_1[2])
serie_a_team_age_2121_df.head()

# Serie A Match Stats

In [15]:
#url for Match Stats seasons 2017_2019 to 2021_2022
url_1718_matches = "https://fbref.com/en/comps/11/2017-2018/schedule/2017-2018-Serie-A-Scores-and-Fixtures"
url_1819_matches = "https://fbref.com/en/comps/11/2018-2019/schedule/2018-2019-Serie-A-Scores-and-Fixtures"
url_1920_matches = "https://fbref.com/en/comps/11/2019-2020/schedule/2019-2020-Serie-A-Scores-and-Fixtures"
url_2021_matches = "https://fbref.com/en/comps/11/2020-2021/schedule/2020-2021-Serie-A-Scores-and-Fixtures"
url_2122_matches = "https://fbref.com/en/comps/11/2021-2022/schedule/2021-2022-Serie-A-Scores-and-Fixtures"

In [16]:
# 2017 - 2018 Match Stats
table_2 = pd.read_html(url_1718_matches)
serie_a_matches_1718_df = pd.DataFrame(table_2[0])
serie_a_matches_1718_df.head()

,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
0,1.0,Sat,2017-08-19,18:00,Juventus,1.1,3–0,1.4,Cagliari,39226.0,Allianz Stadium,Fabio Maresca,Match Report,NaN
1,1.0,Sat,2017-08-19,20:45,Hellas Verona,1.3,1–3,2.1,Napoli,15215.0,Stadio Marc'Antonio Bentegodi,Michael Fabbri,Match Report,NaN
2,1.0,Sun,2017-08-20,18:00,Atalanta,1.5,0–1,0.4,Roma,19108.0,Stadio Atleti Azzurri d'Italia,Piero Giacomelli,Match Report,NaN
3,1.0,Sun,2017-08-20,20:45,Udinese,0.8,1–2,0.5,Chievo,13000.0,Dacia Arena,Claudio Gavillucci,Match Report,NaN
4,1.0,Sun,2017-08-20,20:45,Inter,2.3,3–0,0.6,Fiorentina,51752.0,Stadio Giuseppe Meazza,Paolo Tagliavento,Match Report,NaN

In [ ]:
# 2018 - 2019 Match Stats
table_2 = pd.read_html(url_1819_matches)
serie_a_matches_1819_df = pd.DataFrame(table_2[0])
serie_a_matches_1819_df.head()

In [ ]:
# 2019 - 2020 Match Stats
table_2 = pd.read_html(url_1920_matches)
serie_a_matches_1920_df = pd.DataFrame(table_2[0])
serie_a_matches_1920_df.head()

In [ ]:
# 2020 - 2021 Match Stats
table_2 = pd.read_html(url_2021_matches)
serie_a_matches_2021_df = pd.DataFrame(table_2[0])
serie_a_matches_2021_df.head()

In [ ]:
# 2021 - 2022 Match Stats
table_2 = pd.read_html(url_2122_matches)
serie_a_matches_2122_df = pd.DataFrame(table_2[0])
serie_a_matches_2122_df.head()

# Serie A Team Wages

In [17]:
#url for Team Wages seasons 2017_2019 to 2021_2022
url_1718_wages = "https://fbref.com/en/comps/11/2017-2018/wages/2017-2018-Serie-A-Wages"
url_1819_wages = "https://fbref.com/en/comps/11/2017-2018/wages/2017-2018-Serie-A-Wages"
url_1920_wages = "https://fbref.com/en/comps/11/2017-2018/wages/2017-2018-Serie-A-Wages"
url_2021_wages = "https://fbref.com/en/comps/11/2017-2018/wages/2017-2018-Serie-A-Wages"
url_2122_wages = "https://fbref.com/en/comps/11/2017-2018/wages/2017-2018-Serie-A-Wages"

In [19]:
# 2017 - 2018 Match Stats
table_3 = pd.read_html(url_1718_wages)
serie_a_wages_1718_df = pd.DataFrame(table_3[0])
serie_a_wages_1718_df.head()

,Rk,Squad,# Pl,Weekly Wages,Annual Wages,% Estimated
0,1,Juventus,33,"€ 2,717,212 (£ 2,278,405, $2,769,142)","€ 141,295,000 (£ 118,477,041, $143,995,386)",100%
1,2,Milan,42,"€ 2,035,731 (£ 1,706,977, $2,074,637)","€ 105,858,000 (£ 88,762,823, $107,881,122)",100%
2,3,Napoli,40,"€ 1,495,019 (£ 1,253,586, $1,523,592)","€ 77,741,000 (£ 65,186,483, $79,226,760)",100%
3,4,Inter,34,"€ 1,488,923 (£ 1,248,475, $1,517,379)","€ 77,424,000 (£ 64,920,676, $78,903,702)",100%
4,5,Roma,47,"€ 1,413,231 (£ 1,185,006, $1,440,240)","€ 73,488,000 (£ 61,620,307, $74,892,476)",100%

In [ ]:
# 2018 - 2019 Match Stats
table_3 = pd.read_html(url_1819_wages)
serie_a_wages_1819_df = pd.DataFrame(table_3[0])
serie_a_wages_1819_df.head()

In [ ]:
# 2019 - 2020 Match Stats
table_3 = pd.read_html(url_1920_wages)
serie_a_wages_1920_df = pd.DataFrame(table_3[0])
serie_a_wages_1920_df.head()

In [ ]:
# 2020 - 2021 Match Stats
table_3 = pd.read_html(url_2021_wages)
serie_a_wages_2021_df = pd.DataFrame(table_3[0])
serie_a_wages_2021_df.head()

In [ ]:
# 2021 - 2022 Match Stats
table_3 = pd.read_html(url_2122_wages)
serie_a_wages_2122_df = pd.DataFrame(table_3[0])
serie_a_wages_2122_df.head()