In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import scipy.stats as stats
import seaborn as sns

# Serie A Summary Stats - Matches

In [2]:
#url for Summary Stats seasons 2017_2019 to 2021_2022
url_1718_summary = "https://fbref.com/en/comps/11/2017-2018/2017-2018-Serie-A-Stats"
url_1819_summary = "https://fbref.com/en/comps/11/2018-2019/2018-2019-Serie-A-Stats"
url_1920_summary = "https://fbref.com/en/comps/11/2019-2020/2019-2020-Serie-A-Stats"
url_2021_summary = "https://fbref.com/en/comps/11/2020-2021/2020-2021-Serie-A-Stats"
url_2122_summary = "https://fbref.com/en/comps/11/2021-2022/2021-2022-Serie-A-Stats"

In [23]:
#2017 - 2018 Season 
table_1 = pd.read_html(url_1718_summary)
serie_a_summary_1718_df = pd.DataFrame(table_1[0])
serie_a_summary_1718_df.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Juventus,38,30,5,3,86,24,62,95,2.50,55.3,27.4,27.9,0.73,39316,Paulo Dybala - 22,Gianluigi Buffon,→ Champions League via league finish
1,2,Napoli,38,28,7,3,77,29,48,91,2.39,67.1,27.1,40.1,1.05,43050,Dries Mertens - 18,Pepe Reina,→ Champions League via league finish
2,3,Roma,38,23,8,7,61,28,33,77,2.03,63.4,37.2,26.2,0.69,37450,Edin Džeko - 16,Alisson,→ Champions League via league finish
3,4,Inter,38,20,12,6,66,30,36,72,1.89,56.7,37.2,19.6,0.52,57529,Mauro Icardi - 29,Samir Handanović,→ Champions League via league finish
4,5,Lazio,38,21,9,8,89,49,40,72,1.89,63.7,43.9,19.9,0.52,30990,Ciro Immobile - 29,Thomas Strakosha,→ Europa League via league finish

In [28]:
#2018 - 2019 Season
table_1 = pd.read_html(url_1819_summary)
serie_a_summary_1819_df = pd.DataFrame(table_1[0])
serie_a_summary_1819_df.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Juventus,38,28,6,4,70,30,40,90,2.37,60.7,35.8,25.0,0.66,37799,Cristiano Ronaldo - 21,Wojciech Szczęsny,→ Champions League via league finish
1,2,Napoli,38,24,7,7,74,36,38,79,2.08,61.8,38.2,23.5,0.62,29003,Arkadiusz Milik - 17,David Ospina,→ Champions League via league finish
2,3,Atalanta,38,20,9,9,77,46,31,69,1.82,72.2,41.1,31.1,0.82,18301,Duván Zapata - 23,Pierluigi Gollini,→ Champions League via league finish
3,4,Inter,38,20,9,9,57,33,24,69,1.82,63.8,38.3,25.6,0.67,57405,Mauro Icardi - 11,Samir Handanović,→ Champions League via league finish
4,5,Milan,38,19,11,8,55,36,19,68,1.79,48.8,41.2,7.6,0.20,54651,Krzysztof Piątek - 9,Gianluigi Donnarumma,Ineligible for continental competition 1

In [25]:
#2019 - 2020 Season
table_1 = pd.read_html(url_1920_summary)
serie_a_summary_1920_df = pd.DataFrame(table_1[0])
serie_a_summary_1920_df.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Juventus,38,26,5,7,76,43,33,83,2.18,71.1,44.9,26.1,0.69,25102,Cristiano Ronaldo - 31,Wojciech Szczęsny,→ Champions League via league finish
1,2,Inter,38,24,10,4,81,36,45,82,2.16,69.4,40.7,28.7,0.76,41558,Romelu Lukaku - 23,Samir Handanović,→ Champions League via league finish
2,3,Atalanta,38,23,9,6,98,48,50,78,2.05,83.5,41.3,42.2,1.11,11167,"Luis Muriel, Duván Zapata - 18",Pierluigi Gollini,→ Champions League via league finish
3,4,Lazio,38,24,6,8,79,42,37,78,2.05,68.0,51.1,16.9,0.44,26363,Ciro Immobile - 36,Thomas Strakosha,→ Champions League via league finish
4,5,Roma,38,21,7,10,77,51,26,70,1.84,73.2,49.4,23.9,0.63,26956,Edin Džeko - 16,Pau López,→ Europa League via league finish

In [26]:
#2020 - 2021 Season
table_1 = pd.read_html(url_2021_summary)
serie_a_summary_2021_df = pd.DataFrame(table_1[0])
serie_a_summary_2021_df.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Inter,38,28,7,3,89,35,54,91,2.39,74.2,39.8,34.3,0.90,158,Romelu Lukaku - 24,Samir Handanović,→ Champions League via league finish
1,2,Milan,38,24,7,7,74,41,33,79,2.08,70.7,47.0,23.7,0.62,105,Zlatan Ibrahimović - 15,Gianluigi Donnarumma,→ Champions League via league finish
2,3,Atalanta,38,23,9,6,90,47,43,78,2.05,74.7,41.0,33.7,0.89,105,Luis Muriel - 22,Pierluigi Gollini,→ Champions League via league finish
3,4,Juventus,38,23,9,6,77,38,39,78,2.05,74.4,39.4,35.0,0.92,105,Cristiano Ronaldo - 29,Wojciech Szczęsny,→ Champions League via league finish
4,5,Napoli,38,24,5,9,86,41,45,77,2.03,67.7,42.6,25.2,0.66,105,Lorenzo Insigne - 19,Alex Meret,→ Europa League via league finish

In [27]:
#2021 - 2022 Season
table_1 = pd.read_html(url_2122_summary)
serie_a_summary_2122_df = pd.DataFrame(table_1[0])
serie_a_summary_2122_df.head()

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes
0,1,Milan,38,26,8,4,69,31,38,86,2.26,59.7,35.9,23.8,0.63,44015,"Olivier Giroud, Rafael Leão - 11",Mike Maignan,→ Champions League via league finish
1,2,Inter,38,25,9,4,84,32,52,84,2.21,81.6,39.1,42.5,1.12,44473,Lautaro Martínez - 21,Samir Handanović,→ Champions League via league finish
2,3,Napoli,38,24,7,7,74,31,43,79,2.08,57.8,32.5,25.3,0.67,28119,Victor Osimhen - 14,David Ospina,→ Champions League via league finish
3,4,Juventus,38,20,10,8,57,37,20,70,1.84,51.4,38.1,13.4,0.35,22621,Paulo Dybala - 10,Wojciech Szczęsny,→ Champions League via league finish
4,5,Lazio,38,18,10,10,77,58,19,64,1.68,55.3,47.7,7.6,0.20,23263,Ciro Immobile - 27,Thomas Strakosha,→ Europa League via league finish

In [29]:
# combine 5 years into single data frame
combined_serie_a_sum_df = pd.concat([serie_a_summary_1718_df, serie_a_summary_1819_df,
                                    serie_a_summary_1920_df, serie_a_summary_2021_df,
                                    serie_a_summary_2122_df], axis=0)
combined_serie_a_sum_df.sample(15)

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes
12,13,SPAL,38,11,9,18,44,56,-12,42,1.11,43.9,51.3,-7.3,-0.19,14745,Andrea Petagna - 16,Alfred Gomis,NaN
8,9,Hellas Verona,38,14,11,13,65,59,6,53,1.39,50.4,49.0,1.4,0.04,13894,Giovanni Simeone - 17,Lorenzo Montipò,NaN
13,14,Parma,38,10,11,17,41,61,-20,41,1.08,40.2,65.3,-25.1,-0.66,16522,Gervinho - 11,Luigi Sepe,NaN
9,10,Fiorentina,38,12,13,13,51,48,3,49,1.29,53.6,48.9,4.7,0.12,22486,Federico Chiesa - 10,Bartłomiej Drągowski,NaN
7,8,Fiorentina,38,16,9,13,54,46,8,57,1.50,54.5,40.8,13.7,0.36,26092,Giovanni Simeone - 14,Marco Sportiello,NaN
18,19,Genoa,38,4,16,18,27,60,-33,28,0.74,37.2,54.1,-16.9,-0.44,12326,Mattia Destro - 9,Salvatore Sirigu,Relegated
8,9,Sampdoria,38,15,8,15,60,51,9,53,1.39,50.5,55.0,-4.5,-0.12,20263,Fabio Quagliarella - 26,Emil Audero,NaN
17,18,Empoli,38,10,8,20,51,70,-19,38,1.00,52.4,63.6,-11.3,-0.30,9620,Francesco Caputo - 16,Ivan Provedel,Relegated
11,12,Genoa,38,11,8,19,33,43,-10,41,1.08,43.5,42.6,0.9,0.02,20941,Gianluca Lapadula - 6,Mattia Perin,NaN
7,8,Sassuolo,38,17,11,10,64,56,8,62,1.63,58.4,55.4,3.0,0.08,134,Domenico Berardi - 17,Andrea Consigli,NaN
0,1,Inter,38,28,7,3,89,35,54,91,2.39,74.2,39.8,34.3,0.90,158,Romelu Lukaku - 24,Samir Handanović,→ Champions League via league finish
5,6,Lazio,38,21,5,12,61,55,6,68,1.79,58.2,47.3,10.9,0.29,158,Ciro Immobile - 20,Pepe Reina,→ Europa League via league finish 1
10,11,Sassuolo,38,9,16,13,53,60,-7,43,1.13,48.5,57.4,-8.9,-0.23,12369,Domenico Berardi - 8,Andrea Consigli,NaN
3,4,Inter,38,20,9,9,57,33,24,69,1.82,63.8,38.3,25.6,0.67,57405,Mauro Icardi - 11,Samir Handanović,→ Champions League via league finish
4,5,Roma,38,21,7,10,77,51,26,70,1.84,73.2,49.4,23.9,0.63,26956,Edin Džeko - 16,Pau López,→ Europa League via league finish

# Serie A Summary Team Age

In [39]:
#2017 - 2018 Team Age
table_1 = pd.read_html(url_1718_summary)
serie_a_team_age_1718_df = pd.DataFrame(table_1[2])
serie_a_team_age_1718_df.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
               Squad               # Pl                Age               Poss
0           Atalanta                 25               25.7               55.4
1          Benevento                 41               26.0               47.5
2            Bologna                 30               26.8               46.8
3           Cagliari                 29               27.1               45.3
4             Chievo                 25               30.3               44.4

  Playing Time                    Performance      ... Per 90 Minutes        \
            MP Starts   Min   90s         Gls Ast  ...            Gls   Ast
0           38    418  3420  38.0          57  38  ...           1.50  1.00
1           38    418  3420  38.0          32  23  ...           0.84  0.61
2           38    418  3420  38.0          37  18  ...           0.97  0.47
3           38    418  3420  38.0          33  21  ...           0.87  0.55
4           38    418  3420  38.0          36  20  ...           0.95  0.53


    G+A  G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG
0  2.50  1.37   2.37  1.69  1.18   2.86  1.50     2.68
1  1.45  0.79   1.39  1.01  0.76   1.77  0.95     1.70
2  1.45  0.92   1.39  0.96  0.64   1.60  0.90     1.54
3  1.42  0.76   1.32  1.04  0.72   1.77  0.90     1.62
4  1.47  0.92   1.45  0.90  0.66   1.56  0.85     1.52

[5 rows x 32 columns]

In [41]:
#2018 - 2019 Team Age
table_1 = pd.read_html(url_1819_summary)
serie_a_team_age_1819_df = pd.DataFrame(table_1[2])
serie_a_team_age_1819_df.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
               Squad               # Pl                Age               Poss
0           Atalanta                 27               26.5               57.3
1            Bologna                 29               27.0               44.9
2           Cagliari                 30               27.9               49.8
3             Chievo                 36               28.3               43.3
4             Empoli                 29               26.4               47.9

  Playing Time                    Performance      ... Per 90 Minutes        \
            MP Starts   Min   90s         Gls Ast  ...            Gls   Ast
0           38    418  3420  38.0          75  60  ...           1.97  1.58
1           38    418  3420  38.0          45  35  ...           1.18  0.92
2           38    418  3420  38.0          35  27  ...           0.92  0.71
3           38    418  3420  38.0          25  17  ...           0.66  0.45
4           38    418  3420  38.0          48  36  ...           1.26  0.95


    G+A  G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG
0  3.55  1.92   3.50  1.90  1.47   3.37  1.82     3.28
1  2.11  1.05   1.97  1.23  0.81   2.04  1.13     1.94
2  1.63  0.87   1.58  1.11  0.81   1.91  1.05     1.85
3  1.11  0.55   1.00  0.95  0.67   1.62  0.83     1.51
4  2.21  1.16   2.11  1.38  0.99   2.36  1.23     2.22

[5 rows x 32 columns]

In [30]:
#2019- 2020 Team Age
table_1 = pd.read_html(url_1920_summary)
serie_a_team_age_1920_df = pd.DataFrame(table_1[2])
serie_a_team_age_1920_df.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
               Squad               # Pl                Age               Poss
0           Atalanta                 30               27.2               57.2
1            Bologna                 31               27.2               52.6
2            Brescia                 32               25.6               40.6
3           Cagliari                 33               27.4               45.7
4         Fiorentina                 33               25.1               47.4

  Playing Time                    Performance      ... Per 90 Minutes        \
            MP Starts   Min   90s         Gls Ast  ...            Gls   Ast
0           38    418  3420  38.0          96  68  ...           2.53  1.79
1           38    418  3420  38.0          48  31  ...           1.26  0.82
2           38    418  3420  38.0          34  22  ...           0.89  0.58
3           38    418  3420  38.0          50  34  ...           1.32  0.89
4           38    418  3420  38.0          48  30  ...           1.26  0.79


    G+A  G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG
0  4.32  2.34   4.13  2.20  1.55   3.75  1.99     3.54
1  2.08  1.13   1.95  1.50  1.09   2.58  1.37     2.46
2  1.47  0.79   1.37  1.14  0.76   1.90  1.06     1.82
3  2.21  1.21   2.11  1.10  0.84   1.94  0.98     1.82
4  2.05  1.03   1.82  1.41  0.91   2.32  1.19     2.10

[5 rows x 32 columns]

In [31]:
#2020 - 2021 Team Age
table_1 = pd.read_html(url_2021_summary)
serie_a_team_age_2021_df = pd.DataFrame(table_1[2])
serie_a_team_age_2021_df.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
               Squad               # Pl                Age               Poss
0           Atalanta                 30               27.3               54.6
1          Benevento                 29               28.7               42.6
2            Bologna                 37               27.2               50.8
3           Cagliari                 32               26.5               44.8
4            Crotone                 31               27.8               46.3

  Playing Time                    Performance      ... Per 90 Minutes        \
            MP Starts   Min   90s         Gls Ast  ...            Gls   Ast
0           38    418  3420  38.0          90  65  ...           2.37  1.71
1           38    418  3420  38.0          40  26  ...           1.05  0.68
2           38    418  3420  38.0          49  38  ...           1.29  1.00
3           38    418  3420  38.0          43  30  ...           1.13  0.79
4           38    418  3420  38.0          44  27  ...           1.16  0.71


    G+A  G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG
0  4.08  2.21   3.92  1.97  1.46   3.43  1.82     3.28
1  1.74  0.92   1.61  1.07  0.73   1.79  0.92     1.65
2  2.29  1.21   2.21  1.44  1.03   2.47  1.34     2.37
3  1.92  1.03   1.82  1.24  0.90   2.14  1.14     2.04
4  1.87  0.92   1.63  1.06  0.63   1.69  0.88     1.51

[5 rows x 32 columns]

In [34]:
#2021 - 2022 Team Age
table_1 = pd.read_html(url_2122_summary)
serie_a_team_age_2122_df = pd.DataFrame(table_1[2])
serie_a_team_age_2122_df.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
               Squad               # Pl                Age               Poss
0           Atalanta                 32               27.5               55.0
1            Bologna                 36               26.6               50.6
2           Cagliari                 33               26.5               44.5
3             Empoli                 28               24.5               47.4
4         Fiorentina                 28               26.4               57.7

  Playing Time                    Performance      ... Per 90 Minutes        \
            MP Starts   Min   90s         Gls Ast  ...            Gls   Ast
0           38    418  3420  38.0          62  48  ...           1.63  1.26
1           38    418  3420  38.0          43  34  ...           1.13  0.89
2           38    418  3420  38.0          34  26  ...           0.89  0.68
3           38    418  3420  38.0          47  27  ...           1.24  0.71
4           38    418  3420  38.0          59  33  ...           1.55  0.87


    G+A  G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG
0  2.89  1.50   2.76  1.64  1.28   2.92  1.53     2.81
1  2.03  1.03   1.92  1.18  0.88   2.06  1.08     1.96
2  1.58  0.82   1.50  1.03  0.78   1.81  0.96     1.74
3  1.95  1.05   1.76  1.18  0.76   1.94  1.04     1.80
4  2.42  1.32   2.18  1.58  1.03   2.61  1.34     2.37

[5 rows x 32 columns]

In [43]:
# Combined 5 years of team age into 1 table
combined_serie_a_age_df = pd.concat([serie_a_team_age_1718_df, serie_a_team_age_1819_df,
                                    serie_a_team_age_1920_df, serie_a_team_age_2021_df,
                                    serie_a_team_age_2021_df], axis=0)
combined_serie_a_age_df.sample(15)

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
                Squad               # Pl                Age
12             Napoli                 26               27.0
2             Bologna                 30               26.8
7       Hellas Verona                 32               26.2
12             Napoli                 25               27.1
15          Sampdoria                 27               27.9
11              Milan                 29               24.4
19            Udinese                 25               26.5
5          Fiorentina                 27               24.1
17               SPAL                 28               27.8
14               Roma                 26               27.5
7               Genoa                 33               27.9
8               Inter                 23               27.7
18             Torino                 29               26.9
13              Parma                 42               28.0
3              Chievo                 36               28.3

   Unnamed: 3_level_0 Playing Time                    Performance      ...  \
                 Poss           MP Starts   Min   90s         Gls Ast  ...
12               59.1           38    418  3420  38.0          73  54  ...
2                46.8           38    418  3420  38.0          37  18  ...
7                49.8           38    418  3420  38.0          38  30  ...
12               55.1           38    418  3420  38.0          83  56  ...
15               45.2           38    418  3420  38.0          52  37  ...
11               51.7           38    418  3420  38.0          72  47  ...
19               44.7           38    418  3420  38.0          37  26  ...
5                50.4           38    418  3420  38.0          45  24  ...
17               50.4           38    418  3420  38.0          44  30  ...
14               51.4           38    418  3420  38.0          65  41  ...
7                46.3           38    418  3420  38.0          31  18  ...
8                59.4           38    418  3420  38.0          57  36  ...
18               47.3           38    418  3420  38.0          49  28  ...
13               47.8           38    418  3420  38.0          39  26  ...
3                43.3           38    418  3420  38.0          25  17  ...

   Per 90 Minutes
              Gls   Ast   G+A  G-PK G+A-PK    xG   xAG xG+xAG  npxG npxG+xAG
12           1.92  1.42  3.34  1.84   3.26  1.63  1.30   2.93  1.55     2.85
2            0.97  0.47  1.45  0.92   1.39  0.96  0.64   1.60  0.90     1.54
7            1.00  0.79  1.79  0.92   1.71  1.19  0.88   2.08  1.13     2.01
12           2.18  1.47  3.66  2.00   3.47  1.78  1.23   3.02  1.62     2.85
15           1.37  0.97  2.34  1.24   2.21  1.20  0.84   2.04  1.08     1.92
11           1.89  1.24  3.13  1.50   2.74  1.86  1.15   3.02  1.47     2.63
19           0.97  0.68  1.66  0.97   1.66  1.10  0.88   1.98  1.10     1.98
5            1.18  0.63  1.82  1.05   1.68  1.42  0.94   2.36  1.30     2.24
17           1.16  0.79  1.95  0.97   1.76  1.16  0.74   1.90  0.99     1.73
14           1.71  1.08  2.79  1.55   2.63  1.69  1.22   2.91  1.57     2.78
7            0.82  0.47  1.29  0.71   1.18  1.15  0.84   1.99  1.04     1.88
8            1.50  0.95  2.45  1.29   2.24  1.68  1.20   2.88  1.50     2.69
18           1.29  0.74  2.03  1.16   1.89  1.32  0.85   2.16  1.19     2.04
13           1.03  0.68  1.71  0.89   1.58  1.12  0.80   1.92  1.01     1.82
3            0.66  0.45  1.11  0.55   1.00  0.95  0.67   1.62  0.83     1.51

[15 rows x 32 columns]

# Serie A Match Stats

In [13]:
#url for Match Stats seasons 2017_2019 to 2021_2022
url_1718_matches = "https://fbref.com/en/comps/11/2017-2018/schedule/2017-2018-Serie-A-Scores-and-Fixtures"
url_1819_matches = "https://fbref.com/en/comps/11/2018-2019/schedule/2018-2019-Serie-A-Scores-and-Fixtures"
url_1920_matches = "https://fbref.com/en/comps/11/2019-2020/schedule/2019-2020-Serie-A-Scores-and-Fixtures"
url_2021_matches = "https://fbref.com/en/comps/11/2020-2021/schedule/2020-2021-Serie-A-Scores-and-Fixtures"
url_2122_matches = "https://fbref.com/en/comps/11/2021-2022/schedule/2021-2022-Serie-A-Scores-and-Fixtures"

In [14]:
# 2017 - 2018 Match Stats
table_2 = pd.read_html(url_1718_matches)
serie_a_matches_1718_df = pd.DataFrame(table_2[0])
serie_a_matches_1718_df.head()

,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
0,1.0,Sat,2017-08-19,18:00,Juventus,1.1,3–0,1.4,Cagliari,39226.0,Allianz Stadium,Fabio Maresca,Match Report,NaN
1,1.0,Sat,2017-08-19,20:45,Hellas Verona,1.3,1–3,2.1,Napoli,15215.0,Stadio Marc'Antonio Bentegodi,Michael Fabbri,Match Report,NaN
2,1.0,Sun,2017-08-20,18:00,Atalanta,1.5,0–1,0.4,Roma,19108.0,Stadio Atleti Azzurri d'Italia,Piero Giacomelli,Match Report,NaN
3,1.0,Sun,2017-08-20,20:45,Udinese,0.8,1–2,0.5,Chievo,13000.0,Dacia Arena,Claudio Gavillucci,Match Report,NaN
4,1.0,Sun,2017-08-20,20:45,Inter,2.3,3–0,0.6,Fiorentina,51752.0,Stadio Giuseppe Meazza,Paolo Tagliavento,Match Report,NaN

In [15]:
# 2018 - 2019 Match Stats
table_2 = pd.read_html(url_1819_matches)
serie_a_matches_1819_df = pd.DataFrame(table_2[0])
serie_a_matches_1819_df.head()

,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
0,1.0,Sat,2018-08-18,18:00,Chievo,1.1,2–3,3.1,Juventus,29500.0,Stadio Marc'Antonio Bentegodi,Fabrizio Pasqua,Match Report,NaN
1,1.0,Sat,2018-08-18,20:30,Lazio,1.0,1–2,1.4,Napoli,32000.0,Stadio Olimpico,Luca Banti,Match Report,NaN
2,1.0,Sun,2018-08-19,18:00,Torino,0.6,0–1,1.2,Roma,18000.0,Stadio Olimpico di Torino,Marco Di Bello,Match Report,NaN
3,1.0,Sun,2018-08-19,20:30,Sassuolo,1.5,1–0,1.1,Inter,19104.0,Stadio Città del Tricolore,Maurizio Mariani,Match Report,NaN
4,1.0,Sun,2018-08-19,20:30,Empoli,1.3,2–0,0.9,Cagliari,7335.0,Stadio Carlo Castellani,Daniele Chiffi,Match Report,NaN

In [16]:
# 2019 - 2020 Match Stats
table_2 = pd.read_html(url_1920_matches)
serie_a_matches_1920_df = pd.DataFrame(table_2[0])
serie_a_matches_1920_df.head()

,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
0,1.0,Sat,2019-08-24,18:00,Parma,0.3,0–1,1.4,Juventus,20073.0,Stadio Ennio Tardini,Fabio Maresca,Match Report,NaN
1,1.0,Sat,2019-08-24,20:45,Fiorentina,1.7,3–4,2.0,Napoli,33614.0,Stadio Artemio Franchi,Davide Massa,Match Report,NaN
2,1.0,Sun,2019-08-25,18:00,Udinese,0.8,1–0,0.7,Milan,24584.0,Dacia Arena,Fabrizio Pasqua,Match Report,NaN
3,1.0,Sun,2019-08-25,20:45,SPAL,1.6,2–3,1.8,Atalanta,11706.0,Stadio Paolo Mazza,Gianluca Manganiello,Match Report,NaN
4,1.0,Sun,2019-08-25,20:45,Roma,2.5,3–3,1.3,Genoa,38779.0,Stadio Olimpico,Giampaolo Calvarese,Match Report,NaN

In [17]:
# 2020 - 2021 Match Stats
table_2 = pd.read_html(url_2021_matches)
serie_a_matches_2021_df = pd.DataFrame(table_2[0])
serie_a_matches_2021_df.head()

,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
0,1.0,Sat,2020-09-19,18:00,Fiorentina,1.9,1–0,0.7,Torino,NaN,Stadio Artemio Franchi,Rosario Abisso,Match Report,NaN
1,1.0,Sat,2020-09-19,20:45,Hellas Verona,NaN,3–0,NaN,Roma,NaN,Stadio Marc'Antonio Bentegodi,Daniele Chiffi,Match Report,Match awarded to Hellas Verona
2,1.0,Sun,2020-09-20,12:30,Parma,0.3,0–2,1.6,Napoli,1000.0,Stadio Ennio Tardini,Maurizio Mariani,Match Report,NaN
3,1.0,Sun,2020-09-20,15:00,Genoa,2.3,4–1,1.6,Crotone,NaN,Stadio Comunale Luigi Ferraris,Giovanni Ayroldi,Match Report,NaN
4,1.0,Sun,2020-09-20,18:00,Sassuolo,2.1,1–1,0.9,Cagliari,850.0,Mapei Stadium - Città del Tricolore,Livio Marinelli,Match Report,NaN

In [18]:
# 2021 - 2022 Match Stats
table_2 = pd.read_html(url_2122_matches)
serie_a_matches_2122_df = pd.DataFrame(table_2[0])
serie_a_matches_2122_df.head()

,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
0,1.0,Sat,2021-08-21,18:30,Inter,1.6,4–0,1.1,Genoa,27402.0,Stadio Giuseppe Meazza,Valerio Marini,Match Report,NaN
1,1.0,Sat,2021-08-21,18:30,Hellas Verona,2.4,2–3,1.6,Sassuolo,5448.0,Stadio Marc'Antonio Bentegodi,Manuel Volpi,Match Report,NaN
2,1.0,Sat,2021-08-21,20:45,Torino,1.3,1–2,0.7,Atalanta,3475.0,Stadio Olimpico di Torino,Daniele Chiffi,Match Report,NaN
3,1.0,Sat,2021-08-21,20:45,Empoli,1.2,1–3,1.5,Lazio,3655.0,Stadio Carlo Castellani,Simone Sozza,Match Report,NaN
4,1.0,Sun,2021-08-22,18:30,Bologna,1.6,3–2,1.5,Salernitana,8375.0,Stadio Renato Dall'Ara,Antonio Rapuano,Match Report,NaN

In [21]:
combined_serie_a_matches_df = pd.concat([serie_a_matches_1718_df,serie_a_matches_1819_df,
                                        serie_a_matches_1920_df, serie_a_matches_2021_df,
                                        serie_a_matches_2122_df], axis=0)
combined_serie_a_matches_df.sample(15)

,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,15.0,Wed,2021-12-01,18:30,Inter,2.9,2–0,0.3,Spezia,30076.0,Stadio Giuseppe Meazza,Davide Ghersini,Match Report,NaN
232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,12.0,Sun,2019-11-10,12:30,Cagliari,2.8,5–2,1.0,Fiorentina,16316.0,Sardegna Arena,Federico La Penna,Match Report,NaN
87,9.0,Fri,2019-10-25,20:45,Hellas Verona,1.3,0–1,1.4,Sassuolo,11453.0,Stadio Marc'Antonio Bentegodi,Luca Pairetto,Match Report,NaN
316,29.0,Sat,2021-04-03,15:00,Benevento,1.2,2–2,1.3,Parma,NaN,Stadio Ciro Vigorito,Davide Massa,Match Report,NaN
89,9.0,Sat,2018-10-20,18:00,Juventus,1.8,1–1,1.0,Genoa,37735.0,Allianz Stadium,Federico La Penna,Match Report,NaN
184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,13.0,Sun,2018-11-25,15:00,Napoli,1.5,0–0,0.4,Chievo,44468.0,Stadio San Paolo,Daniele Chiffi,Match Report,NaN
211,20.0,Thu,2022-01-06,16:30,Sassuolo,2.0,1–1,0.3,Genoa,4696.0,Mapei Stadium - Città del Tricolore,Gianluca Manganiello,Match Report,NaN
200,19.0,Fri,2021-01-22,20:45,Benevento,1.6,2–2,1.4,Torino,NaN,Stadio Ciro Vigorito,Piero Giacomelli,Match Report,NaN
368,34.0,Sat,2021-05-01,15:00,Hellas Verona,1.7,1–1,1.2,Spezia,NaN,Stadio Marc'Antonio Bentegodi,Manuel Volpi,Match Report,NaN
95,9.0,Sun,2019-10-27,18:00,Roma,1.1,2–1,0.6,Milan,44333.0,Stadio Olimpico,Daniele Orsato,Match Report,NaN
22,3.0,Sat,2021-09-11,15:00,Empoli,1.9,1–2,1.7,Venezia,2511.0,Stadio Carlo Castellani,Antonio Rapuano,Match Report,NaN

# Serie A Team Wages

In [44]:
#url for Team Wages seasons 2017_2019 to 2021_2022
url_1718_wages = "https://fbref.com/en/comps/11/2017-2018/wages/2017-2018-Serie-A-Wages"
url_1819_wages = "https://fbref.com/en/comps/11/2017-2018/wages/2017-2018-Serie-A-Wages"
url_1920_wages = "https://fbref.com/en/comps/11/2017-2018/wages/2017-2018-Serie-A-Wages"
url_2021_wages = "https://fbref.com/en/comps/11/2017-2018/wages/2017-2018-Serie-A-Wages"
url_2122_wages = "https://fbref.com/en/comps/11/2017-2018/wages/2017-2018-Serie-A-Wages"

In [45]:
# 2017 - 2018 Match Stats
table_3 = pd.read_html(url_1718_wages)
serie_a_wages_1718_df = pd.DataFrame(table_3[0])
serie_a_wages_1718_df.head()

,Rk,Squad,# Pl,Weekly Wages,Annual Wages,% Estimated
0,1,Juventus,33,"€ 2,717,212 (£ 2,278,405, $2,769,142)","€ 141,295,000 (£ 118,477,041, $143,995,386)",100%
1,2,Milan,42,"€ 2,035,731 (£ 1,706,977, $2,074,637)","€ 105,858,000 (£ 88,762,823, $107,881,122)",100%
2,3,Napoli,40,"€ 1,495,019 (£ 1,253,586, $1,523,592)","€ 77,741,000 (£ 65,186,483, $79,226,760)",100%
3,4,Inter,34,"€ 1,488,923 (£ 1,248,475, $1,517,379)","€ 77,424,000 (£ 64,920,676, $78,903,702)",100%
4,5,Roma,47,"€ 1,413,231 (£ 1,185,006, $1,440,240)","€ 73,488,000 (£ 61,620,307, $74,892,476)",100%

In [46]:
# 2018 - 2019 Match Stats
table_3 = pd.read_html(url_1819_wages)
serie_a_wages_1819_df = pd.DataFrame(table_3[0])
serie_a_wages_1819_df.head()

,Rk,Squad,# Pl,Weekly Wages,Annual Wages,% Estimated
0,1,Juventus,33,"€ 2,717,212 (£ 2,278,405, $2,769,142)","€ 141,295,000 (£ 118,477,041, $143,995,386)",100%
1,2,Milan,42,"€ 2,035,731 (£ 1,706,977, $2,074,637)","€ 105,858,000 (£ 88,762,823, $107,881,122)",100%
2,3,Napoli,40,"€ 1,495,019 (£ 1,253,586, $1,523,592)","€ 77,741,000 (£ 65,186,483, $79,226,760)",100%
3,4,Inter,34,"€ 1,488,923 (£ 1,248,475, $1,517,379)","€ 77,424,000 (£ 64,920,676, $78,903,702)",100%
4,5,Roma,47,"€ 1,413,231 (£ 1,185,006, $1,440,240)","€ 73,488,000 (£ 61,620,307, $74,892,476)",100%

In [47]:
# 2019 - 2020 Match Stats
table_3 = pd.read_html(url_1920_wages)
serie_a_wages_1920_df = pd.DataFrame(table_3[0])
serie_a_wages_1920_df.head()

,Rk,Squad,# Pl,Weekly Wages,Annual Wages,% Estimated
0,1,Juventus,33,"€ 2,717,212 (£ 2,278,405, $2,769,142)","€ 141,295,000 (£ 118,477,041, $143,995,386)",100%
1,2,Milan,42,"€ 2,035,731 (£ 1,706,977, $2,074,637)","€ 105,858,000 (£ 88,762,823, $107,881,122)",100%
2,3,Napoli,40,"€ 1,495,019 (£ 1,253,586, $1,523,592)","€ 77,741,000 (£ 65,186,483, $79,226,760)",100%
3,4,Inter,34,"€ 1,488,923 (£ 1,248,475, $1,517,379)","€ 77,424,000 (£ 64,920,676, $78,903,702)",100%
4,5,Roma,47,"€ 1,413,231 (£ 1,185,006, $1,440,240)","€ 73,488,000 (£ 61,620,307, $74,892,476)",100%

In [48]:
# 2020 - 2021 Match Stats
table_3 = pd.read_html(url_2021_wages)
serie_a_wages_2021_df = pd.DataFrame(table_3[0])
serie_a_wages_2021_df.head()

,Rk,Squad,# Pl,Weekly Wages,Annual Wages,% Estimated
0,1,Juventus,33,"€ 2,717,212 (£ 2,278,405, $2,769,142)","€ 141,295,000 (£ 118,477,041, $143,995,386)",100%
1,2,Milan,42,"€ 2,035,731 (£ 1,706,977, $2,074,637)","€ 105,858,000 (£ 88,762,823, $107,881,122)",100%
2,3,Napoli,40,"€ 1,495,019 (£ 1,253,586, $1,523,592)","€ 77,741,000 (£ 65,186,483, $79,226,760)",100%
3,4,Inter,34,"€ 1,488,923 (£ 1,248,475, $1,517,379)","€ 77,424,000 (£ 64,920,676, $78,903,702)",100%
4,5,Roma,47,"€ 1,413,231 (£ 1,185,006, $1,440,240)","€ 73,488,000 (£ 61,620,307, $74,892,476)",100%

In [49]:
# 2021 - 2022 Match Stats
table_3 = pd.read_html(url_2122_wages)
serie_a_wages_2122_df = pd.DataFrame(table_3[0])
serie_a_wages_2122_df.head()

,Rk,Squad,# Pl,Weekly Wages,Annual Wages,% Estimated
0,1,Juventus,33,"€ 2,717,212 (£ 2,278,405, $2,769,142)","€ 141,295,000 (£ 118,477,041, $143,995,386)",100%
1,2,Milan,42,"€ 2,035,731 (£ 1,706,977, $2,074,637)","€ 105,858,000 (£ 88,762,823, $107,881,122)",100%
2,3,Napoli,40,"€ 1,495,019 (£ 1,253,586, $1,523,592)","€ 77,741,000 (£ 65,186,483, $79,226,760)",100%
3,4,Inter,34,"€ 1,488,923 (£ 1,248,475, $1,517,379)","€ 77,424,000 (£ 64,920,676, $78,903,702)",100%
4,5,Roma,47,"€ 1,413,231 (£ 1,185,006, $1,440,240)","€ 73,488,000 (£ 61,620,307, $74,892,476)",100%

In [50]:
# combined 5 years wages into 1 data frame
combined_serie_a_df = pd.concat([serie_a_wages_1718_df,serie_a_wages_1819_df, 
                                serie_a_wages_1920_df, serie_a_wages_2021_df, 
                                serie_a_wages_2122_df], axis=0)
combined_serie_a_df.sample(15)

,Rk,Squad,# Pl,Weekly Wages,Annual Wages,% Estimated
14,15,SPAL,42,"€ 379,481 (£ 318,198, $386,733)","€ 19,733,000 (£ 16,546,290, $20,110,131)",100%
13,14,Atalanta,37,"€ 437,731 (£ 367,041, $446,096)","€ 22,762,000 (£ 19,086,131, $23,197,016)",100%
17,18,Udinese,46,"€ 332,615 (£ 278,901, $338,972)","€ 17,296,000 (£ 14,502,844, $17,626,553)",100%
17,18,Udinese,46,"€ 332,615 (£ 278,901, $338,972)","€ 17,296,000 (£ 14,502,844, $17,626,553)",100%
5,6,Lazio,44,"€ 1,122,635 (£ 941,339, $1,144,090)","€ 58,377,000 (£ 48,949,604, $59,492,678)",100%
5,6,Lazio,44,"€ 1,122,635 (£ 941,339, $1,144,090)","€ 58,377,000 (£ 48,949,604, $59,492,678)",100%
7,8,Fiorentina,41,"€ 607,923 (£ 509,749, $619,541)","€ 31,612,000 (£ 26,506,931, $32,216,154)",100%
17,18,Udinese,46,"€ 332,615 (£ 278,901, $338,972)","€ 17,296,000 (£ 14,502,844, $17,626,553)",100%
0,1,Juventus,33,"€ 2,717,212 (£ 2,278,405, $2,769,142)","€ 141,295,000 (£ 118,477,041, $143,995,386)",100%
19,20,Crotone,40,"€ 198,192 (£ 166,186, $201,980)","€ 10,306,000 (£ 8,641,672, $10,502,963)",100%
15,16,Hellas Verona,41,"€ 343,173 (£ 287,754, $349,732)","€ 17,845,000 (£ 14,963,185, $18,186,047)",100%
11,12,Bologna,41,"€ 453,904 (£ 380,602, $462,579)","€ 23,603,000 (£ 19,791,316, $24,054,088)",100%
15,16,Hellas Verona,41,"€ 343,173 (£ 287,754, $349,732)","€ 17,845,000 (£ 14,963,185, $18,186,047)",100%
8,9,Genoa,44,"€ 599,154 (£ 502,396, $610,605)","€ 31,156,000 (£ 26,124,570, $31,751,443)",100%
10,11,Torino,51,"€ 532,154 (£ 446,216, $542,324)","€ 27,672,000 (£ 23,203,209, $28,200,854)",100%