In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import scipy.stats as stats
import seaborn as sns

# Serie A Summary Stats

In [2]:
#url for Summary Stats seasons 2017_2019 to 2021_2022
url_1718_summary = "https://fbref.com/en/comps/11/2017-2018/2017-2018-Serie-A-Stats"
url_1819_summary = "https://fbref.com/en/comps/11/2018-2019/2018-2019-Serie-A-Stats"
url_1920_summary = "https://fbref.com/en/comps/11/2019-2020/2019-2020-Serie-A-Stats"
url_2021_summary = "https://fbref.com/en/comps/11/2020-2021/2020-2021-Serie-A-Stats"
url_2122_summary = "https://fbref.com/en/comps/11/2021-2022/2021-2022-Serie-A-Stats"  

#  Read the url
table_1718 = pd.read_html(url_1718_summary)
table_1819 = pd.read_html(url_1819_summary)
table_1920 = pd.read_html(url_1920_summary)
table_2021 = pd.read_html(url_2021_summary)
table_2122 = pd.read_html(url_2122_summary)


#  Create the DataFrames
serie_a_summary_1718_df = pd.DataFrame(table_1718[0])
serie_a_summary_1819_df = pd.DataFrame(table_1819[0])
serie_a_summary_1920_df = pd.DataFrame(table_1920[0])
serie_a_summary_2021_df = pd.DataFrame(table_2021[0])
serie_a_summary_2122_df = pd.DataFrame(table_2122[0])

In [3]:
# Get Team age (index[2])
#  Read the url
table_1718 = pd.read_html(url_1718_summary)
table_1819 = pd.read_html(url_1819_summary)
table_1920 = pd.read_html(url_1920_summary)
table_2021 = pd.read_html(url_2021_summary)
table_2122 = pd.read_html(url_2122_summary)


#  Create the DataFrames
serie_a_team_age_1718_df = pd.DataFrame(table_1718[2])
serie_a_team_age_1819_df = pd.DataFrame(table_1819[2])
serie_a_team_age_1920_df = pd.DataFrame(table_1920[2])
serie_a_team_age_2021_df = pd.DataFrame(table_2021[2])
serie_a_team_age_2122_df = pd.DataFrame(table_2122[2])

In [4]:
# Remove upper level to allow for merging with other tables
serie_a_team_age_1718_df = serie_a_team_age_1718_df.droplevel(0, axis = 1)
serie_a_team_age_1819_df = serie_a_team_age_1819_df.droplevel(0, axis = 1)
serie_a_team_age_1920_df = serie_a_team_age_1920_df.droplevel(0, axis = 1)
serie_a_team_age_2021_df = serie_a_team_age_2021_df.droplevel(0, axis = 1)
serie_a_team_age_2122_df = serie_a_team_age_2122_df.droplevel(0, axis = 1)

In [5]:
#url for Team Wages seasons 2017_2019 to 2021_2022
url_1718_wages = "https://fbref.com/en/comps/11/2017-2018/wages/2017-2018-Serie-A-Wages"
url_1819_wages = "https://fbref.com/en/comps/11/2018-2019/wages/2018-2019-Serie-A-Wages"
url_1920_wages = "https://fbref.com/en/comps/11/2019-2020/wages/2019-2020-Serie-A-Wages"
url_2021_wages = "https://fbref.com/en/comps/11/2020-2021/wages/2020-2021-Serie-A-Wages"
url_2122_wages = "https://fbref.com/en/comps/11/2021-2022/wages/2021-2022-Serie-A-Wages" 

#  Read the url
table_1718 = pd.read_html(url_1718_wages)
table_1819 = pd.read_html(url_1819_wages)
table_1920 = pd.read_html(url_1920_wages)
table_2021 = pd.read_html(url_2021_wages)
table_2122 = pd.read_html(url_2122_wages)


#  Create the DataFrames
serie_a_wages_1718_df = pd.DataFrame(table_1718[0])
serie_a_wages_1819_df = pd.DataFrame(table_1819[0])
serie_a_wages_1920_df = pd.DataFrame(table_1920[0])
serie_a_wages_2021_df = pd.DataFrame(table_2021[0])
serie_a_wages_2122_df = pd.DataFrame(table_2122[0])

In [6]:
# Merge wages and season summary for each season
serie_a_1718_merged_df = pd.merge(serie_a_summary_1718_df, serie_a_wages_1718_df, how="left", on=['Squad'])
serie_a_1819_merged_df = pd.merge(serie_a_summary_1819_df, serie_a_wages_1819_df, how="left", on=['Squad'])
serie_a_1920_merged_df = pd.merge(serie_a_summary_1920_df, serie_a_wages_1920_df, how="left", on=['Squad'])
serie_a_2021_merged_df = pd.merge(serie_a_summary_2021_df, serie_a_wages_2021_df, how="left", on=['Squad'])
serie_a_2122_merged_df = pd.merge(serie_a_summary_2122_df, serie_a_wages_2122_df, how="left", on=['Squad'])
serie_a_2122_merged_df

,Rk_x,Squad,MP,W,D,L,GF,GA,GD,Pts,...,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes,Rk_y,# Pl,Weekly Wages,Annual Wages,% Estimated
0,1,Milan,38,26,8,4,69,31,38,86,...,0.63,44015,"Olivier Giroud, Rafael Leão - 11",Mike Maignan,→ Champions League via league finish,5,86,"€ 1,684,423 (£ 1,412,403, $1,716,615)","€ 87,590,000 (£ 73,444,949, $89,263,995)",2%
1,2,Inter,38,25,9,4,84,32,52,84,...,1.12,44473,Lautaro Martínez - 21,Samir Handanović,→ Champions League via league finish,2,81,"€ 2,950,769 (£ 2,474,245, $3,007,163)","€ 153,440,000 (£ 128,660,726, $156,372,498)",9%
2,3,Napoli,38,24,7,7,74,31,43,79,...,0.67,28119,Victor Osimhen - 14,David Ospina,→ Champions League via league finish,3,78,"€ 1,989,231 (£ 1,667,987, $2,027,248)","€ 103,440,000 (£ 86,735,304, $105,416,919)",8%
3,4,Juventus,38,20,10,8,57,37,20,70,...,0.35,22621,Paulo Dybala - 10,Wojciech Szczęsny,→ Champions League via league finish,1,76,"€ 3,479,808 (£ 2,917,848, $3,546,313)","€ 180,950,000 (£ 151,728,092, $184,408,264)",0%
4,5,Lazio,38,18,10,10,77,58,19,64,...,0.20,23263,Ciro Immobile - 27,Thomas Strakosha,→ Europa League via league finish,6,90,"€ 1,508,462 (£ 1,264,858, $1,537,291)","€ 78,440,000 (£ 65,772,599, $79,939,123)",4%
5,6,Roma,38,18,9,11,59,43,16,63,...,0.70,41929,Tammy Abraham - 17,Rui Patrício,→ Europa League via league finish,4,93,"€ 1,914,423 (£ 1,605,260, $1,951,011)","€ 99,550,000 (£ 83,473,512, $101,452,572)",11%
6,7,Fiorentina,38,19,5,14,59,51,8,62,...,0.51,21107,Dušan Vlahović - 17,Pietro Terracciano,→ Europa Conference League via league finish,7,85,"€ 1,128,846 (£ 946,547, $1,150,420)","€ 58,700,000 (£ 49,220,441, $59,821,859)",13%
7,8,Atalanta,38,16,11,11,65,48,17,59,...,0.45,10447,Mario Pašalić - 13,Juan Musso,NaN,9,76,"€ 891,346 (£ 747,401, $908,381)","€ 46,350,000 (£ 38,864,860, $47,235,829)",7%
8,9,Hellas Verona,38,14,11,13,65,59,6,53,...,0.04,13894,Giovanni Simeone - 17,Lorenzo Montipò,NaN,19,85,"€ 413,269 (£ 346,530, $421,168)","€ 21,490,000 (£ 18,019,544, $21,900,711)",22%
9,10,Torino,38,13,11,14,46,41,5,50,...,0.26,9846,Andrea Belotti - 8,Vanja Milinković-Savić,NaN,8,88,"€ 1,029,808 (£ 863,502, $1,049,489)","€ 53,550,000 (£ 44,902,122, $54,573,434)",17%
10,11,Sassuolo,38,13,11,14,64,66,-2,50,...,-0.28,8362,Gianluca Scamacca - 16,Andrea Consigli,NaN,15,86,"€ 533,846 (£ 447,634, $544,049)","€ 27,760,000 (£ 23,276,991, $28,290,540)",17%
11,12,Udinese,38,11,14,13,61,58,3,47,...,-0.03,12144,Gerard Deulofeu - 13,Marco Silvestri,NaN,18,86,"€ 430,962 (£ 361,365, $439,198)","€ 22,410,000 (£ 18,790,971, $22,838,290)",38%
12,13,Bologna,38,12,10,16,44,55,-11,46,...,-0.20,14158,Marko Arnautović - 14,Łukasz Skorupski,NaN,14,90,"€ 579,423 (£ 485,851, $590,497)","€ 30,130,000 (£ 25,264,256, $30,705,835)",30%
13,14,Empoli,38,10,11,17,50,70,-20,41,...,-0.56,6356,Andrea Pinamonti - 13,Guglielmo Vicario,NaN,12,87,"€ 710,192 (£ 595,502, $723,765)","€ 36,930,000 (£ 30,966,112, $37,635,795)",16%
14,15,Sampdoria,38,10,6,22,46,63,-17,36,...,-0.51,9417,Francesco Caputo - 11,Emil Audero,NaN,11,86,"€ 721,154 (£ 604,694, $734,936)","€ 37,500,000 (£ 31,444,064, $38,216,686)",14%
15,16,Spezia,38,10,6,22,41,71,-30,36,...,-0.64,6709,Daniele Verde - 8,Ivan Provedel,NaN,20,89,"€ 318,462 (£ 267,033, $324,548)","€ 16,560,000 (£ 13,885,700, $16,876,489)",33%
16,17,Salernitana,38,7,10,21,33,78,-45,31,...,-0.76,15073,Federico Bonazzoli - 10,Vid Belec,NaN,16,102,"€ 443,269 (£ 371,685, $451,741)","€ 23,050,000 (£ 19,327,618, $23,490,524)",48%
17,18,Cagliari,38,6,12,20,34,68,-34,30,...,-0.58,9718,João Pedro - 13,Alessio Cragno,Relegated,13,86,"€ 649,231 (£ 544,385, $661,639)","€ 33,760,000 (£ 28,308,043, $34,405,212)",33%
18,19,Genoa,38,4,16,18,27,60,-33,28,...,-0.44,12326,Mattia Destro - 9,Salvatore Sirigu,Relegated,10,106,"€ 813,462 (£ 682,094, $829,008)","€ 42,300,000 (£ 35,468,904, $43,108,428)",38%
19,20,Venezia,38,6,9,23,34,69,-35,27,...,-0.93,6648,Thomas Henry - 9,Niki Mäenpää,Relegated,17,105,"€ 440,962 (£ 369,750, $449,389)","€ 22,930,000 (£ 19,226,999, $23,368,232)",35%

In [7]:
#  Merge the Age tables for each season
serie_a_1718_complete_df = pd.merge(serie_a_1718_merged_df, serie_a_team_age_1718_df, how="left", on=["Squad"])
serie_a_1819_complete_df = pd.merge(serie_a_1819_merged_df, serie_a_team_age_1819_df, how="left", on=["Squad"])
serie_a_1920_complete_df = pd.merge(serie_a_1920_merged_df, serie_a_team_age_1920_df, how="left", on=["Squad"])
serie_a_2021_complete_df = pd.merge(serie_a_2021_merged_df, serie_a_team_age_2021_df, how="left", on=["Squad"])
serie_a_2122_complete_df = pd.merge(serie_a_2122_merged_df, serie_a_team_age_2122_df, how="left", on=["Squad"])
serie_a_2122_complete_df

,Rk_x,Squad,MP_x,W,D,L,GF,GA,GD,Pts,...,Gls,Ast,G+A,G-PK,G+A-PK,xG_y,xAG,xG+xAG,npxG,npxG+xAG
0,1,Milan,38,26,8,4,69,31,38,86,...,1.74,1.03,2.76,1.61,2.63,1.57,1.13,2.70,1.42,2.55
1,2,Inter,38,25,9,4,84,32,52,84,...,2.18,1.50,3.68,2.00,3.50,2.15,1.51,3.66,1.94,3.45
2,3,Napoli,38,24,7,7,74,31,43,79,...,1.95,1.21,3.16,1.68,2.89,1.52,0.98,2.50,1.23,2.20
3,4,Juventus,38,20,10,8,57,37,20,70,...,1.47,0.97,2.45,1.34,2.32,1.35,0.96,2.31,1.23,2.18
4,5,Lazio,38,18,10,10,77,58,19,64,...,1.95,1.26,3.21,1.76,3.03,1.46,1.02,2.48,1.27,2.29
5,6,Roma,38,18,9,11,59,43,16,63,...,1.53,0.82,2.34,1.34,2.16,1.71,1.22,2.93,1.53,2.75
6,7,Fiorentina,38,19,5,14,59,51,8,62,...,1.55,0.87,2.42,1.32,2.18,1.58,1.03,2.61,1.34,2.37
7,8,Atalanta,38,16,11,11,65,48,17,59,...,1.63,1.26,2.89,1.50,2.76,1.64,1.28,2.92,1.53,2.81
8,9,Hellas Verona,38,14,11,13,65,59,6,53,...,1.66,1.16,2.82,1.47,2.63,1.33,0.90,2.23,1.16,2.06
9,10,Torino,38,13,11,14,46,41,5,50,...,1.13,0.71,1.84,0.97,1.68,1.28,0.96,2.24,1.16,2.12
10,11,Sassuolo,38,13,11,14,64,66,-2,50,...,1.58,1.03,2.61,1.39,2.42,1.46,1.03,2.49,1.32,2.35
11,12,Udinese,38,11,14,13,61,58,3,47,...,1.53,0.95,2.47,1.45,2.39,1.35,0.96,2.31,1.27,2.23
12,13,Bologna,38,12,10,16,44,55,-11,46,...,1.13,0.89,2.03,1.03,1.92,1.18,0.88,2.06,1.08,1.96
13,14,Empoli,38,10,11,17,50,70,-20,41,...,1.24,0.71,1.95,1.05,1.76,1.18,0.76,1.94,1.04,1.80
14,15,Sampdoria,38,10,6,22,46,63,-17,36,...,1.11,0.76,1.87,1.05,1.82,0.97,0.69,1.66,0.88,1.57
15,16,Spezia,38,10,6,22,41,71,-30,36,...,1.00,0.66,1.66,0.92,1.58,1.05,0.73,1.79,0.95,1.69
16,17,Salernitana,38,7,10,21,33,78,-45,31,...,0.84,0.50,1.34,0.74,1.24,0.96,0.65,1.61,0.87,1.52
17,18,Cagliari,38,6,12,20,34,68,-34,30,...,0.89,0.68,1.58,0.82,1.50,1.03,0.78,1.81,0.96,1.74
18,19,Genoa,38,4,16,18,27,60,-33,28,...,0.68,0.50,1.18,0.53,1.03,0.98,0.69,1.67,0.84,1.53
19,20,Venezia,38,6,9,23,34,69,-35,27,...,0.89,0.61,1.50,0.82,1.42,0.96,0.69,1.66,0.85,1.55

In [8]:
# Select desired columns for final summary table
serie_a_1718_sum_complete_df = serie_a_1718_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                         'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]
serie_a_1819_sum_complete_df = serie_a_1819_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                         'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]
serie_a_1920_sum_complete_df = serie_a_1920_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                         'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]
serie_a_2021_sum_complete_df = serie_a_2021_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                         'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]
serie_a_2122_sum_complete_df = serie_a_2122_complete_df[['Rk_y', 'Squad','# Pl_x', 'Age', 'Poss', 'Annual Wages',
                                                         'MP_x', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts','Pts/MP',
                                                         'xG_x', 'xGA', 'xGD', 'xGD/90', 'Attendance']]

In [9]:
# Rename columns
serie_a_1718_sum_complete_df = serie_a_1718_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players', 
                                                                             'MP_x': 'MP', 'xG_x': 'xG'})
serie_a_1819_sum_complete_df = serie_a_1819_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players', 
                                                                             'MP_x': 'MP', 'xG_x': 'xG'})
serie_a_1920_sum_complete_df = serie_a_1920_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players', 
                                                                             'MP_x': 'MP', 'xG_x': 'xG'})
serie_a_2021_sum_complete_df = serie_a_2021_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players', 
                                                                             'MP_x': 'MP', 'xG_x': 'xG'})
serie_a_2122_sum_complete_df = serie_a_2122_sum_complete_df.rename(columns={ 'Rk_y': 'League Rank', 'Age': 'Avg Age', 
                                                                             'Poss': 'Avg Poss', '# Pl_x': '# of Players', 
                                                                             'MP_x': 'MP', 'xG_x': 'xG'})

In [10]:
# Convert 'Annual Wages' column into single column with only dollar value
serie_a_1718_sum_complete_df[['pounds', 'dollars']] = serie_a_1718_sum_complete_df['Annual Wages'].str.split('$', expand=True)
serie_a_1819_sum_complete_df[['pounds', 'dollars']] = serie_a_1819_sum_complete_df['Annual Wages'].str.split('$', expand=True)
serie_a_1920_sum_complete_df[['pounds', 'dollars']] = serie_a_1920_sum_complete_df['Annual Wages'].str.split('$', expand=True)
serie_a_2021_sum_complete_df[['pounds', 'dollars']] = serie_a_2021_sum_complete_df['Annual Wages'].str.split('$', expand=True)
serie_a_2122_sum_complete_df[['pounds', 'dollars']] = serie_a_2122_sum_complete_df['Annual Wages'].str.split('$', expand=True)

In [11]:
# Convert 'Annual Wages' column into single column with only dollar value

serie_a_1718_sum_complete_df[['Annual Wages ($)', 'discard']] = serie_a_1718_sum_complete_df['dollars'].str.split(')', expand=True)
serie_a_1819_sum_complete_df[['Annual Wages ($)', 'discard']] = serie_a_1819_sum_complete_df['dollars'].str.split(')', expand=True)
serie_a_1920_sum_complete_df[['Annual Wages ($)', 'discard']] = serie_a_1920_sum_complete_df['dollars'].str.split(')', expand=True)
serie_a_2021_sum_complete_df[['Annual Wages ($)', 'discard']] = serie_a_2021_sum_complete_df['dollars'].str.split(')', expand=True)
serie_a_2122_sum_complete_df[['Annual Wages ($)', 'discard']] = serie_a_2122_sum_complete_df['dollars'].str.split(')', expand=True)

In [12]:
# Drop unwanted columns 
serie_a_1718_sum_cleaned_df = serie_a_1718_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
serie_a_1819_sum_cleaned_df = serie_a_1819_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
serie_a_1920_sum_cleaned_df = serie_a_1920_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
serie_a_2021_sum_cleaned_df = serie_a_2021_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)
serie_a_2122_sum_cleaned_df = serie_a_2122_sum_complete_df.drop(['pounds', 'dollars', 'Annual Wages', 'discard'], axis=1)

In [13]:
# Sort by league position
serie_a_1718_sum_clean_sorted_df = serie_a_1718_sum_cleaned_df.sort_values('Pts', ascending=False)
serie_a_1819_sum_clean_sorted_df = serie_a_1819_sum_cleaned_df.sort_values('Pts', ascending=False)
serie_a_1920_sum_clean_sorted_df = serie_a_1920_sum_cleaned_df.sort_values('Pts', ascending=False)
serie_a_2021_sum_clean_sorted_df = serie_a_2021_sum_cleaned_df.sort_values('Pts', ascending=False)
serie_a_2122_sum_clean_sorted_df = serie_a_2122_sum_cleaned_df.sort_values('Pts', ascending=False)

In [14]:
serie_a_1718_sum_clean_sorted_df['Season'] = '2017-2018'
serie_a_1819_sum_clean_sorted_df['Season'] = '2018-2019'
serie_a_1920_sum_clean_sorted_df['Season'] = '2019-2020'
serie_a_2021_sum_clean_sorted_df['Season'] = '2020-2021'
serie_a_2122_sum_clean_sorted_df['Season'] = '2021-2022'

In [15]:
# Create a single DataFrame for Seasons Summary
serie_a_seasons_sum_df = pd.concat([serie_a_1718_sum_clean_sorted_df, serie_a_1819_sum_clean_sorted_df,
                                    serie_a_1920_sum_clean_sorted_df,serie_a_2021_sum_clean_sorted_df,
                                    serie_a_2122_sum_clean_sorted_df])

In [16]:
#  Rearrange Columns and reset index
serie_a_seasons_sum_df = serie_a_seasons_sum_df[['Season', 'League Rank', 'Squad', '# of Players', 'Avg Age', 
                                                 'Avg Poss', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'GD', 'Pts', 'Pts/MP',
                                                 'xG', 'xGA', 'xGD', 'xGD/90', 'Attendance', 'Annual Wages ($)']]

serie_a_seasons_sum_df['Annual Wages ($)'] = serie_a_seasons_sum_df['Annual Wages ($)'].map(lambda x: x.replace(',', ''))

serie_a_seasons_sum_df['Annual Wages ($)']=serie_a_seasons_sum_df['Annual Wages ($)'].astype(float)
serie_a_seasons_sum_df["League"] = "Serie A"
serie_a_seasons_sum_df = serie_a_seasons_sum_df.reset_index()
serie_a_seasons_sum_df.groupby('Season')["Annual Wages ($)"].mean()

Season
2017-2018    43633366.30
2018-2019    62537378.30
2019-2020    63229257.75
2020-2021    64384930.10
2021-2022    59966061.75
Name: Annual Wages ($), dtype: float64

# Serie A Match Stats

In [17]:
#url for Match Stats seasons 2017_2019 to 2021_2022
url_1718_matches = "https://fbref.com/en/comps/11/2017-2018/schedule/2017-2018-Serie-A-Scores-and-Fixtures"
url_1819_matches = "https://fbref.com/en/comps/11/2018-2019/schedule/2018-2019-Serie-A-Scores-and-Fixtures"
url_1920_matches = "https://fbref.com/en/comps/11/2019-2020/schedule/2019-2020-Serie-A-Scores-and-Fixtures"
url_2021_matches = "https://fbref.com/en/comps/11/2020-2021/schedule/2020-2021-Serie-A-Scores-and-Fixtures"
url_2122_matches = "https://fbref.com/en/comps/11/2021-2022/schedule/2021-2022-Serie-A-Scores-and-Fixtures"

In [18]:
# Read url
matches_1718 = pd.read_html(url_1718_matches)
matches_1819 = pd.read_html(url_1819_matches)
matches_1920 = pd.read_html(url_1920_matches)
matches_2021 = pd.read_html(url_2021_matches)
matches_2122 = pd.read_html(url_2122_matches)

In [19]:
# Match Seasions 2017-2018 to 2021-2022 season

serie_a_matches_1718_df = pd.DataFrame(matches_1718[0])
serie_a_matches_1819_df = pd.DataFrame(matches_1819[0])
serie_a_matches_1920_df = pd.DataFrame(matches_1920[0])
serie_a_matches_2021_df = pd.DataFrame(matches_2021[0])
serie_a_matches_2122_df = pd.DataFrame(matches_2122[0])

In [20]:
#  Drop the empty rows
serie_a_matches_1718_df = serie_a_matches_1718_df.dropna(how="all")
serie_a_matches_1819_df = serie_a_matches_1819_df.dropna(how="all")
serie_a_matches_1920_df = serie_a_matches_1920_df.dropna(how="all")
serie_a_matches_2021_df = serie_a_matches_2021_df.dropna(how="all")
serie_a_matches_2122_df = serie_a_matches_2122_df.dropna(how="all")

In [21]:
#  Drop Match Reports and Notes column
serie_a_matches_1718_df = serie_a_matches_1718_df.drop(["Match Report", "Notes"], axis=1)
serie_a_matches_1819_df = serie_a_matches_1819_df.drop(["Match Report", "Notes"], axis=1)
serie_a_matches_1920_df = serie_a_matches_1920_df.drop(["Match Report", "Notes"], axis=1)
serie_a_matches_2021_df = serie_a_matches_2021_df.drop(["Match Report", "Notes"], axis=1)
serie_a_matches_2122_df = serie_a_matches_2122_df.drop(["Match Report", "Notes"], axis=1)

In [22]:
# Add the seasons to the dataframe
serie_a_matches_1718_df["Season"] = "2017-2018"
serie_a_matches_1819_df["Season"] = "2018-2019"
serie_a_matches_1920_df["Season"] = "2019-2020"
serie_a_matches_2021_df["Season"] = "2020-2021"
serie_a_matches_2122_df["Season"] = "2021-2022"

In [23]:
serie_a_all_seasons_matches_df = pd.concat([serie_a_matches_1718_df,serie_a_matches_1819_df,
                                        serie_a_matches_1920_df, serie_a_matches_2021_df,
                                        serie_a_matches_2122_df], axis=0)

In [24]:
# Split the Score into Home Score and Away Score
serie_a_all_seasons_matches_df[['Home Score','Away Score']] = serie_a_all_seasons_matches_df['Score'].str.split('–', expand=True)

In [25]:
#  Sort columns 

serie_a_all_seasons_matches_df = serie_a_all_seasons_matches_df[['Season', 'Wk', 'Date','Time', 'Home', 'Away',
                                                               'Home Score', 'Away Score', 'xG', 'xG.1', 
                                                               'Attendance', 'Venue', 'Referee']]

In [26]:
# Rename xG and xG.1 columns

serie_a_all_seasons_matches_df = serie_a_all_seasons_matches_df.rename(columns={ 'xG': 'xG Home', 'xG.1': 'xG Away'})

In [27]:
#  Covert Columns to floats and add column for 

serie_a_all_seasons_matches_df["xG Diff"] = serie_a_all_seasons_matches_df['xG Home'].astype(float) - serie_a_all_seasons_matches_df['xG Away'].astype(float)
serie_a_all_seasons_matches_df["Actual Diff"] = serie_a_all_seasons_matches_df['Home Score'].astype(float) - serie_a_all_seasons_matches_df['Away Score'].astype(float)
serie_a_all_seasons_matches_df["League"] = "Serie A"
serie_a_all_seasons_matches_df.head()

,Season,Wk,Date,Time,Home,Away,Home Score,Away Score,xG Home,xG Away,Attendance,Venue,Referee,xG Diff,Actual Diff,League
0,2017-2018,1.0,2017-08-19,18:00,Juventus,Cagliari,3,0,1.1,1.4,39226.0,Allianz Stadium,Fabio Maresca,-0.3,3.0,Serie A
1,2017-2018,1.0,2017-08-19,20:45,Hellas Verona,Napoli,1,3,1.3,2.1,15215.0,Stadio Marc'Antonio Bentegodi,Michael Fabbri,-0.8,-2.0,Serie A
2,2017-2018,1.0,2017-08-20,18:00,Atalanta,Roma,0,1,1.5,0.4,19108.0,Stadio Atleti Azzurri d'Italia,Piero Giacomelli,1.1,-1.0,Serie A
3,2017-2018,1.0,2017-08-20,20:45,Udinese,Chievo,1,2,0.8,0.5,13000.0,Dacia Arena,Claudio Gavillucci,0.3,-1.0,Serie A
4,2017-2018,1.0,2017-08-20,20:45,Inter,Fiorentina,3,0,2.3,0.6,51752.0,Stadio Giuseppe Meazza,Paolo Tagliavento,1.7,3.0,Serie A

In [28]:
# Final DataFrames Serie A
# Final Seasons Summary DataFrame 5 Seasons 2017-2018 to 2021-2022
serie_a_seasons_sum_df.sample(10)
# Final Match DataFrame 5 Seasons 2017-2018 to 2021-2022
serie_a_all_seasons_matches_df.sample(10)

,Season,Wk,Date,Time,Home,Away,Home Score,Away Score,xG Home,xG Away,Attendance,Venue,Referee,xG Diff,Actual Diff,League
152,2020-2021,14.0,2020-12-23,20:45,Milan,Lazio,3,2,1.6,1.6,NaN,Stadio Giuseppe Meazza,Marco Di Bello,0.0,1.0,Serie A
98,2017-2018,10.0,2017-10-24,20:45,Inter,Sampdoria,3,2,2.6,0.9,54451.0,Stadio Giuseppe Meazza,Marco Guida,1.7,1.0,Serie A
30,2020-2021,3.0,2020-10-04,18:00,Milan,Spezia,3,0,2.6,0.2,1000.0,Stadio Giuseppe Meazza,Marco Serra,2.4,3.0,Serie A
312,2020-2021,29.0,2021-04-03,15:00,Atalanta,Udinese,3,2,2.5,0.8,NaN,Stadio Atleti Azzurri d'Italia,Gianluca Manganiello,1.7,1.0,Serie A
189,2019-2020,18.0,2020-01-05,15:00,SPAL,Hellas Verona,0,2,1.7,2.1,14078.0,Stadio Paolo Mazza,Marco Guida,-0.4,-2.0,Serie A
72,2020-2021,7.0,2020-11-08,15:00,Torino,Crotone,0,0,0.2,0.3,NaN,Stadio Olimpico di Torino,Francesco Fourneau,-0.1,0.0,Serie A
295,2019-2020,27.0,2020-06-23,21:45,Genoa,Parma,1,4,2.1,2.0,NaN,Stadio Comunale Luigi Ferraris,Piero Giacomelli,0.1,-3.0,Serie A
79,2020-2021,8.0,2020-11-21,18:00,Spezia,Atalanta,0,0,0.4,2.1,NaN,Stadio Dino Manuzzi,Antonio Rapuano,-1.7,0.0,Serie A
194,2021-2022,18.0,2021-12-19,18:00,Sampdoria,Venezia,1,1,1.5,1.0,5735.0,Stadio Comunale Luigi Ferraris,Rosario Abisso,0.5,0.0,Serie A
216,2020-2021,20.0,2021-01-31,15:00,Cagliari,Sassuolo,1,1,0.8,1.9,NaN,Sardegna Arena,Maurizio Mariani,-1.1,0.0,Serie A

In [29]:
# Export cleaned data to csv files
serie_a_seasons_sum_df.to_csv('data/serie_a_seasons_sum.csv', encoding= 'utf-8')
serie_a_all_seasons_matches_df.to_csv('data/serie_a_all_seasons_matches.csv', encoding= 'utf-8')